<div class="ast"
     (dragenter)="onDragEnter($event)">
  <!-- Ensuring there is a selected resource -->
  <ng-container *ngIf="(currentResource | async); let currentResource;">
    <ng-container *ngIf="(currentResource.syntaxTree | async); let currentTree;">
      <div class="content">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Syntaxbaum-Editor ({{ currentResource.name }})</h4>
            <p class="card-text">
              Dieser Editor erlaubt die Bearbeitung der grundlegendsten Strukturen und sollte nur von erfahrenen Benutzern verwendet werden.
            </p>
          </div>

          <div class="card-body">
            <ng-container *ngIf="currentTree.isEmpty; else treeExists;">
              Noch ist kein Code da ...
              <ast-node-placeholder [location]="[]"
                                    [alwaysVisible]="true">
                Freier Platz
              </ast-node-placeholder>
            </ng-container>
            <ng-template #treeExists>
              <ast-node [node]="currentTree.rootNode"></ast-node>
            </ng-template>
          </div>
        </div>

        <div class="alert alert-info">
          <h6>
            <span class="fa fa-bug"></span> Drag&Drop
          </h6>

          <code>Node: {{ (dragService.currentDrag | async)?.hoverNode.location | json }}</code>
          <code>Placeholder: {{ (dragService.currentDrag | async)?.hoverPlaceholder | json }}</code>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Validierung</h4>
            <ast-validation [codeResource]="currentResource">
            </ast-validation>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Kompilierung</h4>
            <ast-code-generator [codeResource]="currentResource">
            </ast-code-generator>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Datenmodell</h4>
            <pre *ngIf="!currentTree.isEmpty"
                 [innerText]="currentTree.toModel() | json"></pre>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
