<div *ngIf="query.from"
     class="block from">
  <div class="line">
    <div class="component">FROM</div>
    <div>
      <span (dragstart)="onJoinDragStart(query.from.first, $event)"
            (dragover)="onAllowedDrag($event)"
            (drop)="onTableDrop($event, 0)"
            class="table"
            draggable="true">
        <span class="fa fa-table fa-fw"></span>
        {{ query.from.first.tableName }} {{ query.from.first.alias }}
      </span>
    </div>
  </div>
  <div *ngFor="let join of query.from.joins; let joinIndex = index;"
       (dragstart)="onJoinDragStart(join, $event)"
       class="line"
       draggable="true">
    <div class="component indent">{{ join.sqlJoinKeyword }}</div>
    <div class="columns">
      <span class="table"
            (dragover)="onAllowedDrag($event)"
            (drop)="onTableDrop($event, joinIndex + 1)"><span class="fa fa-table fa-fw"></span>
        {{ join.tableName }} {{ join.alias }}
      </span>
    </div>
  </div>

  <div *ngIf="showBlueprintJoinDropTarget"
       class="line">
    <div class="component indent">JOIN</div>
    <div (dragover)="onAllowedDrag($event)"
         (drop)="onBlueprintJoinDrop($event)"
         class="columns">
      <span class="table blueprint">
        <span class="fa fa-plus"></span>
      </span>
    </div>
  </div>
</div>
