<span (dragenter)="onAllowedDrag($event)"
      (dragover)="onAllowedDrag($event)"
      (dragleave)="onAllowedDragLeave($event)"
      [ngSwitch]="expr.templateIdentifier">
  <ng-template ngSwitchCase="missing">
    <span (drop)="onMissingDrop($event)"
          class="missing"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }"><span class="fa fa-question-circle"></span></span>
  </ng-template>
  <ng-template ngSwitchCase="star">
    <span (drop)="onStarDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="column"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }"><span class="fa fa-fw fa-star"></span></span>
  </ng-template>
  <ng-template ngSwitchCase="constant">
    <span (drop)="onConstantDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="constant"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }">{{ expr.toSqlString() }}</span>
  </ng-template>
  <ng-template ngSwitchCase="column">
    <span (drop)="onColumnDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="column"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }">{{ asColumnExpression(expr).getName(prefixTable) }}</span>
  </ng-template>
  <ng-template ngSwitchCase="parameter">
    <span (drop)="onParameterDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="parameter"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }">
      <span class="fa fa-sign-in"></span>
      {{ asParameterExpression(expr).key }}
    </span>
  </ng-template>
  <ng-template ngSwitchCase="binary">
    <span (drop)="onBinaryDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="expression"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }">
      <sql-expr [expr]="asBinaryExpression(expr).lhs"
                [query]="query">
      </sql-expr>
      <span (click)="onOperatorClick()"
            [innerHtml]="asBinaryExpression(expr).operator | operator"
            class="operator"></span>
      <sql-expr [expr]="asBinaryExpression(expr).rhs"
                [query]="query">
      </sql-expr>
    </span>
  </ng-template>
  <ng-template ngSwitchDefault>
    Error: Unknown expression type identifier "{{expr.templateIdentifier}}"
  </ng-template>
</span>
