<ng-template cdkPortal #toolbarButtons>
  <button (click)="onSave()" mat-button>
    <span class="fa fa-floppy-o" aria-hidden="t"></span>
    Speichern
  </button>
  <button (click)="onRegenerateForeignTypes()" mat-button>
    <span class="fa fa-refresh" aria-hidden="t"></span>
    Geerbte Typen neu laden
  </button>
  <button (click)="onDelete()" mat-button class="btn btn-outline-danger btn-sm">
    <span class="fa fa-trash-o" aria-hidden="true"></span>
    Löschen
  </button>
  <a routerLink="gallery" mat-button>
    <span class="fa fa-file-code-o" aria-hidden="true"></span>
    Code-Gallery
  </a>
</ng-template>

<form *ngIf="grammar">
  <h2>
    Grammatik
    <q>{{ grammar.name }}</q>
  </h2>

  <!-- Editable user defined name of the grammar -->
  <div class="form-group row">
    <label for="grammar-name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input
        id="grammar-name"
        class="form-control"
        name="name"
        [(ngModel)]="grammar.name"
      />
    </div>
  </div>

  <div class="form-group row">
    <div for="grammar-programming-language" class="col-sm-2 col-form-label">
      Programmiersprache
    </div>
    <div class="col-sm-10">
      <programming-language-select
        [(selectedId)]="grammar.programmingLanguageId"
      ></programming-language-select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 col-form-label">Meta Code Ressource</div>
    <div class="col-sm-10">
      <meta-code-resource-select
        [(selectedCodeResourceId)]="grammar.generatedFromId"
      ></meta-code-resource-select>
    </div>
  </div>

  <!-- Related block languages -->
  <div class="form-group row">
    <div class="col-sm-2">Related Block Languages</div>
    <div class="col-sm-10">
      <ul class="list-inline">
        <li
          *ngFor="let related of relatedBlockLanguages"
          class="list-inline-item"
        >
          <a
            [routerLink]="['/admin/block-language', related.id]"
            class="badge badge-light"
          >
            {{ related.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- The type that should be trated as the root -->
  <div class="form-group row">
    <label for="grammar-root" class="col-sm-2 col-form-label">Wurzel</label>
    <div class="col-sm-10">
      <select
        id="grammar-root"
        class="custom-select"
        required
        name="grammar-root"
        [(ngModel)]="grammar.root"
      >
        <option [ngValue]="undefined">-- Wurzeltyp wählen --</option>
        <option *ngFor="let type of availableTypes;" [ngValue]="type">
          {{ type.languageName }}.{{ type.typeName }}
        </option>
      </select>
    </div>
  </div>

  <!-- All grammars that are included -->
  <div class="form-group row">
    <label for="grammar-root" class="col-sm-2 col-form-label">
      Referenzierte Grammatiken
    </label>
    <div class="col-sm-10 col-form-label">
      <ul
        *ngIf="(grammarReferences$ | async).length > 0 else noGrammarReferences"
        class="list-inline"
      >
        <li
          *ngFor="let ref of grammarReferences$ | async"
          class="list-inline-item"
        >
          <link-grammar [grammarId]="ref.grammarId"></link-grammar>
        </li>
      </ul>
      <ng-template #noGrammarReferences>Keine</ng-template>
    </div>
  </div>

  <!-- Showing model and pretty printed representation side by side -->
  <div class="row">
    <!-- Editable types -->
    <div class="col-xl-6">
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="grammar-model" class="col-form-label">Types</label>
        </div>
        <div class="col-sm-10">
          <json-editor
            [(jsonValue)]="grammarTypes"
            class="full-height"
          ></json-editor>
        </div>
      </div>
    </div>

    <!-- Pretty printed grammar (not editable) -->
    <div class="col-xl-6">
      <div class="form-group row">
        <label for="grammar-pretty" class="col-form-label col-sm-2">
          Pretty Printed
        </label>
        <div class="col-sm-10">
          <textarea
            id="grammar-pretty"
            readonly
            class="form-control full-height"
            rows="20"
            [textContent]="prettyPrintedGrammar"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
