<app-table-paginator-graphql [queryData]="queryData" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let grammar">
      <a [routerLink]="[grammar.id]">{{ typed(grammar).name }}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="slug">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Slug</th>
    <td mat-cell *matCellDef="let grammar">
      <code>{{ typed(grammar).slug | defaultValue }}</code>
    </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let grammar">
      <code>{{ typed(grammar).id }}</code>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Aktionen</th>
    <td mat-cell *matCellDef="let grammar">
      <button
        (click)="onDeleteGrammar(grammar.id)"
        data-spec="delete"
        type="button"
        class="btn btn-outline-danger btn-sm"
      >
        <span class="fa fa-trash-o" aria-hidden="true"></span>
      </button>
    </td>
  </ng-container>
</app-table-paginator-graphql>
<create-grammar></create-grammar>
