<div (click)="startEditing()"
     class="widget-preview">
  <h5>
    Abfrage:
    <span (dragover)="onDragOver($event)"
          (drop)="onDrop($event)"
          class="block-container block">
      <span [class.error]="!hasValidReference"
            class="table">
        <span *ngIf="!hasValidReference"
              class="fa fa-exclamation-triangle"
              aria-hidden="true"></span>
        <query-icon *ngIf="hasValidReference"
                    [query]="queryReference.query">
        </query-icon>
      </span>
    </span>
  </h5>
  <!-- If the query reference itself is valid, display column selection -->
  <template [ngIf]="hasValidReference">
    <!-- Are there columns to display? -->
    <table *ngIf="hasColumnReferences">
      <tr>
        <td *ngFor="let column of columns; trackBy: trackByColumn; let colIndex = index;"
            class="block-container block">
          <span (dragover)="onDragOver($event, colIndex)"
                (drop)="onDrop($event, colIndex)"
                (dragstart)="startColumnRefDrag($event, column)"
                draggable="true"
                class="column">
            {{ column.shortName }}
          </span>
        </td>
      </tr>
    </table>
    <!-- Does the user need a hint how to display columns? -->
    <div *ngIf="!hasColumnReferences"
         class="warning"
         role="alert">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <strong>Keine Tabellenspalten definiert!</strong> Damit diese Tabelle angezeigt wird, kannst du Spalten der genutzten Abfrage in der gewünschten Reihenfolge hierher ziehen.
    </div>
  </template>
</div>
