<app-table-paginator-graphql [queryData]="queryData" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let project">
      <code>{{ typed(project).id }}</code>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let project">
      <a [routerLink]="['/', 'editor', project | urlFriendlyId]">
        {{ typed(project).name | currentLanguage }}
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="slug">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Slug</th>
    <td mat-cell *matCellDef="let project">
      <code>{{ typed(project).slug }}</code>
    </td>
  </ng-container>
  <ng-container matColumnDef="totalCount">
    <th mat-header-cell *matHeaderCellDef>#Code Ressourcen</th>
    <td mat-cell *matCellDef="let project">
      <code>{{ typed(project).codeResourceCount }}</code>
    </td>
  </ng-container>
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>Benutzer</th>
    <td mat-cell *matCellDef="let project">
      <code>{{ typed(project).user.displayName }}</code>
    </td>
  </ng-container>
</app-table-paginator-graphql>
