<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
  </head>
  <body>
    <div class="container-fluid">
      <form>
        <div class="row">
          <div class="col-md-12">
            <h1>Eine Abenteuergeschichte</h1>
            <p>In dieser Geschichte spielst du die Hauptrolle. Entscheide von Kapitel zu Kapitel wie es weitergehen soll. Wenn du stirbst, musst du halt von vorne anfangen. Alles klar?</p>
            <a href="/Kapitel?nummer=1">Zum Anfang der Geschichte</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>

