<table>
  <tr *ngIf="currentInput$ | async as currentInput">
    <td>
      {{ currentInput.rootExpression.left | nerdamer }}
    </td>
    <td>=</td>
    <td>
      {{ currentInput.rootExpression.right | nerdamer }}
    </td>
    <td class="operation"></td>
  </tr>
  <tr *ngFor="let step of (currentResult$ | async)?.steps">
    <td>
      {{ step.newExpression.left | nerdamer }}
    </td>
    <td>=</td>
    <td>
      {{ step.newExpression.right | nerdamer }}
    </td>
    <td class="operation">
      | {{ step.transform.operation }}{{ step.transform.expression }}
    </td>
  </tr>
</table>
<!--
     Useful for debugging
     <pre>{{ currentInput$ | async | json }}</pre>
-->
