<!DOCTYPE html>
<html>
<head>
<title>{{ page.name }} - {{ project.name }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet" href="/vendor/css/bootstrap.css">
<link rel="stylesheet" href="/vendor/css/esqulino-ribbon.css">
</head>

<body>
<div class="container-fluid">
{% include "image" src: "8562e3a5-5341-4762-bd67-95ad8d3c620b", alt: "", type: "icon" %}
{% include "image" src: "31b5b849-7f14-4bfd-8d96-f348b6fa57f6", alt: "", type: "icon" %}
{% include "image" src: "8562e3a5-5341-4762-bd67-95ad8d3c620b", alt: "", type: "icon" %}
{% include "image" src: "8ced549e-ea0c-4d59-9169-58b0bda46537", alt: "", type: "icon" %}
{% include "image" src: "873a6d06-0908-4949-af36-46d9b5f928aa", alt: "", type: "icon" %}
{% include "image" src: "2b8b9b7e-7fc2-4864-8e2d-fba1c57e1449", alt: "", type: "icon" %}
{% include "image" src: "a6e6d6d1-7d58-4543-aa20-7fa434f32a45", alt: "", type: "icon" %}
</div>
{% include "image-sources" %}
{% include "edit-ribbon" %}
</body>


</html>

