<div class="jumbotron">
  <div class="container">
    <h1>Willkommen bei
      <img src="/vendor/logos/blattwerkzeug-logo.svg"
           title="BlattWerkzeug"><img src="/vendor/logos/blattwerkzeug-caption.svg"
                                      title="BlattWerkzeug">
    </h1>
    <p>Eine einsteigerfreundliche Entwicklungsumgebung für den Umgang mit SQL und Webprogrammierung.</p>
    <p>
      <a [routerLink]="['/about', 'projects']"
         class="btn btn-primary btn-lg"
         id="about-examples"
         role="button">
        &raquo; Das kann man damit machen
      </a>

      <a [routerLink]="['/about', 'create']"
         class="btn btn-primary btn-lg"
         id="about-examples"
         role="button">
        &raquo; Neues Projekt anlegen
      </a>
    </p>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-block">
      <h2 class="card-title">Für Schüler</h2>
      <p class="card-text about-text">
        Du wolltest schon immer mal deine eigene Blog&shy;software entwickeln? Oder deine stärksten Pokémon präsentieren? Interaktive Abenteuer&shy;geschichten schreiben? (Fast) egal worum es geht, mit BlattWerkzeug kannst du deine eigenen Webseiten programmieren und sie deinen Freunden zeigen.
      </p>
    </div>
    <div class="card-footer">
      <a [routerLink]="['/about', 'pupil']"
         class="btn btn-block btn-secondary"
         id="about-pupils"
         role="button">
        <span class="fa fa-play" aria-hidden="true"></span>
        So legst du los
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h2 class="card-title">Für Lehrkräfte</h2>
      <p class="card-text about-text">
        Konventionelle Ent&shy;wick&shy;lungs&shy;um&shy;ge&shy;bun&shy;gen sind Programme von Profis für Profis und bieten einen dementsprechend ausgerichteten Funktionsumfang. BlattWerkzeug hingegen passt sich an den Lernfortschritt der Klassengemeinschaft an!
      </p>
    </div>
    <div class="card-footer">
      <a [routerLink]="['/about', 'teacher']"
         class="btn btn-block btn-secondary"
         id="about-teachers"
         role="button">
        <span class="fa fa-cogs" aria-hidden="true"></span>
        Konzept &amp;
        <span class="fa fa-film" aria-hidden="true"></span>
        Demo-Videos
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h2 class="card-title">Für Entwickler</h2>
      <p class="card-text about-text">
        Leider gibt es viel zu wenig Lern&shy;software für den Einstieg in die Web&shy;entwicklung. Wenn du dabei helfen möchtest, Kinder und Jugendliche für SQL und HTML zu begeistern, bist du herzlich dazu eingeladen zum quelloffenen BlattWerkzeug Projekt beizutragen.
      </p>
    </div>
    <div class="card-footer">
      <a class="btn btn-block btn-secondary"
         id="about-developers"
         href="https://bitbucket.org/marcusriemer/esqulino"
         role="button">
        <span class="fa fa-code-fork" aria-hidden="true"></span>
        BlattWerkzeug Git-Repository
      </a>
    </div>
  </div>
</div>

