<h1>Abschlussarbeiten</h1>

<p>
  Diese Seite bündelt die wissenschaftlichen Arbeiten, die im Rahmen dieses Projektes entstanden sind. Am Anfang stand dabei die Master-Thesis von <a href="http://www.fh-wedel.de/mitarbeiter/mri/esqulino">Marcus Riemer (Fachhochschule Wedel)</a> unter der Betreuung von <a href="http://www-ps.informatik.uni-kiel.de/~fhu/">Dr. Frank Huch (CAU Kiel)</a>. Darüber hinaus haben Studierende beider Hochschulen ihre Abschlussarbeiten im Kontext dieses Projektes entwickelt.
</p>

<div *ngFor="let thesis of theses | async"
     class="card thesis">
  <div class="card-body">
    <img class="institution-logo" src="{{ thesis.institutionLogo }}">
    <h2 class="card-title">{{ thesis.title }}</h2>
    <h3 class="card-subtitle mb-2 text-muted">{{ thesis.subtitle }}</h3>
    Eingereicht von {{ thesis.author.name }} am {{ thesis.date | date: 'd. MMMM y' }}.
  </div>
  <div class="card-body">
    <h4>Abstrakt</h4>
    <blockquote [innerHTML]="thesis.abstract"></blockquote>
    <a class="btn btn-block btn-secondary"
       id="about-developers"
       href="{{ thesis.url }}"
       role="button">
      <span class="fa fa-download" aria-hidden="true"></span>
      Download der Thesis
    </a>
  </div>
</div>
