<div class="card mb-3">
  <form [formGroup]="creationInput" class="card-body">
    <div class="form-group">
      <label for="projectName">Name des Projekts</label>
      <input
          id="projectName"
          class="form-control"
          type="text"
          formControlName="projectName"
      />
    </div>

    <div class="form-group">
      <label for="languageName">
        Name der Programmiersprache
      </label>
      <input
          id="languageName"
          class="form-control"
          type="text"
          formControlName="languageName"
      />
    </div>

    <div class="form-group">
      <label for="description">
        Beschreibung
      </label>
      <textarea
          id="description"
          class="form-control"
          formControlName="description"
      ></textarea>
    </div>

    <button
        (click)="submit()"
        type="submit"
        class="btn btn-primary btn-lg btn-block"
    >
      Projekt Anlegen!
    </button>
  </form>
</div>