<div class="container front">
  <nav id="toolbar">
    <a [routerLink]="'/'"
       id="navbar-navigate-home"
       class="brand">
      <img src="/vendor/logos/blattwerkzeug-logo.svg"
           class="d-inline-block align-top"
           height="30px"
           title="BlattWerkzeug">
      <img src="/vendor/logos/blattwerkzeug-caption.svg"
           class="hidden-sm-down"
           height="30px"
           title="BlattWerkzeug">
    </a>

    <a [routerLink]="['/about','projects']"
       id="navbar-navigate-projects"
       class="nav-link">
      Verfügbare Projekte
    </a>
  </nav>

  <flash-message-list></flash-message-list>
  <router-outlet></router-outlet>
  <nav class="footer">
    <div>
      <a [routerLink]="['/about','imprint']">
        Impressum
      </a>
      <a [routerLink]="['/about','privacy']">
        Datenschutz
      </a>
      <a [routerLink]="['/about','academia']">
        Forschung
      </a>
    </div>
    <div class="logos">
      <a href="http://www.fh-wedel.de/mitarbeiter/mri/sql-web-ide"><img src="/vendor/logos/fhw.png" title="Fachhochschule Wedel - Marcus Riemer" height="35px" /></a>
      <a href="http://www-ps.informatik.uni-kiel.de/~fhu/"><img src="/vendor/logos/cau.png" title="Christian-Albrechts-Universität Kiel- Frank Huch" height="35px" /></a>
    </div>
  </nav>
</div>
