<app-toolbar>
  <ng-container position="start">
    <a mat-raised-button [routerLink]="'/about'">
      <img src="/vendor/logos/blattwerkzeug-logo.svg"
           height="20px"
           title="BlattWerkzeug">
      <img src="/vendor/logos/blattwerkzeug-caption.svg"
           height="20px"
           title="BlattWerkzeug">
    </a>
    <a mat-flat-button [routerLink]="'/about/projects'">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      Verfügbare Projekte
    </a>
  </ng-container>

  <ng-container position="end">
    <a mat-flat-button [routerLink]="['/about','academia']">
      <span class="fa fa-flask" aria-hidden="true"></span>
      Forschung
    </a>
  </ng-container>
</app-toolbar>

<div class="container front">
  <flash-message-list></flash-message-list>
  <router-outlet></router-outlet>
  <nav class="footer">
    <div>
      <a [routerLink]="['/about','imprint']">
        Impressum
      </a>
      <a [routerLink]="['/about','privacy']">
        Datenschutz
      </a>
      <a [routerLink]="['/about','academia']">
        Forschung
      </a>
    </div>
    <div class="logos">
      <a href="http://www.fh-wedel.de/mitarbeiter/mri/sql-web-ide"><img src="/vendor/logos/fhw.png" title="Fachhochschule Wedel - Marcus Riemer" height="35px" /></a>
      <a href="http://www-ps.informatik.uni-kiel.de/~fhu/"><img src="/vendor/logos/cau.png" title="Christian-Albrechts-Universität Kiel- Frank Huch" height="35px" /></a>
    </div>
  </nav>
</div>
