<div class="body-nav-container">
  <app-toolbar>
    <!-- Toggle for the menu -->
    <ng-container position="toggle">
      <button mat-icon-button (click)="sideNav.toggle()">
        <span class="fa fa-bars" aria-hidden="true"></span>
      </button>
    </ng-container>
    <!-- Language selection -->
    <ng-container position="end"></ng-container>
  </app-toolbar>

  <!-- Sidebar -->
  <mat-sidenav-container>
    <mat-sidenav #sideNav
      [mode]="sidebarMode$ | async"
      [opened]="!(isMobile$ | async)">
      <!-- Sidebar item output -->
      <side-nav-selector [items]="indexItems"></side-nav-selector>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <!-- container comes from Bootstrap, it sets up the different "snapping" viewport widths#
           front comes from the framework and is used in various CSS rules that should only apply at front
           mat-typography comes from angular material and styles native elements-->
      <div class="container front mat-typography">
        <flash-message-list></flash-message-list>
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
