<h1 i18n="@@privacyHeadline">Datenschutz</h1>
<div i18n="@@privacyText">
  <p>
    Dieses Projekt verwendet die <a href="https://matomo.org/">Open Source-Software Matomo (ehemals Piwik)</a> um Besucherzugriffe statistisch auswerten zu können. Die dabei erhobenen Daten werden ausschließlich im Rahmen der Weiterentwicklung und der Forschung eingesetzt. Im Klartext:
  </p>
  <ul>
    <li>
      Die erfassten Daten werden auf <strong>unseren Servern</strong> gespeichert.
    </li>
    <li>
      Ihre Aktivitäten auf dieser Seite werden folglich <strong>nicht an Drittanbietern</strong> wie Google, Facebook, Microsoft, ... <strong>übertragen</strong>.
    </li>
    <li>
      Es erfolgt ausdrückliche <strong>keine kommerzielle Verwertung</strong> der gesammelten Informationen.
    </li>
  </ul>

  <p>
    Stattdessen werden die Daten verwendet, um zum Beispiel die folgenden Fragestellungen zu klären:
  </p>
  <ul>
    <li>Wie viele Besucher nutzen das Angebot zu welchen Zeiten und an welchen Orten?</li>
    <li>Welche technischen Voraussetzungen (Browser, Bildschirmauflösung, ...) haben die von den Benutzern verwendeten Geräte?</li>
    <li>Die Editoren für welche Programmiersprachen werden am häufigsten verwendet?</li>
    <li>An welchen Stellen treten bei den Anwendern Fehler auf?</li>
  </ul>

  <h2>Erfasste Daten</h2>
  <p>
    Piwik verwendet so genannte <a href="https://de.wikipedia.org/wiki/Cookie">Cookies</a> die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert.
  </p>

  <h2>Widerspruch</h2>
  <p>
    Sie können das Anlegen der Cookies auf dieser Seite mit dem unten stehenden Dialog auf dem aktuell genutzten Rechner unterbinden.
  </p>
</div>

<iframe style="border: 1px solid black; height: 180px; width: 100%;" src="https://piwik.blattwerkzeug.de/index.php?module=CoreAdminHome&action=optOut&language=de"></iframe>
