<div class="card project-list-item">
  <img
    *ngIf="hasImage"
    class="card-img-top img-fluid"
    [src]="imageUrl"
    alt="Preview Image"
  />
  <div class="card-img-overlay">
    <h2 class="card-title">{{ project.name }}</h2>
  </div>
  <div class="card-body">
    <h2 *ngIf="!hasImage" class="card-title">{{ project.name }}</h2>
    <p class="card-text">{{ project.description }}</p>
    <a
      [routerLink]="['/editor/', project.slug]"
      class="btn btn-info btn-block btn-edit-project"
    >
      <span class="fa fa-fw fa-pencil" aria-hidden="true"></span>
      <span i18n="@@edit">Bearbeiten</span>
    </a>
  </div>
</div>
