<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<sql-table id="schema-tables" 
                 [tables]="project?.schema?.tables" 
                 [allowCreate]="true">
			</sql-table>
		<!--	<sql-table-editor id="schema-tables" 
                 [tables]="project?.schema?.tables" 
                 [allowCreate]="true">
			</sql-table-editor>
			<sql-table-details id="schema-tables" 
                 [tables]="project?.schema?.tables" 
                 [allowCreate]="false">
			</sql-table-details> -->
		</div>
	</div>
</div>