<style>
	.danger {
		background-color: rgba(255, 0, 0, 0.5);
	}
	
	.success {
		background-color: rgba(0, 255, 0, 0.5);
	}
	
	.warning {
		background-color: rgba(0, 0, 255, 0.5);
	}
</style>
<div *ngIf="tableData">
	<div class="card">
		<h3 *ngIf="!isChild">{{table.name}}
			<!--Button to show previous amount table entrys-->
			<a (click)="prevRowSite()" class="btn btn-primary">
				<span class="fa fa-arrow-left" aria-hidden="true"></span>
			</a>
			<!--Select to chose the amount of entrys to show-->
			<select [(ngModel)]="showAmount" class="btn btn-primary">
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
  	</select>
			<!--Button to show next amount table entrys-->
			<a (click)="nextRowSite()" class="btn btn-primary">
				<span class="fa fa-arrow-right" aria-hidden="true"></span>
			</a>
		</h3>
		<!--Table of table entrys-->
		<table class="table table-striped" [ngClass]="{'table-condensed' : isChild}" style="width:100%">
			<!---->
			<!--Header with every column name in the table-->
			<thead>
				<tr>
					<th *ngFor="let column of table.columns; let i = index" [ngClass]="{'success': column.state == 'new', 'danger': column.state == 'deleted', 'warning': column.state == 'changed'}">
						{{ column.name }}
					</th>
				</tr>
			</thead>
			<!--Table body, with every entry-->
			<tbody>
				<!--expected 2d array with array[row][column]-->
				<tr *ngFor="let row of tableData; let i = index">
					<td *ngFor="let column of table.columns; let j = index" [ngClass]="{'success': column.state == 'new', 'danger': column.state == 'deleted', 'warning': column.state == 'changed'}">
						{{ tableData[i][j] }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>