<ng-container *ngIf="(providers$ | async) as providers">
  <h1>Verknüpfte Konten</h1>
  <hr />

  <table class="table-bordered">
    <thead>
      <th scope="1">E-Mail</th>
      <th scope="2">Provider</th>
    </thead>

    <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{provider.email}}</td>
        <td><provider-show [provider]="provider"></provider-show></td>
      </tr>
    </tbody>
  </table>
</ng-container>
