<ng-container *ngIf="(providers$ | async) as providers">
  <h1>Verknüpfte Konten</h1>
  <hr>

  <table class="table-bordered">
    <thead>
      <th scope="1">E-Mail</th>
      <th scope="2">Provider</th>
      <th scope="4"></th>
    </thead>

    <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{provider.email}}</td>
        <td>
          <a *ngIf="provider.link else noLink"
            [href]="provider.link">

            <provider-show 
              [provider]="provider">
            </provider-show>
          </a>

          <!-- Provider without any extern link -->
          <ng-template #noLink>
            <provider-show 
              [provider]="provider">
            </provider-show>
          </ng-template>
        </td>
        <td>
          <button mat-icon-button
            matTooltip="Remove this linked provider"
            (click)="onDeleteIdentity(provider)">

            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>