<div class="card mb-3">
  <div class="card-body">
    <may-perform [payload]="createCodeResourcePermission$ | async">
      <h4 class="card-title">Neue Code-Ressource anlegen</h4>
      <form (submit)="createCodeResource()">
        <div class="form-group row">
          <label for="resource-name" class="col-sm-2 form-control-label">
            Name
          </label>
          <div class="col-sm-10">
            <input
              [(ngModel)]="resourceName"
              class="form-control"
              name="resource-name"
              required
            />
            <small class="text-muted">Der Name der neuen Resource</small>
          </div>
        </div>

        <div class="form-group row">
          <label for="block-language" class="col-sm-2 form-control-label">
            Codetyp
          </label>
          <div class="col-sm-10">
            <select
              [(ngModel)]="blockLanguageId"
              class="form-control custom-select"
              name="block-language"
              required
            >
              <option
                *ngFor="let lang of availableBlockLanguages$ | async"
                [value]="lang.id"
              >
                {{ lang | displayResource | async }} ({{ lang.id }})
              </option>
            </select>
            <small class="text-muted">
              Welche Programmiersprache soll genutzt werden?
            </small>
          </div>
        </div>
        <button class="btn btn-primary btn-block">
          Code-Ressource Erstellen!
        </button>
      </form>
      <h4 denied class="card-title">
        Nicht möglich: Neue Code-Ressource anlegen
      </h4>
      <p denied>
        Hier würde man normalerweise neuen Code hinzufügen, aber irgendwie ist
        dir das nicht erlaubt. Bist du eingeloggt und gehört dieses Projekt dir?
      </p>
    </may-perform>
  </div>
</div>
