<details *ngIf="blockSidebar" class="ast" open>
  <summary>
    <h5>{{ blockSidebar.displayName }}</h5>
  </summary>
  <details *ngFor="let category of blockSidebar.categories" open>
    <summary>
      <h6>{{ category.displayName}}</h6>
    </summary>
    <div
      *ngFor="let block of category.blocks"
      (mousedown)="startDrag($event, block)"
      class="block rounded"
    >
      <ng-container *ngIf="block.displayName.includes('A')">
        <span>{{ block.displayName }}</span>
      </ng-container>
    </div>
  </details>
</details>
