<details *ngIf="blockSidebar" class="ast" open>
  <summary>
    <h5>{{ blockSidebar.displayName }}</h5>
  </summary>
  <details *ngFor="let category of blockSidebar.categories" open>
    <summary>
      <h6>{{ category.displayName}}</h6>
    </summary>
    <ng-container *ngFor="let block of category.blocks">
      <!-- Step 3: Hier kann dann geerntet werden: block.isVisibleInSidebar | async-->
      <div
        *ngIf="block.isVisibleInSidebar$| async"
        (mousedown)="startDrag($event, block)"
        class="block rounded"
      >
        <span>{{ block.displayName }}</span>
      </div>
    </ng-container>
  </details>
</details>
 