<div *ngIf="(currentLanguage | async); let currentLanguage;"
     class="ast">
  <div *ngFor="let sidebar of currentLanguage.sidebars">
    <h5>{{ sidebar.displayName }}</h5>
    <div *ngFor="let category of sidebar.categories">
      <h6 *ngIf="category.showDisplayName">{{ category.displayName }}</h6>
      <div *ngFor="let block of category.blocks"
           (dragstart)="startDrag($event, block)"
           draggable="true"
           class="block rounded">
        {{ block.displayName }}
      </div>
    </div>
  </div>
</div>
