<div class="card card-block">
	<h3 class="card-title">
		<!--Table name as link to the detail view-->
		<a *ngIf="!readOnly" class="nav-link" [routerLink]="['details', table.name]" routerLinkActive="router-link-active">
						{{ table.name }}
          </a>
		<a *ngIf="readOnly">	{{ table.name }} </a>
		<!--Button to the table-editing view-->
		<a *ngIf="!readOnly" [routerLink]="['edit', table.name]" routerLinkActive="router-link-active" class="btn btn-primary">
			<span class="fa fa-cogs" aria-hidden="true"></span>
		</a>
	</h3>

	<!--Card-Deck for all columns(shown as rows)-->
	<div class="card-deck-wrapper">
		<div class="card-deck">
			<!--Card-Group for all columns of the table-->
			<div *ngFor="let column of table.columns" (mouseenter)="onColumnMouseEnter(column.name)" (mouseout)="onColumnMouseOut()"
				class="card-group">
				<!--Column index and name-->
				<div class="card" [ngClass]="{'card-info': column.name == columnToHighlight}">
					<h4 class="card-title" (mouseenter)="onColumnMouseEnter(column.name)" (mouseout)="onColumnMouseOut()">{{ column.index }} {{ column.name }}</h4>
				</div>
				<!--Details only to shown ijf detail-view is enabled-->
				<div class="card" [ngClass]="{'card-info': column.name == columnToHighlight}">
					<!--Show column primary key as symbol-->
					<div *ngIf=column.primary>
						<span class="fa fa-key" aria-hidden="true"></span>
					</div>
					<div *ngIf=!column.primary>
						<span></span>
					</div>
				</div>
				<div class="card" [ngClass]="{'card-info': column.name == columnToHighlight}">
					<p class="card-text" (mouseenter)="onColumnMouseEnter(column.name)" (mouseout)="onColumnMouseOut()">{{ column.type }}</p>
				</div>
				<div class="card" [ngClass]="{'card-info': column.name == columnToHighlight}">
					<p class="card-text" (mouseenter)="onColumnMouseEnter(column.name)" (mouseout)="onColumnMouseOut()">{{ column.not_null }}</p>
				</div>
				<div class="card" [ngClass]="{'card-info': column.name == columnToHighlight}">
					<div *ngIf="column.dflt_value != null">
						<p class="card-text" (mouseenter)="onColumnMouseEnter(column.name)" (mouseout)="onColumnMouseOut()">{{ column.dflt_value }}</p>
					</div>
				</div>
				<div class="card" [ngClass]="{'card-info': column.name == columnToHighlight}">
					<div *ngIf="column.dflt_value == null">
						<span class="fa fa-minus" aria-hidden="true"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>