<div class="card card-block">
	<!--Input with the name of the table-->
	<h3 class="card-title">
		<input (focus)="saveTempValue($event.target.value)" (blur)="changedTableName($event.target.value)" [(ngModel)]="table.name" placeholder="Tabellen Name" />
	</h3>
	<p class="card-text"></p>

	<!--Header for the table-->
	<div class="card-deck-wrapper">
		<div class="card-deck">
			<div class="card-group">
				<div class="card">
					<h4 class="card-title"># Name</h4>
				</div>
				<div class="card">
					<h4 class="card-title">PK</h4>
				</div>
				<div class="card">
					<h4 class="card-title">Type</h4>
				</div>
				<div class="card">
					<h4 class="card-title">Not Null</h4>
				</div>
				<div class="card">
					<h4 class="card-title">Standardwert</h4>
				</div>
			</div>

			<!--Every column as a card-->
			<div *ngFor="let column of table.columns; let i = index" class="card-group">
				<div class="card">
					<!--Column index, name and button to delete the column-->
					<h4 class="card-title">
						{{ column.index }} 
						<input (focus)="saveTempValue($event.target.value)" [disabled]="column.stateName == 'deleted'" (blur)="changedColumnName(i, $event.target.value)" [(ngModel)]="column.name" placeholder="Name" />
						<!--Button to remove column-->
						<a (click)="removeColumn(column.index)" class="btn btn-primary">
							<span class="fa fa-minus" aria-hidden="true"></span>
						</a>
					</h4>
				</div>
				<!--Primray key checkbox-->
				<div class="card">
					<input type="checkbox" (click)="ChangeColumnPrimaryKeyStatus(column.index)" [(ngModel)]="column.primary" [disabled]="column.stateName == 'deleted'" placeholder="Primary" />
				</div>
				<!--Column type input-->
				<div class="card">
					<input (focus)="saveTempValue($event.target.value)" [disabled]="column.stateName == 'deleted'" (blur)="changedColumnType(i, $event.target.value)" [(ngModel)]="column.type" placeholder="Type" />
				</div>
				<!--Column not null checkbox-->
				<div class="card">
					<input type="checkbox" (click)="ChangeColumnNotNullStatus(column.index)" [(ngModel)]="column.not_null" [disabled]="column.stateName == 'deleted'" [(hidden)]="column.primary" placeholder="Not Null" />
				</div>
				<!--Column default value input-->
				<div class="card">
					<input (focus)="saveTempValue($event.target.value)" [disabled]="column.stateName == 'deleted'" (blur)="changedColumnStandartValue(i, $event.target.value)" [(ngModel)]="column.dflt_value" placeholder="Standardwert" />
				</div>
			</div>
			<!--Add column button-->
			<div class="card-group">
				<div class="card">
					<h4 class="card-title">
						<a (click)="addColumn()" class="btn btn-primary">
							<span class="fa fa-plus" aria-hidden="true"></span>
						</a>
						<br>
						<a (click)="changeColumnOrder()" class="btn btn-primary">
							switch
						</a>
						Switch: 
						<input [(ngModel)]="colToSwitch" type="text" id="colToSwitch" placeholder="Column to switch">
						<input [(ngModel)]="switch_to" type="text" id="to" placeholder="to">
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="list-group">
	<!--List of stack entrys-->
	<button type="button" class="list-group-item list-group-item-action active">
		Stackgröße: <span class="badge badge-default badge-pill">{{ commandsHolder.commands.length }}</span> 
	</button>
		<!--List body, with every stack entry-->
	<button type="button" class="list-group-item list-group-item-action" *ngFor="let cmd of commandsHolder.commands" (click)="loadStackPosition(cmd.index)" 
			[ngClass]="{'list-group-item-success': cmd.index == commandsHolder.activeIndex, 
									'list-group-item-danger': cmd.index == dbErrorCode}">
				{{ cmd.toString() }}
	</button>
</div>

<!--Table-Deatils as preview for changes to the table-->
<sql-table-details *ngIf="_showPreview" [isChild]="true"></sql-table-details>