<ng-container>
  <h4 class="card-title">
    Schema-Übersicht für Datenbank "{{ schemaName | async }}"
  </h4>
  <div style="position: relative;">
    <div class="db-schema-drag-drop">
      <sql-table-visual
        *ngFor="let table of project?.schema.tables; let i = index"
        [table]="table"
		[xPos]="schemaData.tableData[i].xPos"
		[yPos]="schemaData.tableData[i].yPos"
		[width]="schemaData.tableData[i].width"
        [readOnly]="false"
      ></sql-table-visual>
    </div>

    <schema-connectors 
		[connectors]="schemaData.connectors"
	></schema-connectors>
  </div>
</ng-container>
