<div>
  <table class="vis" [ngStyle]="{'left': xPos, 'top' : yPos}">
    <thead>
      <tr>
        <input
          class="tableName"
          (focus)="saveTempValue($event.target.value)"
          (blur)="changedTableName($event.target.value)"
          [(ngModel)]="table.name"
        />
      </tr>
    </thead>
    <tbody>
      <div [dragula]="table.name" [dragulaModel]="table.columns">
        <tr *ngFor="let column of table.columns">
          <td>
            <label class="tableEdit">
              <input
                type="checkbox"
                (click)="ChangeColumnPrimaryKeyStatus(column.index)"
                [(ngModel)]="column.primary"
                placeholder="Primary"
              />
              <span *ngIf="column.primary">
                <span class="fa fa-key" aria-hidden="true"></span>
              </span>
            </label>
          </td>
          <td>
            <input
              class="tableEdit"
              (focus)="saveTempValue($event.target.value)"
              (blur)="changedColumnName(column.index, $event.target.value)"
              [(ngModel)]="column.name"
            />
          </td>
          <td>
            <select
              class="tableEdit"
              [(ngModel)]="column.type"
              (focus)="saveTempValue($event.target.value)"
              (change)="changedColumnType(column.index, $event.target.value)"
            >
              <option value="integer">integer</option>
              <option value="string">string</option>
              <option value="boolean">boolean</option>
              <option value="float">float</option>
              <option value="url">url</option>
            </select>
          </td>
          <td>
            <label class="tableEdit">
              <input
                type="checkbox"
                [(disabled)]="column.primary"
                (click)="ChangeColumnNotNullStatus(column.index)"
                [(ngModel)]="column.not_null"
                placeholder="Not Null"
              />
              <span *ngIf="column.not_null || column.primary">
                Not Null
              </span>
            </label>
          </td>
        </tr>
      </div>
    </tbody>
  </table>
</div>
