<!-- Header "Toolbar" with name and buttons -->
<div ngPreserveWhitespaces class="schema-table-header">
  <div>
    <!--Table name as link to the detail view-->
    <a [routerLink]="['details', table.name]">
      <span
        *ngIf="tableIsCurrentlyEdited(table.name)"
        class="fa fa-pencil-square-o fa-fw"
        aria-hidden="true"
      ></span>
      <span class="fa fa-table fa-fw" aria-hidden="true"></span>
      {{ table.name }}
    </a>
  </div>
  <div>
    <!-- Button to the table-editing view -->
    <may-perform [payload]="updateDatabasePermission$">
      <a
        *ngIf="!readOnly"
        [routerLink]="['edit', table.name]"
        class="btn btn-sm btn-primary"
      >
        <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
        Struktur Editieren
      </a>

      <!-- Button to drop table -->
      <button
        *ngIf="!readOnly"
        (click)="deleteTable()"
        class="btn btn-sm btn-danger"
      >
        <span class="fa fa-trash" aria-hidden="true"></span>
        Löschen
      </button>
    </may-perform>
  </div>
</div>

<!-- Columns of this table -->
<table class="table table-hover table-sm">
  <tr *ngFor="let column of table.columns">
    <td width="10%">
      <span *ngIf="column.primary" class="fa fa-key" aria-hidden="true"></span>
    </td>
    <td width="20%">{{ column.name }}</td>
    <td width="20%"><code>{{ column.type }}</code></td>
    <td width="10%"><code *ngIf="column.not_null">NOT NULL</code></td>
    <td width="20%">{{ column.dflt_value }}</td>
  </tr>
</table>
