<div class="container">

    <div id="headline-usage">
        Erste Zeile:
        <label for="use-headline">Überschrift</label>
        <input type="radio" id="use-headline" name="first-line" value="use-headline" checked>

        <label for="use-own-header">Daten</label>
        <input type="radio" id="use-own-header" name="first-line" value="use-data">
    </div>

    <div id="show-headline-fields">
        Überschriften zuweisen:
        <div id="headline-fields">
        </div>
        <button id="apply-changes">anwenden</button>
    </div>

    <br/>
    <br/>
    
    <!-- Delimiters -->   

    <div class="form-group">        
        <input type="checkbox" name="semicolon" (change)="toggleSemicolon()"/>
        <label for="semicolon">&nbsp;Semikolon</label>
    </div>

    <div class="form-group">        
        <input type="checkbox" name="comma" (change)="toggleComma()"/>
        <label for="comma">&nbsp;Komma</label>
    </div>

    <div class="form-group">        
        <input type="checkbox" name="space" (change)="toggleSpace()"/>
        <label for="space">&nbsp;Leerzeichen</label>
    </div>

    <div class="form-group">        
        <input type="checkbox" name="tab" (change)="toggleTab()"/>
        <label for="tab">&nbsp;Tabstopp</label>
    </div>

    <!--
    <div class="form-group">        
        <input type="checkbox" name="other" (change)="toggleOther()"/>
        <label for="other">&nbsp;Semikolon</label>
    </div>
            TODO Input for other -->
    

    <br/>
    <br/>
        
    <!-- Text Markers -->
   
    <div class="form-group">
        <label for="text-marker">Text Markierung:</label>
        <select class="form-control" id="text-marker" required
                [(ngModel)]="selectedMarker">
          <option *ngFor="let marker of markers" [value]="marker">{{marker}}</option>
        </select>
      </div>


    <!-- File Import -->

    <div class="form-group">
        <label for="fileInput">CSV Datei: </label>
        <input type="file" id="fileInput" (change)="changeListener($event)">
    </div>


    <table id="result-table" class="table table-bordered"></table>

</div>