<div class="card card-body mb-3">

    <!-- File Import -->

    <h5 class="mb-3">Datei Import</h5>

    <div class="form-group">
        <label for="fileInput">CSV Datei:&nbsp;</label>
        <input type="file" id="fileInput" (change)="changeListener($event)">
    </div>

    <hr />

    <!-- Healine Usage -->

    <h5 class="mb-3">Headline Verwendung</h5>

    <div class="headline row">
        <div class="form-group col-sm-6">    
            <input id="use-file-headline" type="radio" value="file" name="headline-usage" [(ngModel)]="headlineUsage" (change)="toggleHeadlineUsage()" [disabled]="disableHeadlineSelection"/>
            <label for="use-file-headline">&nbsp;Verwende erste Zeile als Headline</label>
        </div>

        <div class="form-group col-sm-6">    
            <input id="use-own-headline" type="radio" value="own" name="headline-usage" [(ngModel)]="headlineUsage" (change)="toggleHeadlineUsage()" [disabled]="disableHeadlineSelection"/>
            <label for="use-own-headline">&nbsp;Definiere eigene Headline</label>
        </div>
    </div>

    <div id="show-headline-fields" *ngIf="this.headlineUsage=='own'">
        <div class="form-group" *ngFor="let headline of header; let i = index; trackBy:trackByFn">            
            <label class="col-sm-2" for="headline{{i}}">Headline {{i+1}}</label>    
            <input class="col-sm-10" type="text" id="headline{{i}}" [(ngModel)]="header[i]" [disabled]="disableSelection"/>
        </div>
    </div>

    <hr />
    
    <!-- Delimiters -->
    
    <h5 class="mb-3">Trennsymbole</h5>

    <div class="delimiter row">

        <div class="form-group col-sm-3">        
            <input type="checkbox" id="comma" (change)="toggleComma()" [disabled]="disableSelection" checked/>
            <label for="comma">&nbsp;Komma</label>
        </div>

        <div class="form-group col-sm-3">    
            <input type="checkbox" id="semicolon" (change)="toggleSemicolon()" [disabled]="disableSelection"/>
            <label for="semicolon">&nbsp;Semikolon</label>
        </div>   

        <div class="form-group col-sm-3">        
            <input type="checkbox" id="space" (change)="toggleSpace()" [disabled]="disableSelection"/>
            <label for="space">&nbsp;Leerzeichen</label>
        </div>

        <div class="form-group col-sm-3">        
            <input type="checkbox" id="tab" (change)="toggleTab()" [disabled]="disableSelection"/>
            <label for="tab">&nbsp;Tabstopp</label>
        </div>
    
    </div>

    <hr />
        
    <!-- Text Markers -->

    <h5 class="mb-3">Text Markierung</h5>
   
    <div class="form-group row">
        <label class="col-sm-2" for="text-marker">Marker:</label>
        <select class="form-control col-sm-4" id="text-marker" [disabled]="disableSelection" required
                [(ngModel)]="selectedMarker" (change)="changeMarker()">
          <option *ngFor="let marker of markers" [value]="marker">{{marker}}</option>
        </select>
    </div>

    <!-- Parse Result or Error -->

    <div class="result" *ngIf="parse !== undefined">

        <hr />

        <!-- Table Preview -->

        <div class="table" *ngIf="parse.type === 'parseResult'">
        
            <h5 class="mb-3">Vorschau</h5>

            <table>
                <thead>
                    <tr>
                        <th *ngFor="let col of header">
                        {{ col }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of table">            
                        <td *ngFor="let col of row; let i = index">
                        {{ row[i] }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        
        <!-- Error -->

        <div class="errors" *ngIf="parse.type === 'parseError'">

            <h5 class="mb-3">Beim Parsen sind folgende Fehler aufgetreten:</h5>

            <div class="error card text-white bg-danger mb-3" *ngFor="let error of errors">
                <div class="card-header">Line: {{ error.line }}</div>

                <div class="card-body">

                    <h5 class="card-title">Information: {{ error.data.information }}</h5>
                    
                    <div class="card-text">
                        <div class="wrongColumnCount" *ngIf="error.data.type === 'wrongColumnCount'">
                            Count: {{ error.data.count }} <br/>
                            Expected: {{ error.data.expected }} <br/><br/>
                        </div>
                        
                        <div class="markerNotClosed" *ngIf="error.data.type === 'markerNotClosed'">
                            Fragment: {{ error.data.fragment }} <br/><br/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>