<div class="card card-body mb-3 text-nowrap">

    <!-- File Import -->

    <h5 class="mb-3">Datei Import</h5>

    <div class="form-group">
        <label for="fileInput">CSV Datei:&nbsp;</label>
        <input type="file" id="fileInput" (change)="changeListener($event)">
    </div>

    <hr />

    <!-- Healine Usage -->

    <h5 class="mb-3">Headline Verwendung</h5>

    <div class="headline row">
        <div class="form-group col">    
            <input id="use-file-headline" type="radio" value="file" name="headline-usage" [(ngModel)]="headlineUsage" (change)="toggleHeadlineUsage()" [disabled]="disableHeadlineSelection"/>
            <label for="use-file-headline">&nbsp;Verwende erste Zeile als Headline</label>
        </div>

        <div class="form-group col">    
            <input id="use-own-headline" type="radio" value="own" name="headline-usage" [(ngModel)]="headlineUsage" (change)="toggleHeadlineUsage()" [disabled]="disableHeadlineSelection"/>
            <label for="use-own-headline">&nbsp;Definiere eigene Headline</label>
        </div>
    </div>

    <div id="show-headline-fields" *ngIf="this.headlineUsage=='own'">
        <div class="form-group row" *ngFor="let headline of header; let i = index; trackBy:trackByFn">            
            <label class="col-sm-auto" for="headline{{i}}">Headline {{i+1}}:&nbsp;</label>    
            <input class="col" type="text" id="headline{{i}}" [(ngModel)]="header[i]" [disabled]="disableHeadlineSelection"/>
        </div>
    </div>

    <hr />

    <!-- Text Markers -->

    <h5 class="mb-3">Text Markierung</h5>

    <div class="marker row">
        <div class="form-group col">    
            <input id="double-quotes" type="radio" value='"' name="text-marker" 
                    [(ngModel)]="textMarker" (change)="changeMarker()" [disabled]="disableSelection"/>
            <label for="double-quotes">&nbsp;"</label>
        </div>

        <div class="form-group col">    
            <input id="single-quotes" type="radio" value="'" name="text-marker" 
                    [(ngModel)]="textMarker" (change)="changeMarker()" [disabled]="disableSelection"/>
            <label for="single-quotes">&nbsp;'</label>
        </div>
    </div>
    
    <hr />
    
    <!-- Delimiters -->
    
    <h5 class="mb-3">Trennsymbole</h5>

    <div class="delimiter row">

        <div class="form-group col">        
            <input type="checkbox" id="comma" (change)="toggleComma()" [disabled]="disableSelection" checked/>
            <label for="comma">&nbsp;Komma</label>
        </div>

        <div class="form-group col">    
            <input type="checkbox" id="semicolon" (change)="toggleSemicolon()" [disabled]="disableSelection"/>
            <label for="semicolon">&nbsp;Semikolon</label>
        </div>   

        <div class="form-group col">        
            <input type="checkbox" id="space" (change)="toggleSpace()" [disabled]="disableSelection"/>
            <label for="space">&nbsp;Leerzeichen</label>
        </div>

        <div class="form-group col">        
            <input type="checkbox" id="tab" (change)="toggleTab()" [disabled]="disableSelection"/>
            <label for="tab">&nbsp;Tabstopp</label>
        </div>
    
    </div>

    <!-- Parse Result or Error -->

    <div class="result" *ngIf="parse !== undefined">

        <hr />

        <h5 class="mb-3">Zuweisungen</h5>

        <!-- Choose Table to import to -->
        <div class="table-selection">
            <label class="p-0" for="select-table">Tabelle auswählen</label>
            <select id="select-table" class="form-control" [(ngModel)]="selectedTableName" (change)="changeTable()">
                <option *ngFor="let table of schemaTables" value="{{table.name}}">{{ table.name }}</option>
            </select>
        </div>

        <br />

        <!-- Mapping for the selected table -->

        <div class="selected-table-mapping" *ngIf="header.length >= selectedTableColumns.length; then mappingPossible else mappingError"></div>

            <ng-template #mappingPossible>
                <div class="mapping row mt-3" *ngFor="let headerCol of header; let i = index">
                    <div class="col-sm-6 col-md-5 w-100 d-flex align-items-center">
                        <input type="checkbox" id="header-{{ headerCol }}" [(ngModel)]="useHeaderIndex[i]" />
                        <label class="mb-0 text-truncate" for="header-{{ headerCol }}">&nbsp;{{ headerCol }}</label>
                    </div>

                    <div class="d-none d-md-block col-md-1" *ngIf="useHeaderIndex[i]">
                        <div style="font-size: 3em; line-height: 0; color: #00C851;">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>

                    <div class="d-none d-md-block col-md-1" *ngIf="!useHeaderIndex[i]">
                        <span style="font-size: 3em; line-height: 0; color: #ff4444;">
                            <i class="fa fa-ban"></i>
                        </span>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <select id="table-{{ tableCol }}" class="form-control h-100">
                            <option *ngFor="let tableCol of selectedTableColumns; let j = index" 
                                    value="{{tableCol.name}}" [selected]="j === i">
                                {{ tableCol.name }}
                            </option>
                        </select>        
                    </div>            
                </div>
            </ng-template>

            <ng-template #mappingError>
                <div class="error card text-white bg-danger mb-3">
                    <div class="card-header">Invalid Table</div>
    
                    <div class="card-body">
    
                        <h5 class="card-title">Information: Headline enthält zu wenig Spalten für ausgewählte Tabelle</h5>
                        
                        <div class="card-text">
                                Count: {{ header.length }} <br/>
                                Expected: min. {{ selectedTableColumns.length }} <br/><br/>
                        </div>
    
                    </div>
                </div>            
            </ng-template>
        

        <hr />

        <!-- Table Preview -->

        <div class="table-preview" *ngIf="parse.type === 'parseResult'">
        
            <h5 class="mb-3">Vorschau</h5>

            <table class="w-100">
                <thead>
                    <tr>
                        <th *ngFor="let col of header">
                        {{ col }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of table | slice:0:20; let i = index">   
                        <td *ngFor="let col of row; let j = index">
                            {{ row[j] }}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        
        <!-- Error -->

        <div class="errors" *ngIf="parse.type === 'parseError'">

            <h5 class="mb-3">Beim Parsen sind folgende Fehler aufgetreten:</h5>

            <div class="error card text-white bg-danger mb-3" *ngFor="let error of errors">
                <div class="card-header">Line: {{ error.line }}</div>

                <div class="card-body">

                    <h5 class="card-title">Information: {{ error.data.information }}</h5>
                    
                    <div class="card-text">
                        <div class="wrongColumnCount" *ngIf="error.data.type === 'wrongColumnCount'">
                            Count: {{ error.data.count }} <br/>
                            Expected: {{ error.data.expected }} <br/><br/>
                        </div>
                        
                        <div class="markerNotClosed" *ngIf="error.data.type === 'markerNotClosed'">
                            Fragment: {{ error.data.fragment }} <br/><br/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Save Button -->

    <br />

    <div class="save-button">
        <button type="button" class="btn btn-success" (click)="save()" [disabled]="disableHeadlineSelection">Tabelle importieren</button>
    </div>

</div>