<div class="card schema-sidebar">
  <div class="card-block">
    <div class="stack">
	    <span *ngFor="let type of availableColumnTypes"
            class="badge badge-default item">
        <span class="fa fa-columns" aria-hidden="true"></span>
        {{ type }}
      </span>
    </div>
  </div>
  <div class="card-block">
	  <span class="badge badge-pill badge-primary item">
      <span class="fa fa-key" aria-hidden="true"></span>
    </span>
	  <span class="badge badge-pill badge-default item">
      Not Null
    </span>
  </div>

  <div *ngFor="let tab of projectTables"
       class="card-block">
    <h4>
	    <span class="badge badge-success"><span class="fa fa-table" aria-hidden="true"></span>{{tab.name}}</span>
	    <div>
	      <h5>
		      <span *ngFor="let column of tab.columns" class="badge badge-pill badge-info">{{column.name}}</span>
	      </h5>
	    </div>
    </h4>
  </div>
</div>
