# This is how the source code should be formatted,
# see http://EditorConfig.org to find out how to
# use it with your favourite editor.

# This ist the top-most file
root = true

# UNIX line-endings all the way down
[*]
end_of_line = lf
insert_final_newline = true

# All source code shares the same basic traits
[*.{ts,js,rb,html,json,yaml,sql}]
charset = utf-8
indent_style = space
indent_size = 2

# Makefiles are Makefiles
[Makefile]
indent_style = tab

# Markdown files have unlimited line lengths
[*.md]
max_line_length = off
trim_trailing_whitespace = false
