<div class="account-settings general">
  <h1>Benutzername</h1>
  <hr>

  <validate-input
    icon="pencil"
    [(value)]="editedUsername">

    <input #inputRef 
      type="text"
      class="form-control"
      [placeholder]="(username$ | async)">
  </validate-input>

  <button
    mat-raised-button
    color="primary">

    Speichern
  </button>

  <h1>E-Mail</h1>
  <hr>

  <validate-input
    icon="pencil"
    [(value)]="editedUsername">

    <input #inputRef 
      type="text"
      class="form-control"
      placeholder="tom.hilge@gmail.com">
  </validate-input>

  <button
    mat-raised-button
    color="primary">

    Speichern
  </button>

  <h1>Konto verknüpfen</h1>
  <hr>

  <provider-auth></provider-auth>
  <button
    mat-raised-button
    color="primary">

    
  </button>

</div>