<div class="account-settings general">
  <h1>Benutzername</h1>
  <hr>

  <validate-input
    icon="pencil"
    [(value)]="userNameData.displayName">

    <input #inputRef 
      type="text"
      class="form-control"
      [placeholder]="(username$ | async)">
  </validate-input>

  <button
    mat-raised-button
    color="primary"
    (click)="onChangeUserName()">

    Speichern
  </button>

  <h1>Konto verknüpfen</h1>
  <hr>
  <div class="row">
    <mat-card *ngFor="let provider of providers;">
      <mat-card-header>
        <mat-card-title>{{provider.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <ng-container *ngFor="let identity of identities$ | async">
            <li *ngIf="identity.provider === provider.urlName">
              tom.hilge@gmail.com
            </li>
          </ng-container>
      </ul>
      </mat-card-content>
      <mat-card-actions>
        <provider-button
          [providerName]="provider.name">
        </provider-button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>