<div class="account-settings general">
  <h1>Benutzername</h1>
  <hr>

  <validate-input
    icon="pencil"
    [(value)]="userNameData.displayName">

    <input #inputRef 
      type="text"
      class="form-control"
      [placeholder]="(username$ | async)">
  </validate-input>

  <button
    mat-raised-button
    color="primary"
    (click)="onChangeUserName()">

    Speichern
  </button>

  <ng-container *ngIf="identities">
    <h1>Verknüpfte Konten</h1>
    <hr>
  
    <table class="table-bordered">
      <thead>
        <th scope="1">E-Mail</th>
        <th scope="2">Provider</th>
        <th scope="3">Link</th>
        <th scope="4"></th>
      </thead>
  
      <tbody>
        <tr *ngFor="let identity of identities.providers">
          <td>{{identity.data.email}}</td>
          <td>{{identity.type}}</td>
          <td>{{identity.data.link}}</td>
          <td>
            <button mat-icon-button
              matTooltip="Remove this linked identity"
              (click)="onDeleteIdentity(identity)">
  
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <h1>Konto verknüpfen</h1>
    <hr>
    <div class="row">
      <mat-card *ngFor="let provider of providers;">
        <mat-card-header>
          <mat-card-title>
            {{provider.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <provider-button
            [providerName]="provider.name">
          </provider-button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>