<h4 mat-dialog-title
  class="add-email-dialog-title">

  Hinzufügen einer E-Mail
</h4>

<div mat-dialog-content
  class="add-email-dialog-content">

  <validate-input 
    icon="key"
    [(value)]="newEmailData.password">

    <input #inputRef
      type="password"
      class="form-control"
      placeholder="Password">
  </validate-input>

  <validate-input 
      icon="key"
      [(value)]="passwordConfirmation">

    <input #inputRef
      type="password"
      class="form-control"
      placeholder="Confirm password">
  </validate-input>
</div>

<div mat-dialog-actions
  class="add-email-dialog-actions">

  <button
    mat-raised-button
    color="primary"
    (click)="onAddEmail()">

    Hinzufügen
  </button>
</div>
