<div class="general email-settings">
  <h1>E-Mails</h1>
  <hr>

  <ng-container *ngIf="identities">
    <p>
      Wähle eine primäre E-Mail an die jegliche E-Mails geschickt werden sollen.
      <strong>Achtung:</strong> Die primäre E-Mail kann so lange nicht gelöscht werden, bis sie durch eine
      andere ersetzt wird.
    </p>

    <select
      class="custom-select"
      [(ngModel)]="primaryEmailData.primaryEmail">

      <option *ngFor="let email of emails"
        [value]="email">

        {{email}}
      </option>
    </select>

    <button
      mat-raised-button
      color="primary"
      (click)="onChangePrimaryEmail()">

      Speichern
    </button>

    <label>
      Füge eine neue E-Mail deinem Konto hinzu.
      <validate-input
        icon="envelope-o"
        [(value)]="newEmailData.email">

        <input #inputRef      
          type="email"
          class="form-control"
          placeholder="Insert a new e-mail">
      </validate-input>
    </label>

    <button
      mat-raised-button
      color="primary"
      (click)="onAddEmail()">

      Hinzufügen
    </button>
  </ng-container>
</div>
