<div class="general email-settings">
  <h1>Primäre E-Mail</h1>
  <hr />

  <ng-container *ngIf="identities">
    <p>
      Wähle eine primäre E-Mail an die jegliche E-Mails geschickt werden sollen.
      <strong>Achtung:</strong> Die primäre E-Mail kann so lange nicht gelöscht
      werden, bis sie durch eine andere ersetzt wird.
    </p>

    <div class="d-flex">
      <select class="custom-select" [(ngModel)]="primaryEmailData.primaryEmail">
        <option *ngFor="let email of emails" [value]="email">
          {{ email }}
        </option>
      </select>

      <ng-container
        *ngFor="let provider of (identities$.value | async).providers">
        <mat-progress-spinner
          *ngIf="provider.changes.primary"
          color="primary"
          mode="indeterminate"
          matTooltip="Primary e-mail change is in progress."
        >
        </mat-progress-spinner>
      </ng-container>
    </div>

    <button mat-raised-button color="primary" (click)="onChangePrimaryEmail()">
      Speichern
    </button>
  </ng-container>
</div>
