<app-toolbar>
  <ng-container position="toggle">
    <button mat-icon-button (click)="toggleNavbar()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </ng-container>

  <ng-container position="start">
    <ng-container *ngFor="let item of toolbarService.items">
      <may-perform [payload]="item.performDesc">
        <button (click)="item.fire()" mat-button id="toolbar-btn-{{item.id}}">
          <span
            class="fa fa-fw fa-spinner fa-pulse"
            [hidden]="!item.isInProgress"
          ></span>
          <span
            class="fa fa-fw fa-{{ item.icon }}"
            [hidden]="item.isInProgress"
          ></span>
          {{ item.caption }}
        </button>
      </may-perform>
    </ng-container>
  </ng-container>

  <ng-container position="end">
    <button
      mat-button
      [matMenuTriggerFor]="naturalLang"
      aria-label="Debug Optionen Menü"
    >
      <span class="fa fa-bug" aria-hidden="true"></span>
      Debug Options
    </button>
    <mat-menu #naturalLang="matMenu">
      <mat-checkbox
        [(ngModel)]="debugOptions.showEditableAst.value"
        class="mat-menu-item"
        color="warn"
      >
        Show Editable AST
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="debugOptions.showJsonAst.value"
        class="mat-menu-item"
        color="warn"
      >
        Show JSON AST
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="debugOptions.showLanguageSelector.value"
        class="mat-menu-item"
        color="warn"
      >
        Show Language Selector
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="debugOptions.showDropDebug.value"
        class="mat-menu-item"
        color="warn"
      >
        Show Drop Debug
      </mat-checkbox>
    </mat-menu>
  </ng-container>
</app-toolbar>
