<!-- Toolbar at the top -->
<editor-toolbar></editor-toolbar>

<!-- Three column layout in any order -->
<div class="editor">
  <div [style.display]="(preferences.showSideNav | async) ? 'block' : 'none'"
       [style.order]="preferences.paneOrder.navbar | async"
       class="navbar card">
    <editor-navbar [project]="project"></editor-navbar>
  </div>

  <div [style.order]="preferences.paneOrder.content | async"
       class="content">
    <!-- Show flash messages -->
    <flash-message-list></flash-message-list>
    <!-- And actual content -->
    <router-outlet></router-outlet>
  </div>

  <div [style.display]="isSidebarVisible ? 'block' : 'none'"
       [style.order]="preferences.paneOrder.sidebar | async"
       class="sidebar">
    <sidebar-loader>
    </sidebar-loader>
  </div>
</div>
