<div class="body-nav-container">
  <!-- Toolbar at the top -->
  <editor-toolbar></editor-toolbar>

  <!-- There needs to be an option to trash things -->
  <trash></trash>

  <!-- Three column layout -->
  <mat-sidenav-container class="editor">
    <!-- Navigation -->
    <mat-sidenav [opened]="showSideNav$ | async"
                 [mode]="sidebarMode$ | async"
                 (closedStart)="onSideNavClosed()"
                 class="navbar">
      <editor-navbar [project]="project"></editor-navbar>
    </mat-sidenav>

    <!-- Toolbox -->
    <mat-sidenav [opened]="isSidebarVisible$ | async"
                 mode="side"
                 position="end"
                 class="sidebar">
      <sidebar-loader>
      </sidebar-loader>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <!-- Show flash messages -->
      <flash-message-list></flash-message-list>
      <!-- And actual content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
