<nav>
  <ul>
    <li>
      <a [routerLink]="['settings']"
         routerLinkActive="router-link-active">
        <span class="fa fa-home fa-fw"></span>Projekt
      </a>
      <span *ngIf="project?.isSavingRequired"
            class="dirty pull-right">
        <span class="fa fa-floppy-o"></span>
      </span>
    </li>

    <!-- Debug: AST Editor -->
    <li *ngIf="project?.codeResources.length > 0">
      <span class="fa fa-bug fa-fw"></span>Syntaxbaum
      <ul class="nav-code-resource">
        <li *ngFor="let codeResource of project?.codeResources"
            [title]="codeResource.languageIdObs | async">
          <a [routerLink]="['ast', codeResource.id, 'block']"
             routerLinkActive="router-link-active">
            <span class="fa fa-file-code-o fa-fw"></span> {{ codeResource.name }}
          </a>
        </li>
      </ul>
    </li>

    <!-- Image Editor -->
    <li>
      <a [routerLink]="['image']"
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="router-link-active">
        <span class="fa fa-image fa-fw"></span>Bilder
      </a>
      <ul class="nav-image">
        <li>
          <a [routerLink]="['image', 'upload']"
             routerLinkActive="router-link-active">
            <span class="fa fa-plus fa-fw"></span>Neues Bild
          </a>
        </li>
      </ul>
    </li>

    <!-- Schema Editor and tables -->
    <li>
      <a [routerLink]="['schema', currentDatabaseName]"
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="router-link-active">
        <span class="fa fa-database fa-fw"></span>Datenbank "{{ currentDatabaseName }}"
      </a>
      <ul class="nav-database">
        <li *ngFor="let table of project?.schema.tables">
          <a [routerLink]="['schema', currentDatabaseName, 'details', table.name]"
             routerLinkActive="router-link-active">
            <span class="fa fa-table fa-fw"></span> {{ table.name }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div *ngIf="project.hasSources"
     class="sources-host">
  <h4>Quellen</h4>
  <div *ngFor="let source of project.sources"
       title="{{ source.display }}">
    <source-icon [source]="source"></source-icon>
    
    <a [href]="source.url">{{ source.title }}</a>
  </div>    
</div>
