<nav>
  <ul>
    <li>
      <a [routerLink]="['settings']"
         routerLinkActive="router-link-active">
        <span class="fa fa-home fa-fw"></span>Projekt
      </a>
      <span *ngIf="project?.isSavingRequired"
            class="dirty pull-right">
        <span class="fa fa-floppy-o"></span>
      </span>
    </li>

    <!-- Debug: AST Editor -->
    <li *ngIf="project?.codeResources.length > 0">
      <span class="fa fa-bug fa-fw"></span>Syntaxbaum
      <ul class="nav-code-resource">
        <li *ngFor="let codeResource of project?.codeResources"
            [title]="codeResource.languageIdObs | async">
          <a [routerLink]="['ast', codeResource.id]"
             routerLinkActive="router-link-active">
            <span class="fa fa-file-code-o fa-fw"></span> {{ codeResource.name }}
          </a>
        </li>
      </ul>
    </li>

    <!-- Image Editor -->
    <li>
      <a [routerLink]="['image']"
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="router-link-active">
        <span class="fa fa-image fa-fw"></span>Bilder
      </a>
      <ul class="nav-image">
        <li>
          <a [routerLink]="['image', 'upload']"
             routerLinkActive="router-link-active">
            <span class="fa fa-plus fa-fw"></span>Neues Bild
          </a>
        </li>
      </ul>
    </li>

    <!-- Schema Editor and tables -->
    <li>
      <a [routerLink]="['schema', currentDatabaseName]"
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="router-link-active">
        <span class="fa fa-database fa-fw"></span>Datenbank
      </a>
      <ul class="nav-database">
        <li *ngFor="let table of project?.schema.tables">
          <a [routerLink]="['schema', currentDatabaseName, 'details', table.name]"
             routerLinkActive="router-link-active">
            <span class="fa fa-table fa-fw"></span> {{ table.name }}
          </a>
        </li>
      </ul>
    </li>

    <!-- Database Operations -->
    <li>
      <span class="fa fa-cogs fa-fw"></span>Operationen
      <ul class="nav-query">
        <li>
          <a [routerLink]="['query', 'create']"
             routerLinkActive="router-link-active">
            <span class="fa fa-plus fa-fw"></span>Neue Operation
          </a>
        </li>
        <li *ngFor="let query of project?.queries">
          <a [routerLink]="['query', query.id]"
             (dragstart)="startQueryDrag($event, query)"
             routerLinkActive="router-link-active">
            <query-icon [query]="query"></query-icon>
          </a>
          <span [hidden]="!query.isSavingRequired"
                class="dirty pull-right">
            <span class="fa fa-floppy-o"></span>
          </span>
        </li>
      </ul>
    </li>

    <!-- Pages of this project  -->
    <li>
      <span class="fa fa-globe fa-fw"></span>
      Webseite
      <ul class="nav-page">
        <li>
          <a [routerLink]="['page', 'create']"
             routerLinkActive="router-link-active">
            <span class="fa fa-plus fa-fw"></span>Neue Seite
          </a>
        </li>
        <li *ngFor="let page of project?.pages">
          <a [routerLink]="['page', page.id]"
             routerLinkActive="router-link-active">
            <span class="fa {{ iconForPage(page) }} fa-fw"></span>{{ page.name }}
          </a>
          <span [hidden]="!page.isSavingRequired"
                class="dirty pull-right">
            <span class="fa fa-floppy-o"></span>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div *ngIf="project.hasSources"
     class="sources-host">
  <h4>Quellen</h4>
  <div *ngFor="let source of project.sources"
       title="{{ source.display }}">
    <source-icon [source]="source"></source-icon>
    
    <a [href]="source.url">{{ source.title }}</a>
  </div>    
</div>
