<mat-nav-list id="main-nav">
  <a
    mat-list-item
    [routerLink]="['settings']"
    routerLinkActive="router-link-active"
  >
    <span class="fa fa-fw fa-home" aria-hidden="true"></span>
    Projekt
  </a>
  <mat-divider></mat-divider>

  <!-- Code Resources -->
  <a
    mat-list-item
    [routerLink]="['ast', 'create']"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="router-link-active"
  >
    <span class="fa fa-puzzle-piece fa-fw" aria-hidden="true"></span>
    Code
  </a>

  <a
    *ngFor="let codeResource of project?.codeResources"
    mat-list-item
    class="indent"
    [routerLink]="['ast', codeResource.id]"
    routerLinkActive="router-link-active"
  >
    <span class="fa fa-file-code-o fa-fw"></span>
    <span class="nav-target">{{ codeResource.name }}</span>
    <span
      [style.visibility]="codeResource?.isSavingRequired ? 'visible' : 'hidden'"
      class="save-icon fa fa-floppy-o"
    ></span>
  </a>
  <mat-divider></mat-divider>

  <!-- Images -->
  <a
    mat-list-item
    [routerLink]="['image']"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="router-link-active"
  >
    <span class="fa fa-image fa-fw" aria-hidden="true"></span>
    Bilder
  </a>
  <a
    mat-list-item
    [routerLink]="['image', 'upload']"
    routerLinkActive="router-link-active"
  >
    <span class="fa fa-plus fa-fw"></span>
    Neues Bild
  </a>
  <mat-divider></mat-divider>

  <!-- Schema Editor -->
  <a
    mat-list-item
    [routerLink]="['schema', currentDatabaseName]"
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="router-link-active"
  >
    <span class="fa fa-database fa-fw"></span>
    Datenbank "{{ currentDatabaseName }}"
  </a>
  <a
    mat-list-item
    *ngFor="let table of project?.schema.tables"
    [routerLink]="['schema', currentDatabaseName, 'details', table.name]"
    routerLinkActive="router-link-active"
    class="indent"
  >
    <span class="fa fa-table fa-fw"></span>
    <span class="nav-target">{{ table.name }}</span>
  </a>
  <mat-divider></mat-divider>
  <ng-container *ngIf="project.hasSources">
    <h3 mat-subheader>Quellen</h3>
    <a *ngFor="let source of project.sources" mat-list-item [href]="source.url">
      <source-icon [source]="source"></source-icon>
      {{ source.title }}
    </a>
  </ng-container>
</mat-nav-list>
