<div class="jumbotron">
  <div class="container">
    <h1>Willkommen bei esqulino</h1>
    <p>Eine schülerfreundliche Entwicklungsumgebung für den Umgang mit SQL und Benutzeroberflächen.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Für Schüler</h2>
    <p>Du wolltest schon immer mal deine eigene Blogsoftware schreiben? Oder einen Geburtstagskalender? Oder eine Webseite zum erfassen von Sammelkarten? (Fast) egal worum es geht, mit esqulino kannst du deine eigenen Webseiten programmieren.</p>
    <p>
      <a class="btn btn-secondary"
         id="about-pupils"
         href="#"
         role="button">
        So funktioniert esqulino &raquo;
      </a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Für Lehrer</h2>
    <p>Konventionelle Entwicklungsumgebungen sind Programme von Profis für Profis und bieten einen dementsprechend ausgerichteten Funktionsumfang. esqulino hingegen passt sich an den Lernfortschritt der Klassengemeinschaft an!</p>
    <p>
      <a class="btn btn-secondary"
         id="about-teachers"
         href="#"
         role="button">
        Das esqulino Konzept &raquo;
      </a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Für Entwickler</h2>
    <p>Leider gibt es viel zu wenig Lernsoftware für den Einstieg in die Webentwicklung. Wenn du dabei helfen möchtest, Kinder und Jugendliche für SQL und HTML zu begeistern, bist du herzlich dazu eingeladen zum quelloffenen esqulino Projet beizutragen.</p>
    <p>
      <a class="btn btn-secondary"
         id="about-developers"
         href="https://bitbucket.org/marcusriemer/esqulino"
         role="button">
        esqulino Git-Repository &raquo;
      </a>
    </p>
  </div>
</div>
