<esqulino-widget-node [model]="model">
  <span class="widget-header">
    <widget-parameter *ngIf="model.queryReference.isSet">
      <span class="name">Aktion</span>
      <span class="value">
        <query-reference [(queryReference)]="model.queryAction.queryReference">
        </query-reference>
        <form-parameters [action]="model.queryAction"
                         [form]="model.parentForm">
        </form-parameters>
      </span>
    </widget-parameter>
    <widget-parameter *ngIf="model.navigateAction.hasAnyTarget">
      <span class="name">Ziel</span>
      <span class="value">
        <nav-reference [navigateAction]="model.navigateAction"
                       [page]="model.page"></nav-reference>
        <form-parameters [action]="model.queryAction"
                         [form]="model.parentForm">
        </form-parameters>
      </span>
    </widget-parameter>
  </span>
</esqulino-widget-node>
