swagger: '2.0'

info:
  version: "0.1.0"
  title: "esqulino"

host: "esqulino.marcusriemer.de"
schemes:
  - https

# Describe your paths here
paths:
  /api/project:
    get:
      tags: [project]
      description: |
        Retrieves all publicly available projects
      responses:
        200:
          description: Successful response
          schema:
            type: array
            title: ArrayOfProjects
            items:
              "$ref": "/ProjectListDescription.json"
  /api/project/{id}:
    get:
      tags: [project]
      description: |
        Retrieves a specific project.
      parameters:
        - name: id
          in: path
          description: Id of the project to fetch
          required: true
          type: string
      responses:
        200:
          description: |
            Succesful retrieval of a project.
          schema:
            "$ref": "/ProjectDescription.json"
  /api/project/{id}/query/{queryId}/run:
    post:
      tags: [query]
      description: |
        Running a query that has already been stored on this server.
      parameters:
        - name: id
          in: path
          description: Id of the project the query belongs to
          required: true
          type: string
        - name: queryId
          in: path
          description: Id of the query to execute
          required: true
          type: string
          format: uuid
        - name: Query Parameters
          in: body
          description: If the query makes use of user defined values, these need to be transferred in the body.
          required: false
          schema:
            $ref: "/QueryParamsDescription.json"
      responses:
        200:
          description: |
            Succesful execution of the query.
          schema:
            "$ref": "/QueryResultDescription.json"
  /api/project/{id}/query/run:
    post:
      tags: [query]
      description: |
        Running an arbitrary query that is part of the body of the request. This is usually done during development with the integrated editor.
      parameters:
        - name: id
          in: path
          description: Id of the project the query belongs to. Without a project there would not be a database to run the query against.
          required: true
          type: string
        - name: Query Parameters
          in: body
          description: "As the server doesn't have the SQL available, it needs to be part of the request. If the query makes use of user defined values, these need to be transferred in the body."
          required: false
          schema:
            $ref: "/ArbitraryQueryRequestDescription.json"
      responses:
        200:
          description: |
            Succesful execution of the query.
          schema:
            "$ref": "/QueryResultDescription.json"
