<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/vendor/css/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Große Überschrift</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>Dies ist ein Absatz auf der linken Seite</p>
      </div>
      <div class="col-md-6">
        <p>Dies ist ein Absatz auf der rechten Seite</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>Und noch ein Absatz, an einer etwas merkwürdigen Stelle</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</body>
</html>
