<div id="regexTestTable">
  <div class="row headerRow">
    <div class="col-md-4">Zu prüfende Eingabe</div>
    <div class="col-md-3">Erwartete Treffer</div>
    <div class="col-md-1">Erfüllt?</div>
    <div class="col-md-1">Anzahl Erfüllt</div>
    <div class="col-md-3">evtl. Fehler</div>
  </div>
  <div
    class="row"
    *ngFor="let testCase of (executedTestCases$ | async)"
    [ngClass]="(testCase.result) ? 'dataRowPassed' : 'dataRowFailed'"
  >
    <div class="col-md-4">{{ testCase.input }}</div>
    <div class="col-md-3">
      <span
        *ngFor="let expectedMatch of testCase.expected.hits; let isLast=last"
      >
        <span
          style="border: solid 1px black; padding: 3px;"
          [ngStyle]="{'background-color': (checkIfExpectedHitGotMatched(expectedMatch, testCase)) ? '#77dd77' : '#f00'}"
        >
          {{ expectedMatch }}
        </span>

        {{ isLast ? '' : ', ' }}
      </span>
    </div>
    <div class="col-md-1">{{ testCase.result }}</div>
    <div class="col-md-1">
      {{ countSuccessfulHits(testCase) }}/{{ getExpectedHitCount(testCase) }}
    </div>
    <div class="col-md-3">{{ testCase.error }}</div>
  </div>
</div>
