<table id="regexTestTable">
  <tr class="row headerRow">
    <th class="col-md-3">Zu prüfende Eingabe</th>
    <th class="col-md-3">Erwartete Treffer</th>
    <th class="col-md-2">Unerwartete Treffer</th>
    <th class="col-md-1 sortColumn" (click)="changeSortDirection()">
      Erfüllt?
      <span
        [ngClass]="(sortDirection == 'none') ? 'fa fa-sort' : (sortDirection == 'asc') ? 'fa fa-sort-up' : 'fa fa-sort-down'"
      ></span>
    </th>
    <th class="col-md-3">evtl. Fehler</th>
  </tr>
  <tr
    class="row"
    *ngFor="let testCase of (executedTestCases$ | async) | tableSortingPipe: sortDirection"
    [ngClass]="(testCase.result) ? 'dataRowPassed' : 'dataRowFailed'"
  >
    <td class="col-md-3">{{ testCase.input ? testCase.input : "" }}</td>
    <td class="col-md-3">
      <span
        *ngFor="let expectedMatch of testCase.expected.hits; let isLast=last"
      >
        <span
          class="hitBox"
          [ngStyle]="{'background-color': (checkIfExpectedHitGotMatched(expectedMatch, testCase)) ? '#77dd77' : '#f00'}"
        >
          {{ expectedMatch }}
        </span>

        {{ isLast ? '' : ', ' }}
      </span>
    </td>
    <td class="col-md-2">
      <span *ngFor="let unexpectedMatch of testCase.unexpectedMatches; let isLastUnexpected=last">
        <span class="hitBox">{{ unexpectedMatch }}</span>
        {{ isLastUnexpected ? '' : ', ' }}
      </span>
    </td>
    <td class="col-md-1">{{ testCase.result ? "ja" : "nein" }}</td>
    <td class="col-md-3">{{ testCase.error }}</td>
  </tr>
</table>
