.block-container {
    font-family: monospace;
    cursor: default;
    font-size: 1.2rem;
    border: 2px solid transparent;
}

.block-container .keyword {
    color: blue;
}

.block-container .component {
    color: blue;
    float: left;
    width: $component-width;
    flex: 0 0 $component-width;
}

.block-container .line {
    display: flex;
}

.block-container .line .columns {
    flex: 1;
}

/* DELETE is supposed to be in it's own line */
.block-container .component.delete {
    float: none;
}

.block-container .component.indent {
    margin-left: $component-indent;
    width: $component-width - $component-indent;
    flex: 0 0 $component-width - $component-indent;
}

.block-container .expression {
    border-radius: 500px;
    white-space: nowrap;
    background-color: rgba(255, 165, 0, 0.3);
    border: 2px solid rgba(255, 165, 0, 0.6);
}

.block-container .current-drop-target {
    border-radius: 500px;
    border: 2px solid black;
}

.block-container .missing {
    text-align: center;
    border-radius: 500px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: red;
}

.block-container .constant {
    text-align: center;
    border-radius: 500px;
    padding-left: 1em;
    padding-right: 1em;
    border: 2px solid RGBA(100, 149, 237, 1);
    background-color: RGBA(100, 149, 237, 0.4);
}

.block-container .parameter {
    text-align: center;
    border-radius: 500px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: RGBA(129, 129, 247, 0.4);
    border: 2px solid RGBA(129, 129, 247, 1);
}

.block-container .table {
    border-radius: 500px;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(255, 255, 0, 0.2);
    border: 2px solid rgba(255, 255, 0, 0.9);
}

.block-container .table.error {
    background-color: rgba(255,0,0,0.6);
    border: 2px solid rgba(255,0,0,1);
}

.block-container .operator {
    font-weight: bold;
    border-radius: 500px;
    border: 2px solid transparent;
}

.block-container .operator.selectable {
    cursor: pointer;
    border-color: transparent;
}

.block-container .operator.selectable:hover {
    cursor: pointer;
    border-color: black;
}

.block-container .column {
    border-radius: 500px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(0, 255, 0, 0.15);
    border: 2px solid rgba(0, 255, 0, 0.6);
}

.block-container .column.blueprint {
  border-radius: 500px;
  border: 2px dashed blue;
  background-color: white;
}

.block-container .table.blueprint {
  border-radius: 500px;
  border: 2px dashed blue;
  background-color: white;
}

.block-container .table-name {
  color: limegreen;
}