.sidebar .page-preview {
    font-family: monospace;
    cursor: default;
    font-size: 20px;
}

.sidebar .page-preview > div {
    margin-bottom: .75rem;
}

.page-preview {
    .row, .border-row-preview {
        border-left: 5px solid blue;
    }

    .widget-row-preview > div {
	    padding-left: 5px;
    }

    .blueprint {
        border-left: 5px dotted blue;
        text-align: center;
    }

    .row > [class^="col-"], .column-preview {
        background-color: rgba(86,61,124,.15);
        border: 1px solid rgba(86,61,124,.2);
    }

    .row > [class^="col-"] {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .row {
        margin-bottom: .75rem;
    }

    .widget-preview {
        background-color: whitesmoke;
        padding: 5px;
    }

    .widget-preview:hover {
        background-color: white;
        cursor: pointer;
    }
}

