.page-preview {
    /* First level is unstyled */
    .tree-level {
        border-left: 0px dotted grey;
        padding-left: 0px;
    }

    /* All following level are styled */
    .tree-level .tree-level {
        border-left: 2px solid grey;
        padding-left: 20px;
    }

    .block {
        display: block;
    }

    .text {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 2px;
    }
}

/**
 * Base block for a tree-widget.
 */
.block-container .widget {
    border-radius: 5px;
    display: inline-block;
    white-space: nowrap;
    
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-bottom: 2px;
    
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.block-container .widget-close {
    border-radius: 5px;
    display: inline-block;
    white-space: nowrap;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-bottom: 2px;
    
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.3);
}

/**
 * Insert an artificial space *only* if there is a <widget-header>
 * that follows the widget-type text.
 */
.block-container .widget .widget-type + widget-header {
    margin-left: 0.5rem;
}

/**
 * 
 */
.block-container .widget-type {
    color: #00009f;
}

.block-container pre.text {
    font-size: 1.2rem;
    font-family: monospace;
    margin-bottom: 2px;
}

/**
 * The widget header is used for he key="value" argument pairs of
 * xml-like nodes.
 */
.block-container .widget widget-header {
    display: inline-block;

    name {
        text-transform: lowercase;
        color: #4f6816;
    }

    /**
     * The equals sign between keys and values.
     */
    name::after {
        content: "=";
    }
    
    /**
     * TODO: This is a hack that accounts for some whitespace that
     * gets inserted between the <name></name><value></value> node
     * by the Angular 2 transclusion mechanism.
     */
    value {
        margin-left: -0.5em;
    }

    /**
     * Surround values with " "
     */
    value::after, value::before {
        content: "\"";
    }
}

/**
 * Introduce xml brackets for widgets
 */
.block-container {
    .widget::before {
        content: "<";
    }

    .widget-close::before {
        content: "</";
    }

    .widget::after, .widget-close::after {
        content: ">";
    }
}

/**
 * Extra spacing for block level elements.
 */
.block-container .widget widget-header.block .widget-header {
    margin-left: 1rem;
    padding-left: 1rem;
}

