$sidebar-width:   250px;
$component-width:  90px;
$component-indent: 15px;

.editor {
    display: flex;
    align-items: stretch;
}

.editor .content {
    flex-grow: 1;
}

.editor nav.toolbar .navbar-brand {
    /* Hack: Account for margin and padding of Bootstraps stuff */
    min-width: $sidebar-width - 31px;
}

.editor nav.leftbar {
    min-width: $sidebar-width;
    margin-right: 10px;
}

.editor .sql {
    display: flex;
    align-items: stretch;
}

.editor nav.leftbar {
    .label.dirty {
        cursor: pointer;
    }
    
    .router-link-active {
        font-weight: bold;
        border-radius: 500px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        color: black;
        transition: background-color, padding, border-radius;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        background-color: cornflowerblue;
    }
    
    .nav-query {
        margin-left: 15px;
    }
}

.block-container {
    font-family: monospace;
    cursor: default;
    font-size: 20px;
    transition: font-size 200ms ease-in;
}

.block-container .keyword {
    color: blue;
}

.block-container .component {
    color: blue;
    float: left;
    width: $component-width;
}

.block-container .component.indent {
    margin-left: $component-indent;
    width: $component-width - $component-indent;
}

.block-container .expression {
    padding: 2px;
    border-radius: 500px;
    background-color: yellow;
}

.block-container .expression:hover {
    background-color: orange;
}

.block-container .expression {
    border-radius: 500px;
    background-color: orange;
}

.block-container .current-drop-target {
    transition: font-size 200ms ease-in;
    font-size: 30px;
}

.block-container input {
    background-color: transparent;
    border: 0px solid;
    padding: 0px;
    margin: 0px;
}

.block-container input:focus {
    outline: none;
}

.block-container .constant {
    text-align: center;
    border-radius: 500px;
    border-color: black;
    border-width: 1px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: cornflowerblue;
    color: black;
}

.block-container .table {
    border-radius: 500px;
    border-color: black;
    border-width: 1px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: yellow;
    color: black;
}

.block-container .column {
    border-radius: 500px;
    border-color: black;
    border-width: 1px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: lime;
}

.block-container .column.blueprint {
  border-radius: 500px;
  border: 2px dashed blue;
  background-color: white;
}

.block-container .table-name {
    color: limegreen;
}

.sidebar {
    width: $sidebar-width;
}

.sidebar .block .column {
    margin-bottom: 10px;
}

.front {
    nav {
        /* Put some space below the navigation */
        margin-bottom: 15px;
    }
    
    .project-list-item .card-img-top {
        opacity: 0.2;
        transition: opacity 0.3s;
    }

    .project-list-item:hover .card-img-top {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .project-list-item .card-img-overlay {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .project-list-item:hover .card-img-overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
    }
}
