<div (click)="startEditing()"
     class="widget-preview">
  <h5>
    Aktion:
    <span (dragover)="onActionDragOver($event)"
          (drop)="onActionDrop($event)"
          class="block-container block">
      <span *ngIf="model.hasAction"
            class="parameter">
        {{ model.action.queryName }}
      </span>
      <span *ngIf="!model.hasAction"
            class="missing">
        Keine Aktion
      </span>
    </span>
  </h5>

  <div *ngIf="model.hasAction">
    Parameter:
    <div *ngFor="let param of requiredParameters;">
      {{ param.key }}
    </div>
  </div>

  <button (click)="startEditing()"
          type="button"
          class="btn btn-secondary btn-block">
    {{ model.text }}
  </button>
</div>
