<div (click)="startEditing()"
     class="widget-preview">
  <h5>
    Aktion:
    <span (dragover)="onActionDragOver($event)"
          (drop)="onActionDrop($event)"
          class="block-container block">
      <span *ngIf="model.hasAction"
            class="parameter">
        {{ model.action.queryName }}
      </span>
      <span *ngIf="!model.hasAction"
            class="missing">
        Keine Aktion
      </span>
    </span>

    <template [ngIf]="model.hasAction">
      <span *ngFor="let param of parameters;"
            class="block-container">
        <span class="constant">
          <span *ngIf="param.isSatisfied" class="fa fa-fw fa-link" aria-hidden="true"></span>
          {{ param.inputName }}
        </span>
      </span>
    </template>
  </h5>

  <button (click)="startEditing()"
          type="button"
          class="btn btn-secondary btn-block">
    {{ model.text }}
  </button>
</div>
