<div class="card-block">
  <!-- Query Selection -->
  <h5>Benutzte Abfrage</h5>
  <select [(ngModel)]="referencedString"
          id="table-selected-query"
          class="form-control">
    <option *ngFor="let avail of availableQueries;"
            [value]="buildReferenceString(avail)">
      {{avail.ref.name}} ({{ avail.query.name }})
    </option>
  </select>

  <!-- Column Selection -->
  <h5>Mögliche Spalten</h5>
  <div class="block-container block">
    <div *ngFor="let column of availableColumns;"
         class="column"
         draggable="true">
      {{ column.shortName }}
    </div>
  </div>
</div>
