<div (click)="startEditing()"
     class="widget-preview">
  <h5>Abfrage:
    <span (dragover)="onQueryDragOver($event)"
          (drop)="onQueryDrop($event)"
          class="block-container block">
      <span class="table">
        {{ referenceName }}
      </span>
    </span>
  </h5>
  <table class="table">
    <tr>
      <td *ngFor="let column of columns; trackBy: trackByColumn"
          class="block-container block">
        <span (dragover)="onQueryDragOver($event)"
              (drop)="onQueryDrop($event)"
              (dragstart)="startColumnRefDrag($event, column)"
              draggable="true"
              class="column">
          {{ column.shortName }}
        </span>
      </td>
    </tr>
  </table>
</div>
