<esqulino-widget-node [model]="model">
  <widget-header>
    <widget-parameter>
      <name>Aktion</name>
      <value *ngIf="model.hasAction">
        <query-reference [(queryReferenceName)]="model.action.queryReference.name"
                         [page]="model.page"></query-reference>
        <required-parameters *ngIf="!model.action.isEmpty"
                             [(parameterMapping)]="model.action.queryParameters"
                             [page]="mode.page"></required-parameters>
      </value>
      <value *ngIf="!model.hasAction">
        <query-reference [(queryReferenceName)]="model.action.queryReference.name"
                         [page]="model.page"></query-reference>
      </value>
    </widget-parameter>
  </widget-header>
</esqulino-widget-node>
