<esqulino-widget-node [model]="model">
  <widget-header>
    <widget-parameter>
      <name>Aktion</name>
      <value>
        <query-reference [(queryReference)]="model.queryReference">
        </query-reference>
        <required-parameters *ngIf="model.queryReference && model.queryReference.isResolveable"
                             [(parameterMapping)]="model.queryReference.mapping"
                             [page]="model.page">
        </required-parameters>
      </value>
    </widget-parameter>
  </widget-header>
</esqulino-widget-node>
