<esqulino-widget-node [model]="model">
  <span class="widget-header">
    <widget-parameter>
      <span class="name">Aktion</span>
      <span class="value">
        <query-reference [(queryReference)]="model.queryReference">
        </query-reference>
        <required-parameters *ngIf="model.queryReference && model.queryReference.isResolveable"
                             [(parameterMapping)]="model.mapping"
                             [page]="model.page">
        </required-parameters>
      </span>
    </widget-parameter>
  </span>
</esqulino-widget-node>
