<esqulino-widget-node [model]="model"
                      [nodeDisplay]="'block'">
  <widget-header>
    <widget-parameter>
      <name>Abfrage</name>
      <value><query-reference [(queryReferenceName)]="model.queryReferenceName"
                              [page]="model.page"></query-reference></value>
    </widget-parameter>
  </widget-header>

  <div *ngIf="model.hasValidReference"
      class="text tree-level">
    <query-column-list [select]="model.queryReference.query.select"
                       [(columnNames)]="model.columnNames">
    </query-column-list>
  </div>
</esqulino-widget-node>
