<div class="card mb-3">
  <div class="card-block">
    <h4>Alle verfügbaren Bilder</h4>
    <p>Hier siehst du alle Bilder, die du für dein Projekt verwenden kannst.</p>
      <div *ngFor="let image of images" class="card" style="width: 19rem; float:left">
        <img class="card-img-top" src="{{image['image-url']}}" alt="{{image['image-name']}}" style="display: block; width:auto; height:auto; max-width: 19rem;">
        <div class="card-block">
            <ul>
                <li>{{image["image-name"]}}</li>
                <li>{{image["author-name"]}}</li>
                <li>{{image["author-url"]}}</li>
            </ul>
            <a [routerLink]="[image.id,'edit']"><button>
                Edit
            </button></a>
        </div>
      </div>
  </div>
</div>
