.block-container {
    font-family: monospace;
    cursor: default;
    font-size: 20px;
}

.block .keyword {
    color: blue;
}

.block .constant {
    color: red;
}

.block .column {
    color: green;
}

.block .table-name {
    color: limegreen;
}

.block.select .column:after {
    content: ", ";
}

.block.select .column:last-child:after {
    content: "";
}

nav.front {
    margin-bottom: 15px;
}

.project-list-item .card-img-top {
    opacity: 0.2 ;
    transition: opacity 0.3s;
}

.project-list-item:hover .card-img-top {
    opacity: 1.0 ;
    transition: opacity 0.3s;
}

.project-list-item .card-img-overlay {
    opacity: 1 ;
    transition: opacity 0.3s;
}

.project-list-item:hover .card-img-overlay {
    opacity: 0.0 ;
    visibility: hidden;
    transition: opacity 0.3s;
}