.block-container {
    font-family: monospace;
    cursor: default;
    font-size: 20px;
}

.block .keyword {
    color: blue;
}

.block .constant {
    color: red;
}

.block .column {
    color: green;
}

.block .table-name {
    color: limegreen;
}

.block.select .column:after {
    content: ", ";
}

.block.select .column:last-child:after {
    content: "";
}



nav.front {
    margin-bottom: 15px;
}