<div class="card-block">
  <h4>Knopf</h4>

  <fieldset class="form-group">
    <label for="button-sidebar-text">Text</label>
    <input [(ngModel)]="model.text"
           type="text"
           class="form-control"
           id="button-sidebar-text">
  </fieldset>

  <h5>Benutzte Abfrage</h5>
  <select [(ngModel)]="queryName"
          id="table-selected-query"
          class="form-control">
    <option *ngFor="let avail of availableQueries;"
            [value]="avail.name">
      {{avail.name}}
      <span *ngIf="avail.name != avail.query.name">({{ avail.query.name }})</span>
    </option>
  </select>


</div>
