<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} - {{ project.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/css/esqulino-ribbon.css">
  </head>

<body>
  <div class="container-fluid">
    <h1>Meine Einkaufsliste
</h1>
<p>Auf dieser Seite kann man meine Einkaufslisten einsehen
</p>
  </div>
  {% include "edit-ribbon" %}
</body>


</html>

