<div [astDropTarget]="node"
     [@dropTarget]="dropTargetAnimationState | async"
     (drop)="onDropReplace()"
     (dragstart)="onStartDrag($event)"
     class="node"
     draggable="true">
  <code>{{ node.languageName }}.{{ node.typeName }}</code>
  ({{ properties.length }} Properties)

  <!-- Buttons to manipulate the node -->
  <div class="edit-buttons float-right">
    <button (click)="onPropertyAdd()"
            class="btn btn-light btn-sm ml-1">
      <span class="fa fa-plus-circle" aria-hidden="true"></span> Eigenschaft
    </button>

    <button (click)="onChildGroupAdd()"
            class="btn btn-light btn-sm">
      <span class="fa fa-plus-circle" aria-hidden="true"></span> Kindgruppe
    </button>
  </div>

  <!-- Displaying and editing properties -->
  <div *ngFor="let property of properties">
    <input type="text"
           value="{{ property.key }}"
           (blur)="onPropertyRename(property.key, $event.target.value)">
    =
    <input type="text"
           value="{{ property.value }}"
           (blur)="onPropertyEdit(property.key, $event.target.value)"> 
  </div>

  <!-- Displaying and editing children -->
  <div *ngFor="let category of childrenCategories">
    <ast-node-children [categoryName]="category.categoryName"
                       [nodes]="category.nodes"
                       [parent]="node">
    </ast-node-children>
  </div>
</div>
