<div *ngIf="allowDropBefore"
     [astDropPlaceholder]="node"
     [@dropPlaceholder]="dropPlaceholderAnimationState | async"
     (@dropPlaceholder.start)="logAnimation($event)"
     (@dropPlaceholder.done)="logAnimation($event)"
     class="node">
  Drop Target
</div>
<div [astDropTarget]="node"
     [@dropTarget]="dropTargetAnimationState | async"
     (drop)="onDrop($event)"
     class="node">
  <code>{{ node.languageName }}.{{ node.typeName }}</code>
  ({{ properties.length }} Properties)
  
  <div *ngFor="let property of properties">
    <label>
      {{ property.key }} =
      <input type="text"
             value="{{ property.value }}"
             (blur)="onPropertyEdit(property.key, $event.target.value)"> 
    </label>
  </div>
  
  <div *ngFor="let category of childrenCategories">
    children: <code>{{ category.categoryName }}</code>
    <ng-container *ngFor="let childNode of category.nodes">
      <ast-node [node]="childNode"
                [allowDropBefore]="true"></ast-node>
    </ng-container>
  </div>
</div>
