<div class="ast"
     (dragenter)="onDragEnter($event)">
  <div class="content">    
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Syntaxbaum-Editor</h4>
        <p class="card-text">
          Dieser Editor erlaubt die Bearbeitung der grundlegendsten Strukturen und sollte nur von erfahrenen Benutzern verwendet werden.
        </p>
      </div>
      
      <div class="card-body">
        <ast-node [node]="(currentTree | async).rootNode"></ast-node>
      </div>
    </div>

    <div class="alert alert-info">
      <h6>
        <span class="fa fa-bug"></span> Drag&Drop
      </h6>
      
      <code>Node: {{ (dragService.currentDragOverNode | async)?.location | json }}</code>
      <code>Placeholder: {{ (dragService.currentDragOverPlaceholder | async)?.location | json }}</code>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Validierung</h4>
        <ast-validation [tree]="currentTree | async"
                        [language]="currentLanguage">
        </ast-validation>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Datenmodell</h4>
        <pre>{{ (currentTree | async).toModel() | json }}</pre>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Kompilierung</h4>
        <ast-code-generator [tree]="currentTree | async"
                            [language]="currentLanguage">
        </ast-code-generator>
      </div>
    </div>

    <textarea [(ngModel)]="rawNodeData"
              [rows]="rawNodeDataLineNum"
              class="form-control">
    </textarea>
  </div>
</div>
