<div class="ast">
  <div class="content">    
    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Syntaxbaum-Editor</h4>
        <p class="card-text">
          Dieser Editor erlaubt die Bearbeitung der grundlegendsten Strukturen und sollte nur von erfahrenen Benutzern verwendet werden.
        </p>
      </div>
      <div class="card-block">
        <textarea [(ngModel)]="rawNodeData"
                  [rows]="rawNodeDataLines"
                  class="form-control">
        </textarea>
      </div>
      
      <div class="card-block">
        <ast-node [node]="ast"></ast-node>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-block">
        <h4 class="card-title">Validierung</h4>
        <ast-validation [node]="ast"
                        [language]="currentLanguage">
        </ast-validation>
      </div>
    </div>
  </div>
</div>
