<mat-progress-bar
        conditionalDisplay
        [_indicator]="progress$"
        [_initiator]="false"
        mode="indeterminate"
></mat-progress-bar>
<table
        conditionalDisplay
        [_initiator]="true"
        [_indicator]="progress$"
        class="full-width"
        mat-table
        [dataSource]="data$ | async"
>
    <ng-content></ng-content>
    <tr mat-header-row *matHeaderRowDef="activeColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: activeColumns;"></tr>
</table>
<mat-paginator
    #paginator
    (page)="onChangePagination()"
    [length]="totalCount$ | async"
    [pageSize]="25"
    [pageSizeOptions]="[5,25,100]"
></mat-paginator>
