<!-- Setup visuals and drag & drop -->
<div [blockLayout]="visual"
     [blockBase]="visual"
     [astDropTarget]="node"
     [astDraggable]="node"
     [@dropTarget]="dropTargetAnimationState | async"
     class="default">
  <!-- Render all components of this block -->
  <ng-container *ngFor="let childVisualBlock of visual.children">
    <editor-block-render [codeResource]="codeResource"
                         [visual]="childVisualBlock"
                         [node]="node"></editor-block-render>
  </ng-container>
</div>
