<ng-container [ngSwitch]="visual.blockType">
  <!-- Show a constant value directly specified in the block description -->
  <span *ngSwitchCase="'constant'">{{ visual.text }}</span>
  <!-- Show a value that is derived from the property of a node -->
  <span *ngSwitchCase="'interpolated'">{{ node.properties[visual.property] }}</span>
  <!-- Iterate over children of a node -->
  <div *ngSwitchCase="'iterator'">
    <editor-block-render-iterator [languageModel]="languageModel"
                                  [node]="node"
                                  [visual]="visual"></editor-block-render-iterator>
  </div>
  <!-- Display a draggable block -->
  <ng-container *ngSwitchCase="'block'">
    <editor-block-render-block [languageModel]="languageModel"
                               [node]="node"
                               [visual]="visual"></editor-block-render-block>
  </ng-container>
  <!-- Something is broken, display a error message -->
  <div *ngSwitchDefault>Fehler: Kein passender Block "{{ visual.blockType }}" verfügbar</div>
</ng-container>

