<div class="ast">
  <div class="content">    
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Block-Editor</h4>
        <p>Gehen Sie weiter, hier gibt es nichts zu sehen …</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Validierung</h4>
        <ast-validation>
        </ast-validation>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Kompilierung</h4>
        <ast-code-generator>
        </ast-code-generator>
      </div>
    </div>
  </div>
</div>
