<div class="ast"
     (dragenter)="onDragEnter($event)">
  <!-- Ensuring there is a selected resource -->
  <ng-container *ngIf="(currentResource | async); let currentResource"> 
    <div class="content">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Block-Editor</h4>
          <div class="row">
            <div class="col-sm-6">
              Sprache:
            </div>
            <div class="col-sm-6">
              <language-selector [codeResource]="currentResource">
              </language-selector>
            </div>
            <div class="col-sm-6">
              GUI-Modell:
            </div>
            <div class="col-sm-6">
              <language-model-selector [codeResource]="currentResource">
              </language-model-selector>
            </div>
          </div>
        </div>
        
        <!-- Ensuring there is a selected language model -->
        <ng-container *ngIf="(currentResource.languageModel | async); let currentLanguageModel;">

          <!-- Ensuring there is a tree -->
          <ng-container *ngIf="(currentResource.syntaxTree | async); let currentTree;">
            <div *ngIf="currentTree.isEmpty"
                 class="card-body">
              Noch ist kein Code da! Ziehe einen Block aus der Seitenleiste auf den freien Platz um mit der Programmierung zu beginnen!
              <ast-node-placeholder [alwaysVisible]="true"
                                    [location]="[]">
                Freier Platz
              </ast-node-placeholder>
            </div>

            <div *ngIf="!currentTree.isEmpty"
                 class="card-body block-editor">
              <editor-block-host [languageModel]="currentLanguageModel"
                                 [node]="currentTree.rootNode"></editor-block-host>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Validierung</h4>
          <ast-validation>
          </ast-validation>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Kompilierung</h4>
          <ast-code-generator>
          </ast-code-generator>
        </div>
      </div>
    </div>
  </ng-container>
</div>
