<ng-container [ngSwitch]="blockType">
  <span *ngSwitchCase="'constant'">{{ editorBlock.text }}</span>
  <span *ngSwitchCase="'interpolated'">{{ node.properties[editorBlock.property] }}</span>
  <div class="editor-block default"
       *ngSwitchCase="'block'">
    <ng-container *ngFor="let childBlock of editorBlock.visualDescription.children">
      <editor-block [languageModel]="languageModel"
                    [editorBlock]="childBlock"
                    [node]="node"></editor-block>
    </ng-container>
  </div>
  <div *ngSwitchDefault>Fehler: Kein passender Block "{{ blockType }}" verfügbar</div>
</ng-container>
