<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email Confirmation</h1>
    <p>Hay <%= @user[:info][:name] %> please click the link below to verify your email adress</p>
    <a href="<%= @user_verify_url %>">Verify email adress</a>
  </body>
</html>
