<form (ngSubmit)="onCreateGrade()" [formGroup]="createGradeForm">
  <div>
    <label class="col-sm-2 from-control_label">Bewertung</label>
    <input
      class="form-control"
      type="number"
      formControlName="grade"
      name="grade"
    />
  </div>
  <div>
    <label>Feedback</label>
    <textarea
      class="form-control"
      formControlName="feedback"
      name="feedback"
    ></textarea>
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="!createGradeForm.valid"
  >
    Feedback Abschicken
  </button>
</form>
