<div *ngIf="renderDataReady$">
  <div *ngIf="users && users.length > 1" class="form-check form-switch">
    <input
      [(ngModel)]="groupGrading"
      class="form-check-input"
      type="checkbox"
      id="flexSwitchCheckDefault"
    />
    <label class="form-check-label" for="flexSwitchCheckDefault">
      Gruppenbewertung
    </label>
  </div>

  <div *ngIf="users && groupGrading">
    <button (click)="downUser()">
      <span class="fa fa-arrow-circle-left" aria-hidden="true"></span>
    </button>
    {{ users[selectedUser]?.userName }} - {{ selectedUser + 1 }}/
    {{ users.length }}
    <button (click)="upUser()">
      <span class="fa fa-arrow-circle-right" aria-hidden="true"></span>
    </button>
  </div>
  <create-grade
    [assignmentSubmissionId]="paramSubmissionId$ | async"
    [evaluatedPeopleIds]="groupGrading ? users[selectedUser] : undefined"
  ></create-grade>
</div>
