<sidebar-item-host header="Knopf">
  <fieldset class="form-group">
    <label for="button-sidebar-text">Text</label>
    <input [(ngModel)]="model.text"
           type="text"
           class="form-control"
           id="button-sidebar-text">
  </fieldset>

  <h5>Benutzte Abfrage</h5>
  <select [(ngModel)]="queryId"
          id="table-selected-query"
          class="form-control">
    <option *ngFor="let avail of availableQueries;"
            [value]="avail.id">
      {{avail.name}}
    </option>
  </select>
</sidebar-item-host>
