<div class="row">
  <div class="col-9">
    <div class="btn-group btn-group-sm d-flex pl-1" role="group">
      <button class="btn btn-outline-primary flex-grow-1" (click)="undo()">
        <i class="fa fa-undo"></i>
        Schritt zurück
      </button>
      <button
        class="btn btn-outline-primary flex-grow-1"
        (click)="resetChanges()"
      >
        <i class="fa fa-ban"></i>
        Änderungen zurücksetzten
      </button>
      <button
        class="btn btn-outline-primary flex-grow-1"
        (click)="resetEverything()"
      >
        <i class="fa fa-trash"></i>
        Alles löschen
      </button>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group row">
      <label for="world-size-x" class="col-2 col-form-label">X</label>
      <div class="col-10">
        <input
          class="form-control"
          id="world-size-x"
          type="number"
          min="1"
          max="25"
          [(ngModel)]="sizeX"
        />
      </div>
      <label for="world-size-y" class="col-2 col-form-label">Y</label>
      <div class="col-10">
        <input
          class="form-control"
          id="world-size-y"
          type="number"
          min="1"
          max="25"
          [(ngModel)]="sizeY"
        />
      </div>
    </div>
  </div>
</div>

