<!DOCTYPE html>
<html>
<head>
<title>{{ page.name }} - {{ project.name }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet" href="/vendor/css/bootstrap.css">
<link rel="stylesheet" href="/vendor/css/esqulino-ribbon.css">
</head>

<body>
<div class="container-fluid">
<p> </p>
<div class="row"><div class="col-md-9"><div class="row"><div class="col-md-2">{% include "image" src: "08826a81-d0bc-4518-87d0-ed62cfe338c6", type: "icon" %}</div>
<div class="col-md-8"><!-- Raw HTML begin --><p>Dies ist der Versuch den Wikipedia Artikel von <a href="https://de.wikipedia.org/wiki/Gro%C3%9F_Nordende">Groß Nordende</a> nachzubauen.</><p>Da SQLino nicht alle von Wikipedia verwendeten HTML Features bereitstellt, mussten einige Dinge weggelassen werden.</p><p>Es wurden weiterhin alles ab den Quellen weggelassen.</p><!-- Raw HTML end --></div>
<div class="col-md-2">{% include "image" src: "08826a81-d0bc-4518-87d0-ed62cfe338c6", type: "icon" %}</div></div>
<p> </p>
<h1>Groß Nordende</h1>
<p>Groß Nordende (niederdeutsch: Groten Noordinn) ist eine Gemeinde im Kreis Pinneberg in Schleswig-Holstein. Die Gemeinde besteht aus den Ortsteilen Lander, Krull und Strohsack.</p>
<h2>Geografie und Verkehr</h2>
<p>Groß Nordende liegt am Rand der Seestermüher Marsch an der Bundesstraße 431 nördlich von Uetersen. Die Gemeinde ist durch Linienbusverkehr im Hamburger Verkehrsverbund
 mit Elmshorn, Uetersen und Wedel und damit mit dem Großraum Hamburg 
verbunden. Direkte Nachbarstädte und -gemeinden sind Uetersen, Neuendeich, Seester, Klein Nordende und Heidgraben.</p>
<h2>Geschichte</h2>
<p>Groß Nordende war früher eine Siedlung, die sich im Norden von Uetersen
 bildete. Erstmals wird Groß Nordende 1584 erwähnt. Ab 1787 gehörte Groß
 Nordende zur Amtsvogtei Uetersen, die sich 1835 in drei Distrikte 
gliederte. Darunter auch der Groß Nordender Distrikt, wodurch die 
Gemeinde als Distriktverwaltung ein gehobenes Ansehen und eine gewisse 
Selbständigkeit genoss. Mehrere Kriege musste die Gemeinde mitmachen und
 im Jahr 1735 mussten die Leute des Geestlandes als Tagelöhner ihren 
Unterhalt verdienen. Zu jener Zeit war der Kuhhirte eine Art 
„Amtsperson“ und genoss ein gewisses Ansehen in den Dörfern, zumal er 
als Kundiger der Viehkrankheiten und der Heilkräuter den Tierarzt 
ersetzte. Nach gleichen „Rezepten“ behandelte er vermutlich auch die 
Einwohner. Nach Aufteilung der „Almende“ und dem Aufstieg der 
Landwirtschaft ging das Amt des Gemeindehirten allmählich ein.</p>
<h2>Politik</h2>
<p>Seit der Kommunalwahl 2008 hat die Wählergemeinschaft GuB’82 fünf und die Wählergemeinschaft AKWG vier Sitze in der Gemeindevertretung.</p>
<h2>Wappen</h2>
<p>Blasonierung:
 „Von Gold und Grün durch einen rot-silbern geteilten Balken schräg 
geteilt. Oben ein rotes Wagenrad, unten ein silbernes Bauernhaus mit 
rotem Giebel, Türen und Fenstern.“</p>
<h2>Kultur und Sehenswürdigkeiten</h2>
<p>Das mit Schnitzereien verzierte ehemalige Schulgebäude wird jetzt als 
Dorfgemeinschaftshaus genutzt und steht unter Denkmalschutz. Außerdem 
reihen sich an der B 431 mehrere historische Bauernhöfe aneinander. 
Früher war die Straße Teil des Ochsenwegs. Das Gebäude des ehemaligen 
Ochsenweg-Krugs „Strohsack“ ist noch erhalten. Die Straße und die 
Bauernhäuser liegen auf der erhöhten Geest am Marschrand, die Ländereien
 liegen oft in der Marsch.</p>
<h6>Historische Gebäude am Marschrand (Dorfstraße)</h6>
<div class="row"><div class="col-md-4">{% include "image" src: "ee94d05c-35dd-45f9-bfbd-900621d239be", type: "figure" %}
{% include "image" src: "80f83d20-a3b1-460a-8444-070bb8964808", type: "figure" %}</div>
<div class="col-md-4">{% include "image" src: "2e5d5833-7d36-4088-a43b-59ce3eb3eefb", type: "figure" %}
{% include "image" src: "5b6bf59e-c156-4107-b5aa-825532187886", type: "figure" %}</div>
<div class="col-md-4">{% include "image" src: "cc950784-d9d2-4ddb-b6f2-663ebba81cc3", type: "figure" %}</div></div>
<p>Der Ortsteil Lander liegt abseits des Straßendorfs in der angrenzenden 
Marsch. Hier steht eines der ältesten Bauernhäuser der Region, der Hof 
Döhren von 1663.</p>
<h6>Höfe im Ortsteil Lander</h6>
<div class="row"><div class="col-md-4">{% include "image" src: "4bace680-6468-4e8c-96e6-2efc32133ff0", type: "figure" %}</div>
<div class="col-md-4">{% include "image" src: "b804042b-4b52-4a5e-bc81-13544f8a67ae", type: "figure" %}</div>
<div class="col-md-4">{% include "image" src: "343fd41d-5d80-4cd3-b7e9-351cf25beb92", type: "figure" %}</div></div>
<h2>Wirtschaft</h2>
<p>Die landwirtschaftlichen Nutzflächen von 560 Hektar sind teilweise in 
der Geest, teilweise in der Marsch gelegen. Sie werden für 
Landwirtschaft und Erwerbsgartenbau genutzt. Während 1945 noch 30 
Gartenbaubetriebe ansässig waren, sind es heute noch fünf Höfe. An der B
 431 entstanden mehrere Hofläden und ein Bauernhofcafé. Dazu ist der 
Wikingerhof "Norvik", der überregional bekannt ist, in Groß Nordende 
beheimatet.</p></div>
<div class="col-md-3"><h6>Wappen</h6>
{% include "image" src: "06b850e9-4ada-4507-8c4a-f6e37b48bd1f", type: "figure" %}
<h6>Basisdaten</h6>
<div class="row"><div class="col-md-6"><p>Bundesland:</p></div>
<div class="col-md-6"><p>Schleswig-Holstein</p></div>
<div class="col-md-6"><p>Kreis:</p></div>
<div class="col-md-6"><p>Pinneberg</p></div>
<div class="col-md-6"><p>Amt:</p></div>
<div class="col-md-6"><p>Geest und Marsch Südholstein</p></div>
<div class="col-md-6"><p>Höhe:</p></div>
<div class="col-md-6"><p>
7 m ü. NHN</p></div>
<div class="col-md-6"><p>Fläche:</p></div>
<div class="col-md-6"><p>5,64 km2</p></div>
<div class="col-md-6"><p>Einwohner:</p></div>
<div class="col-md-6"><p>776 (31. Dez. 2015)</p></div>
<div class="col-md-6"><p>Bevölkerungsdichte:</p></div>
<div class="col-md-6"><p>138 Einwohner je km2</p></div>
<div class="col-md-6"><p>Postleitzahl:</p></div>
<div class="col-md-6"><p>25436</p></div>
<div class="col-md-6"><p>Vorwahl:</p></div>
<div class="col-md-6"><p>04122</p></div>
<div class="col-md-6"><p>Kfz-Kennzeichen:</p></div>
<div class="col-md-6"><p>
PI</p></div>
<div class="col-md-6"><p>Gemeindeschlüssel:</p></div>
<div class="col-md-6"><p>01 0 56 016</p></div>
<div class="col-md-6"><p>Adresse der Amtsverwaltung:</p></div>
<div class="col-md-6"><p>Amtsstraße 12
25436 Moorrege</p></div>
<div class="col-md-6"><p>Webpräsenz:</p></div>
<div class="col-md-6"><a href="http://www.gross-nordende.de/">http://www.gross-nordende.de/</a></div>
<div class="col-md-6"><p>Bürgermeisterin:</p></div>
<div class="col-md-6"><p>Ute Ehmke (GuB’82)</p></div></div>
{% include "image" src: "48321853-4691-4602-9216-ac1cc7990ce0", type: "figure" %}
{% include "image" src: "17b68ead-4c2c-43c3-a3a4-c57028ba92a1", type: "figure" %}</div></div>
</div>
{% include "image-sources" %}
{% include "edit-ribbon" %}
</body>


</html>

