<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/vendor/css/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Historische Personen und Ereignisse</h1>
        <p>Auf dieser Seite lassen sich die zeitlichen Zusammenhänge von historischen Persönlichkeiten und Ereignissen darstellen.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Alle Personen</h2>
        <p>Diese Personen sind in der Datenbank hinterlegt.</p>{% include "query_table" table: query.p_alle %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Alle Ereignisse</h2>{% include "query_table" table: query.e_alle %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Erlebte Ereignisse</h1>{% include "query_table" table: query.erlebt %}
      </div>
    </div>
  </div>
</body>
</html>
