<!DOCTYPE html>
<html>
<head>
<title>{{ page.name }} - {{ project.name }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet" href="/vendor/css/bootstrap.css">
<link rel="stylesheet" href="/vendor/css/esqulino-ribbon.css">
</head>

<body>
<div class="container-fluid">
{% include "image" src: "7aa9753c-f398-4271-b381-5fdd1ead6ebb", alt: "", type: "icon" %}
{% include "image" src: "7aa9753c-f398-4271-b381-5fdd1ead6ebb", alt: "", type: "icon" %}
{% include "image" src: "eb6d8e76-81ee-4e77-9da0-61a29d5206f8", alt: "", type: "icon" %}
{% include "image" src: "7aa9753c-f398-4271-b381-5fdd1ead6ebb", alt: "", type: "icon" %}
{% include "image" src: "7aa9753c-f398-4271-b381-5fdd1ead6ebb", alt: "", type: "icon" %}
{% include "image" src: "6d8f67de-15b7-4a43-a57c-03e5497fe7e3", alt: "", type: "icon" %}
</div>
{% include "image-sources" %}
{% include "edit-ribbon" %}
</body>


</html>

