<div class="row card-columns">
  <div *ngFor="#project of projects"
       class="col-sm-4 col-lg-3">
    <div class="card">
      <div class="card-block">
        <h2 class="card-title">{{ project.name }}</h2>
        <h4 class="card-subtitle text-muted">{{ project.description }}</h4>
        <button type="button" class="btn btn-primary btn-block">
          Ansehen
        </button>
        <button type="button" class="btn btn-info btn-block">
          Bearbeiten
        </button>
      </div>
    </div>
  </div>

</div>
