<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
  </head>


<body>
  <div class="container-fluid">
    <form>
      <h1>Pokémon Gefangen</h1>
<p>Herzlichen Glückwunsch, du hast also ein neues Pokémon gefangen. Hier kannst du es eintragen.</p>
<a href="/Hauptseite">Zurück zur Hauptseite</a>
{% include "query_table" table: query.Pokedex_1G, columns: "nummer,name,typ" %}
<h2>Fakten zu deinem Fang</h2>
{% include "input" caption: "Nummer im Pokédex", outParamName: "input.nummer", description: "", inputType: "number"  %}
{% include "input" caption: "Spitzname", outParamName: "input.name", description: "", inputType: "text"  %}
{% include "input" caption: "Stärke des neuen Pokémon", outParamName: "input.staerke", description: "", inputType: "text"  %}
<div class="alert alert-danger" role="alert">Dieser Knopf hat kein gültiges Ziel und wird daher nicht dargestellt!</div>
<h2>Meine Pokémon</h2>
{% include "query_table" table: query.Meine_Pokemon, columns: "gefangen_id,nummer,name,typ,spitzname,staerke" %}
    </form>
  </div>
</body>


</html>

