<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
  </head>
  <body>
    <div class="container-fluid">
      <form>
        <div class="row">
          <div class="col-md-12">
            <p>Hier stelle ich mein Pokemon mit der ID {{get.id}} vor: {{ query.pokemon.spitzname }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="/Hauptseite">Zurück zur Hauptseite</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>

