<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} - {{ project.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/css/esqulino-ribbon.css">
  </head>

  <body>
    <div class="container-fluid">
      <h1>Hallo auf meinem Pokédex</h1>
      <p>Hier zeige ich alle Pokémon, die ich gefangen habe.</p>
      {% include "query_table" table: query.Meine_Pokemon, columns: "spitzname,staerke,nummer,typ" %}
      <div class="row"><div class="col-md-6"><form>
            {% include "get_data_hidden" %}
            <button type="submit" formaction="/Gefangen_Loeschen" formmethod="GET"class="btn btn-secondary btn-block">Pokémon freigelassen</button></form></div>
        <div class="col-md-6"><form>
            {% include "get_data_hidden" %}
            <button type="submit" formaction="/Gefangen_Neu" formmethod="GET"class="btn btn-secondary btn-block">Pokémon gefangen
      </button></form></div></div>
      <h1>Pokémon ansehen
      </h1>
      <form>
        {% include "get_data_hidden" %}
        {% include "select" options: query.Meine_Pokemon, outParamName: "id", caption: "Auswahl", optionText: "spitzname", optionValue: "gefangen_id"  %}
        <button type="submit" formaction="/Gefangen_Einzeln?id={{id}}" formmethod="GET"class="btn btn-secondary btn-block">Ansehen</button>
        <button type="submit" formaction="/Hauptseite/query/40bddeac-facc-4836-a27b-6a23222078d5?gefangen_id=id" formmethod="POST" class="btn btn-secondary btn-block">Löschen</button></form>
    </div>
    {% include "edit-ribbon" %}
  </body>


</html>

