<!-- If a message is passed to the dialog -->
<div
  *ngIf="this.data && this.data.message"
  mat-dialog-header
  class="alert"
  [ngClass]="{
    'alert-danger': type == 'error',
    'alert-warning': type == 'warning'
  }"
  role="alert"
>
  {{ message }}
</div>

<div mat-dialog-content class="flex-column authentication">
  <div>
    <h1>{{ isSignIn() ? "Anmelden" : "Registrieren" }}</h1>
  </div>
  <providers-all-buttons
    (trigger)="showEmailContent()">
  
  </providers-all-buttons>

  <ng-container *ngIf="emailContent">
    <hr/>

    <ng-container *ngIf="isSignIn()">
      <!-- Main content -->
      <sign-in *ngIf="!secondContent"
        (content)="changeContent()">
      </sign-in>
      <!-- Second content -->
      <request-reset-password 
        *ngIf="secondContent">
      </request-reset-password>
    </ng-container>

    <ng-container *ngIf="!isSignIn()">
      <!-- Main content -->
      <sign-up *ngIf="!secondContent"
        (content)="changeContent()">
      </sign-up>
      <!-- Second content -->
      <request-verify-email
        *ngIf="secondContent">
      </request-verify-email>
    </ng-container>
  </ng-container>
</div>
