<div mat-dialog-content
  class="d-flex justify-content-center authentication">
    <mat-tab-group
      mat-dialog-content
      (selectedTabChange)="changeToSignInOrSignUp()">

    <mat-tab label="Sign in">
      <providers-extern></providers-extern>

      <hr>
      <sign-in
        *ngIf="signInOrUp"
        (content)="changeContent()">
      </sign-in>

      <request-reset-password
        *ngIf="!signInOrUp">
      </request-reset-password>

    </mat-tab>
    <mat-tab label="Sign up">
      <providers-extern></providers-extern>

      <hr>
      <sign-up 
        *ngIf="signInOrUp"
        (content)="changeContent()">
      </sign-up>

      <request-verify-email
        *ngIf="!signInOrUp">
      </request-verify-email>
    </mat-tab>
  </mat-tab-group>
</div>

