<div mat-dialog-title>
  Change your password
</div>

<div mat-dialog-content 
  class="d-flex flex-column authentication">

  <validate-input
    type="password"
    placeholder="Current password"
    [(value)]="newPasswordData.currentPassword">
  </validate-input>

  <validate-input
    type="password"
    placeholder="New password"
    [(value)]="newPasswordData.newPassword">
  </validate-input>

  <validate-input
    type="password"
    placeholder="confirm password"
    [(value)]="newPasswordData.confirmedPassword">
  </validate-input>

  <button
    mat-raised-button
    color="primary"
    (click)="onChangePassword()">

    Change password
</button>

</div>