<ng-container *ngIf="hasPasswordIdentity | async">
  <h1>Passwort</h1>
  <hr>

  <validate-input
    icon="key"
    [(value)]="newPasswordData.currentPassword">

    <input #inputRef
      type="password"
      class="form-control"
      placeholder="Current password">
  </validate-input>

  <validate-input
    [(value)]="newPasswordData.newPassword">

    <input #inputRef
      type="password"
      class="form-control"
      placeholder="New password">
  </validate-input>

  <validate-input
    [(value)]="confirmedPassword">

    <input #inputRef
      type="password"
      class="form-control"
      placeholder="Confirm password">
  </validate-input>

  <button
    mat-raised-button
    color="primary"
    (click)="onChangePassword()">

    Passwort ändern
  </button>
</ng-container>
