<div mat-dialog-title>
  Change your password
</div>

<div mat-dialog-content 
  class="d-flex flex-column authentication">

  <auth-input
    [type]="'password'"
    [placeholder]="'Current password'"
    [controlName]="'password'"
    [(value)]="newPasswordData.currentPassword">
  </auth-input>

  <auth-input
    [type]="'password'"
    [placeholder]="'New password'"
    [controlName]="'password'"
    [(value)]="newPasswordData.newPassword">
  </auth-input>

  <auth-input
    [type]="'password'"
    [placeholder]="'confirm password'"
    [controlName]="'password'"
    [(value)]="newPasswordData.confirmedPassword">
  </auth-input>

  <button
    mat-raised-button
    color="primary"
    (click)="onChangePassword()">

    Change password
</button>

</div>