

<div class="d-flex align-items-center flex-column reset-password">
  <p>
    Forgot your password? No problem, we will send you
    an recovery link. Just enter your e-mail adress and
    click the button bellow.
  </p>

  <validate-input
    icon="fa-envelope-o"
    [(value)]="userEmail.email">

    <input #inputRef 
      type="password"
      class="form-control"
      placeholder="E-Mail">
  </validate-input>

  <button
    mat-raised-button
    color="primary"
    (click)="onPasswordResetRequest()">

    Reset password
  </button>
</div>
