<div class="d-flex align-items-center flex-column authentication">
  <validate-input
    type="email"
    placeholder="E-mail"
    [(value)]="signUpData.email">
  </validate-input>

  <validate-input
    type="text"
    controlName="username"
    placeholder="Username"
    [(value)]="signUpData.username">
  </validate-input>

  <validate-input
    type="password"
    placeholder="Password"
    [(value)]="signUpData.password">
  </validate-input>

  <validate-input
    type="password"
    placeholder="Confirm Password"
    error="Needs a length of min. 5"
    [(value)]="confirmedPassword">
  </validate-input>


  <div class="row resend-activation-link-text">
    <div>
      Send activation link again?
    </div>
    <a (click)="onSendVerifyLink()">
      Click here
    </a>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="onSignUp()">

    Sign up
  </button>
</div>
