<div class="flex-column authentication align-items-center">
  <validate-input
    icon="envelope-o"
    [(value)]="signInData.email">

    <input #inputRef
      type="email"
      class="form-control"
      placeholder="E-Mail"
      required>
  </validate-input>

  <validate-input
    icon="key"
    [(value)]="signInData.password">

    <input #inputRef 
      type="password"
      class="form-control"
      placeholder="Password"
      required>
  </validate-input>

  <div class="row reset-password-link-text">
    <div>
      Passwort vergessen?
      <a (click)="onResetPassword()">
        Klicke hier
      </a>
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="onSignIn()">

    Anmelden
  </button>
</div>
