<div class="d-flex align-items-center flex-column authentication">
  <auth-input
    [type]="'email'"
    [placeholder]="'E-mail'"
    [controlName]="'email'"
    [(value)]="signUpData.email">
  </auth-input>

  <auth-input
    [type]="'text'"
    [placeholder]="'Username'"
    [controlName]="'username'"
    [(value)]="signUpData.username">
  </auth-input>

  <auth-input
    [type]="'password'"
    [placeholder]="'Password'"
    [controlName]="'password'"
    [(value)]="signUpData.password">
  </auth-input>

  <auth-input
    [type]="'password'"
    [placeholder]="'Confirm password'"
    [controlName]="'password'"
    [error]="'Needs a length of min. 5'"
    [(value)]="signUpData.confirmedPassword">
  </auth-input>

  <mat-error *ngIf="!isPasswordEq()">Password must be equal</mat-error>

  <div class="row resend-activation-link-text">
    <div>
      Send activation link again?
    </div>
    <a (click)="onSendVerifyLink()">
      Click here
    </a>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="onSignUp()">

    Sign up
  </button>
</div>
