<div class="d-flex align-items-center flex-column authentication">
  <auth-input
    [type]="'email'"
    [placeholder]="'E-mail'"
    [controlName]="'email'">
  </auth-input>
  <!-- <div class="row input-height">
    <mat-form-field>
      <input matInput 
        type="email"
        placeholder="Email"
        formControlName="email">
    </mat-form-field>
  </div> -->
  <auth-input
    [type]="'password'"
    [placeholder]="'Password'"
    [controlName]="'password'">
  </auth-input>

  <div class="row reset-password-link-text">
    <div>
      Forgot your password?
      <a (click)="onResetPassword()">
        Click here
      </a>
    </div>
  </div>

  <button
    mat-raised-button
    color="primary">

    Sign in
  </button>
</div>
