

<mat-menu #userMenu="matMenu">

  <button
    mat-menu-item
    [routerLink]="['/user']">

    Profil
  </button>

  <button
    mat-menu-item
    [routerLink]="['/user/settings']">

    Einstellungen
</button>

  <button
    mat-menu-item
    (click)="onLinkAccount()">

    Konto verknüpfen
  </button>
  <button
    mat-menu-item
    (click)="onChangePassword()">

    Passwort ändern
  </button>
  <button
    mat-menu-item
    (click)="onChangeEmail()">

    E-Mail ändern
  </button>
  <button
    mat-menu-item
    (click)="onLogout()">

    Logout
  </button>
</mat-menu>

<is-logged-in>
  <!-- TODO-TOM BUG: IF YOURE CLICK ON THE BUTTON THE SHADOW EFFECT WILL STAY UNTIL YOU CLICK AGAIN -->
  <ng-container logged_in>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </button>
  </ng-container>

  <ng-container logged_out>
    <button mat-icon-button (click)="openDialog()">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </button>
  </ng-container>
</is-logged-in>

