<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="['/user/settings']">
    Einstellungen
  </button>

  <button mat-menu-item (click)="onLogout()">
    <i class="fa fa-sign-out"></i>
    Logout
  </button>
</mat-menu>

<is-logged-in class="user-button">
  <ng-container logged_in>
    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="display-name">
        {{ userDisplayName$ | async }}
      </span>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </button>
  </ng-container>

  <ng-container logged_out>
    <button mat-button (click)="openDialog()">
      <span class="display-name" i18n="@@guest">Gast </span>
      <i class="fa fa-user-o" aria-hidden="true"></i>
    </button>
  </ng-container>
</is-logged-in>
