<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="['/user/settings']">
    Einstellungen
  </button>

  <button mat-menu-item (click)="onLogout()">
    <span class="fa fa-fw fa-sign-out"></span>
    Logout
  </button>
</mat-menu>

<is-logged-in class="user-buttons">
  <ng-container logged_in>
    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="fa fa-fw fa-user-circle-o" aria-hidden="true"></span>
      {{ userDisplayName$ | async }}
    </button>
  </ng-container>

  <ng-container logged_out>
    <button mat-button (click)="openDialog('signIn')">
      <span class="fa fa-fw fa-sign-in" aria-hidden="true"></span>
      Anmelden
    </button>

    <button mat-button (click)="openDialog('signUp')">
      <span class="fa fa-fw fa-user-plus" aria-hidden="true"></span>
      Registrieren
    </button>
  </ng-container>
</is-logged-in>
