<span
  *ngIf="iconType == 'list-delete'"
  class="fa fa-trash-o"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-edit'"
  class="fa fa-pencil"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-edit-singel'"
  class="fa fa-pencil-square-o"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-done'"
  class="fa fa-check-circle-o"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-pending'"
  class="fa fa-clock-o"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'compilation-problem'"
  class="fa fa-exclamation-circle"
  aria-hidden="true"
></span>
<span
  class="fa fa-graduation-cap"
  *ngIf="iconType == 'assignment'"
  aria-hidden="true"
></span>

<span
  class="fa fa-times-circle-o"
  *ngIf="iconType == 'assignment-state-planned'"
  aria-hidden="true"
></span>
<span
  class="fa fa-circle-thin"
  *ngIf="iconType == 'assignment-state-open'"
  aria-hidden="true"
></span>
<span
  class="fa fa-user-circle"
  *ngIf="iconType == 'assignment-state-pending'"
  aria-hidden="true"
></span>
<span
  class="fa fa-check-circle-o"
  *ngIf="iconType == 'assignment-state-done'"
  aria-hidden="true"
></span>

<span *ngIf="iconType == 'assignment-type-given_full'" aria-hidden="true">
  <p>assignment-given-ful</p>
</span>
<span *ngIf="iconType == 'assignment-type-given_partially'" aria-hidden="true">
  <p>assignment-given-partially</p>
</span>
<span *ngIf="iconType == 'assignment-type-required'" aria-hidden="true">
  <p>assignment-required</p>
</span>

<span *ngIf="iconType == 'to-evalute'" aria-hidden="true">
  <p>to-evalute</p>
</span>
<span
  class="fa fa-users"
  *ngIf="iconType == 'participant'"
  aria-hidden="true"
></span>

<span
  class="fa fa-database fa-fw"
  *ngIf="iconType == 'database'"
  aria-hidden="true"
></span>

<span *ngIf="iconType == 'course-overview'" aria-hidden="true">
  <p>course-overview</p>
</span>

<span *ngIf="iconType == 'date-reached'" aria-hidden="true">
  <p>reached</p>
</span>
<span *ngIf="iconType == 'date-unreached'" aria-hidden="true">
  <p>unreached</p>
</span>
