<span
  *ngIf="iconType == 'list-delete'"
  class="fa fa-trash-o"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-edit'"
  class="fa fa-pencil"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-edit-singel'"
  class="fa fa-pencil-square-o"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-done'"
  class="fa fa-check-circle-o"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-pending'"
  class="fa fa-clock-o"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'compilation-problem'"
  class="fa fa-exclamation-circle"
  aria-hidden="true"
></span>
<span *ngIf="iconType == 'assignment-state-open'" aria-hidden="true">
  <p>assignment-state-open</p>
</span>
<span *ngIf="iconType == 'assignment-state-pending'" aria-hidden="true">
  <p>assignment-state-pending</p>
</span>
<span *ngIf="iconType == 'assignment-state-done'" aria-hidden="true">
  <p>assignment-state-done</p>
</span>
<span *ngIf="iconType == 'to-evalute'" aria-hidden="true">
  <p>to-evalute</p>
</span>
<span *ngIf="iconType == 'participant'" aria-hidden="true">
  <p>participant</p>
</span>
