<span
  *ngIf="iconType == 'list-delete'"
  class="fa fa-trash-o fa-fw"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-edit'"
  class="fa fa-pencil fa-fw"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-edit-singel'"
  class="fa fa-pencil-square-o fa-fw"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-done'"
  class="fa fa-check-circle-o fa-fw"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'list-pending'"
  class="fa fa-clock-o fa-fw"
  aria-hidden="true"
></span>
<span
  *ngIf="iconType == 'compilation-problem'"
  class="fa fa-exclamation-circle fa-fw"
  aria-hidden="true"
></span>
<span
  class="fa fa-book fa-fw"
  *ngIf="iconType == 'assignment'"
  aria-hidden="true"
></span>

<span
  class="fa fa-times-circle-o fa-fw"
  *ngIf="iconType == 'assignment-state-planned'"
  aria-hidden="true"
></span>
<span
  class="fa fa-circle-thin fa-fw"
  *ngIf="iconType == 'assignment-state-open'"
  aria-hidden="true"
></span>
<span
  class="fa fa-user-circle fa-fw"
  *ngIf="iconType == 'assignment-state-pending'"
  aria-hidden="true"
></span>
<span
  class="fa fa-check-circle-o fa-fw"
  *ngIf="iconType == 'assignment-state-done'"
  aria-hidden="true"
></span>

<span
  class="fa fa-file-text fa-fw"
  *ngIf="iconType == 'assignment-type-given_full'"
  aria-hidden="true"
></span>
<span
  class="fa fa-file-text-o fa-fw"
  *ngIf="iconType == 'assignment-type-given_partially'"
  aria-hidden="true"
></span>
<span
  class="fa fa-file-o fa-fw"
  *ngIf="iconType == 'assignment-type-required'"
  aria-hidden="true"
></span>
<span
  class="fa fa-table fa-fw"
  *ngIf="iconType == 'grade-overview'"
  aria-hidden="true"
></span>
<span
  class="fa fa-pencil fa-fw"
  *ngIf="iconType == 'grade'"
  aria-hidden="true"
></span>
<span
  class="fa fa-users fa-fw"
  *ngIf="iconType == 'participant'"
  aria-hidden="true"
></span>

<span
  class="fa fa-graduation-cap fa-fw"
  *ngIf="iconType == 'assignment-teacher-overview'"
  aria-hidden="true"
></span>
<span
  class="fa fa-fw fa-check-circle"
  *ngIf="iconType == 'assignment-teacher-solution'"
  aria-hidden="true"
></span>

<span
  class="fa fa-database fa-fw"
  *ngIf="iconType == 'database'"
  aria-hidden="true"
></span>

<span
  class="fa fa-window-maximize fa-fw"
  *ngIf="iconType == 'course-overview'"
  aria-hidden="true"
></span>

<span *ngIf="iconType == 'date-reached'" aria-hidden="true">
  <p>reached</p>
</span>
<span *ngIf="iconType == 'date-unreached'" aria-hidden="true">
  <p>unreached</p>
</span>

<span *ngIf="iconType == 'info-description'" aria-hidden="true">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
</span>
