<div class="card mb-3">
  <div class="card-header">
    <h4>Erstelle Gruppe</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="createGroup" (ngSubmit)="createCourseParticipation()">
      <div class="form-group row mb-3">
        <label class="col-sm-2 from-control_label">Gruppenname</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="groupName"
            placeholder="Group 1"
            formControlName="groupName"
          />
          <small class="text-muted">
            Dieser Name repräsentiert den Namen der Gruppe.
          </small>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label class="col-sm-2 from-control_label">User ID´s</label>
        <div class="col-sm-10">
          <input
            type="text"
            name="userIDs"
            class="form-control"
            placeholder="123123,12312"
            formControlName="userIds"
          />
          <small class="text-muted">
            Die User ID´s der Schüler, die einer Gruppe hinzugefügt werden
            sollen. Dabei werden die ID´s mit einem ',' getrennt.
          </small>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Speichern</button>
    </form>
  </div>
</div>
