$dialog_heigth: 320px;
$button-size: 12rem;

$margin_of_validate_inputs: 10px;

$font-size-links: 0.8em;


.authentication {
  .mat-tab-header {
    margin-bottom: 3vh;
  }

  .mat-tab-labels {
    justify-content: center;
  }

  .form-group {
    width: 100%;
  }

  hr {
    margin: 2em 0 2em 0;
    background-color: rgba($color: #a1a1a1, $alpha: 0.5);
  }

  .mat-raised-button {
    width: $button-size;
    margin-bottom: 0.5em;
  }

  a {
    color: rgba($color: #1f54a5, $alpha: 1.0) !important;
    cursor: pointer;
  }

  .reset-password-link-text {
    font-size: $font-size-links;
    margin-top: 2em;
  }

  .resend-activation-link-text {
    font-size: $font-size-links;
    margin-top: 2em;
  }

  .input-group {
    margin-top: $margin_of_validate_inputs;
  }



}

.reset-password {
  width: $dialog_heigth;

  .mat-raised-button {
    width: $button-size;
  }

  validate-input {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-bottom: $margin_of_validate_inputs;
  }
}
