/* Toolbar dimensions */
$toolbar-padding: 5px;
$toolbar-height: 44px;
$toolbar-margin-bottom: 5px;

/* Editor layout */
$sidebar-width:  300px;
$sidebar-height: calc(100vh - (#{$toolbar-padding} * 2 + #{$toolbar-height} + #{$toolbar-margin-bottom});
$navbar-width:   270px;

$monospace-font: "Roboto Mono", monospace;
