.activate-block-outline editor-block-render-block {
    border: 1px solid black;
}

.activate-indent .indent  {
    margin-left: 10px;
    margin-right: 10px;
}

editor-block-container {
    display: flex;
    &.horizontal {
        flex-direction: row;
    }
    &.vertical {
        flex-direction: column;
        align-items: flex-start; // Otherwise children occupy full width
    }
}