.ast {
    .node {
        border: 1px solid black;
        padding: 5px;

        input[type=text] {
            border: 0;
            background-color: transparent;
            box-shadow: -6px 8px 0px -6px #ebebeb;
            transition: box-shadow 0.3s;
        }

        input[type=text]:focus {
            outline: none;
            box-shadow: -6px 8px 0px -6px #4EA6EA;
        }
    }

    .node .node {
        margin: 10px;
    }
}

sidebar-item-host .ast {
    ul {
        list-style-type: none;
        padding-left: 0px;

        li {
            font-family: monospace;
            cursor: default;
            font-size: 1.2rem;
            border: 2px solid black;
            white-space: nowrap;
            padding-left: 1em;
            padding-right: 1em;
            margin-bottom: 10px;
        }

        li.rounded {
            border-radius: 500px;
        }
    }

}
