/* Any editor that works with an AST */
.ast {
    /* Basic outline for each node */
    .node {
        border: 1px solid black;
        padding: 5px;
    }

    /* Indent each node after the first */
    .node .node {
        margin: 10px;
    }

    .empty-tree {
        border: 4px dashed blue;
        border-radius: 20px;
        min-height: 200px;
        padding: 15px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;


        h3, p {
            text-align: center;
        }

        p {
            margin: 0px;
        }
    }
}

trash {
    font-size: 6rem;
    position: fixed;
    padding: 5px;
    right: 350px;
    top: 45px;
    z-index: 1;
}

.drop-block {
    pointer-events: none;
}

/* The "block" AST editor */
.block-editor-root {
    /* Default font settings */
    font-family: $monospace-font;
    font-size: 1.2rem;

    // Input fields for users need to somehow "blend in" with the rest of the
    // blocks but also be recognizable.
    input {
        border: 0px;
        border-bottom: 1px dashed black;
        background-color: transparent;
    }

    .from-iterator {
        //border: 5px solid blue;
    }

    .from-block {
        //border: 5px solid red;
    }

    .drop-placeholder {
        border: 1px dashed black;
        border-radius: 500px;
        background: repeating-linear-gradient(
            45deg,
            RGBA(255, 255, 0, 0.2),
            RGBA(255, 255, 0, 0.2) 10px,
            RGBA(0, 0, 0, 0.2) 10px,
            RGBA(0, 0, 0, 0.2) 20px
        );
    }

    editor-block-render {
        display: contents;
    }

    editor-block-render-block {
        background: white;
    }

    .break-after {
        width: 100%;
    }
}

.dragged {
    editor-block-render-block {
        background: white;
    }
}

/* This class is applied to the error tooltip itself */
.error-marker-tooltip {
    background-color: #b71c1c;
}

sidebar-item-host .ast {
    ul {
        list-style-type: none;
    }

    .block {
        font-family: $monospace-font;
        cursor: default;
        font-size: 1.2rem;
        border: 2px solid black;
        white-space: nowrap;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 10px;
    }

    .rounded {
        border-radius: 500px;
    }
}
