.regex {
    .group > * {
        background-color: #b5ead7;
    }

    .quantifierRange > * {
        background-color: #ffe39c;
    }

    .characterRange > * {
        background-color: #d291bc;
    }

    .quantifierClass > * {
        background-color: #97c5f6;
    }

    .knownCharacterClass > * {
        background-color: #ee9798;
    }

    .characters > * {
        background-color: #b4d6a9;
    }

    .negation > *, .alternative > *, .lineTails > * {
        background-color: #fff;
    }
}

#regexTestTable {
    padding: 10px;

    .headerRow {
        font-weight: bold;
        border-bottom: 1px solid #000;
    }

    .dataRow {
        padding: 5px 0;
    }

    .dataRow:nth-child(even) {
        background-color: darken(white, 5%);
    }

    .dataRow:hover {
        background-color: darken(white, 20%);
    }

}