.editor-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .content {
      min-height: calc(100vh - #{$toolbar-height});
  }
}

.editor {
    .navbar {
        flex: 1;
        width: $navbar-width;
    }

    .sidebar {
        flex: 1;
        width: $sidebar-width;
    }

    /* Navigation inside a project, typically on the left hand side */
    .navbar {
        editor-navbar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            nav {
                margin: 5px;

                /* Ensure the linked items do not overflow and have nice right aligned icons */
                a {
                    text-decoration: none;
                    line-height: 1.1;
                    display: inline-flex;
                    width: 100%;


                    .nav-target {
                        white-space: nowrap;
                        overflow: hidden;
                        flex-grow: 1;
                        text-overflow: ellipsis;
                    }

                    .save-icon {
                        margin-left: auto;
                    }
                }

                /**
                 * Disable the usual bullet points
                 */
                ul {
                    list-style: none;
                }

                /* First level list needs no padding, this is overridden for nested lists. */
                ul {
                    padding-left: 0px;
                }

                /* Nested lists get a little indentation */
                ul ul {
                    padding-left: 5px;
                }
            }

            .sources-host {
                margin-top: auto;

                * {
                    hyphens: auto;
                }
            }

            /* Active links must be visually distinguishable from all the other links  */
            .router-link-active {
                font-weight: bold;
                border-radius: 500px;
                padding-left: 0.5em;
                padding-right: 0.5em;
                color: black;
                transition: background-color, padding, border-radius;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                background-color: cornflowerblue;
            }

            .nav-query, .nav-page, .nav-database, .nav-image, .nav-code-resource {
                margin-left: 15px;
            }
        }
    }
}

.sidebar textarea {
    resize: vertical;
}

/**
 * A list of theoretically arbitrary column-items.
 */
.column-list {
    display: flex;
    flex-wrap: wrap;
}
