#front-nav {
    padding-top: 0px; /* Angular Material defines some padding that we dont want */
}

.front {
    padding-top: $toolbar-margin-bottom;

    .project-list-item h2 {
        font-weight: bold;
    }

    .project-list-item .card-img-top {
        opacity: 0.1;
        transition: opacity 0.3s;
    }

    .project-list-item:hover .card-img-top {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .project-list-item .card-img-overlay {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .project-list-item:hover .card-img-overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
    }

    .about-text {
        hyphens: auto;
    }

    /* The carousel-like thing on the main page */
    .jumbotron {
        border: 1px solid rgba(0,0,0,.125);

        h1 img {
            height: 1.2em;
        }
    }

    .thesis {
        margin-bottom: 1rem;

        .institution-logo {
            float: right;
        }
    }
}

#error-container {
    margin-top: 50px;
}
