.db-schema-drag-drop {

	.vis {
		border: 1px solid black;
		font-family: monospace;
		font-size: 14px;
		width: inherit;
	}

	.vis thead {
		border: 1px solid black;
		text-align: center;
	}

	.vis tr:hover {
		background-color:#f5f5f5;
	}
	
	.primaryBox {
		visibility: hidden;
		margin-left: 3px;
		margin-bottom: 3px;
	}

	.primaryBox:checked::before {
		visibility: visible;
		display: inline-block;
		content: "\f084";
		font-family: FontAwesome;
	}
	
	.vis td {
		padding: 0;
	}

	.tableEdit {
		border: none;
		font-family: inherit;
		font-size: inherit;
		padding: 0;
		padding-right: 3px;
		width: inherit;
		margin: 0;
		-webkit-appearance: none;
		line-height: inherit;
	}
	
	.tableName {
		border: none;
		padding: 0;
		text-align: center;
		font-family: inherit;
		font-size: inherit;
		max-width: 100%;
		width: 50%;
	}
}