.db-schema-drag-drop {

	.vis {
		border: 1px solid black;
		font-size: 65%;
		padding: 12px;
	}

	.vis thead {
		border: 1px solid black;
		text-align: center;
	}

	.vis tr:hover {
		background-color:#f5f5f5;
	}
	
	.vis label input {
		opacity: 0;
	}

	.tableEdit {
		display: block;
		border: none;
		font-family: inherit;
		font-size: inherit;
		padding: none;
		padding-right: 6px;
		width: inherit;
	}
	
	.tableName {
		border: none;
		padding: none;
		text-align: center;
		font-family: inherit;
		font-size: inherit;
	}
}

	.clearfix::before,
	.clearfix::after {
		content: " ";
		display: table;
	} 

	.clearfix::after {
		clear: both;
	}