.db-schema-drag-drop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

	.vis {
		border: 1px solid black;
		grid-column: 4;
		font-size: 65%;
		padding: 12px;
	}

	.vis thead {
		border: 1px solid black;
		text-align: center;
	}

	.vis tr:hover {
		background-color:#f5f5f5;
	}

	.vis td {
		padding: 2px;
	}

	.tableEdit {
		border: none;
		font-family: inherit;
		font-size: inherit;
		padding: none;
		width: inherit;
	}
}