.schema-sidebar {
    margin-bottom: 10px;
}

.schema-sidebar .stack {
  display: flex;
  flex-direction: column;
}

.schema-sidebar .item {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
}
