.mat-menu-panel {
  max-width: 20rem !important;
}

#st-card {
  max-height: 55vh;
  min-width: 20em;
  padding-left: 1rem;
  padding-right:1rem;
  display: inline-block;
  width: 100%;
  overflow-y:auto;
  overflow-x:hidden;
}

#st-card > p {
  text-align: center;
}

.st-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
}

div[ng-reflect-ng-switch] {
  width: 100%;
  position: absolute;
  top: 20%;
}

#st-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.st-container p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#st-card li {
  position: relative;
  min-height: 2.5rem;
}
#st-card li  p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#st-card li  i {
  margin-top: 0.45rem;
  margin-bottom: 0.25rem;
}