

$button_width: 10em;
$base_width: 21em;

.settings {
  .general {
    display: flex;
    flex-direction: column;

    h1 {
      margin-top: 5%;
      margin-bottom: 0%;
    }

    .input-group, select {
      margin-bottom: 1vh;
    }

    .input-group {
      width: $base_width;
    }

    select {
      width: $base_width;
    }

    hr {
      width: 100%;
      margin-bottom: 3vh;
    }
  }

  .mat-raised-button {
    width: $button_width;
  }

  .account-settings {

    mat-card {
      display: flex;
      flex-direction: column;
      width: $base_width;
      align-items: center;
      margin: 0 0 10px 10px;

      ul {
        list-style-type: none;
        padding: 0;
      }

      mat-card-actions {
        width: 65%;

        button {
          width: 100%;
        }
      }
    }

    provider-button {
      width: $button_width;

      div {
        margin-bottom: 1vh;
      }

      button {
        color: white !important;
      }

      div, button {
        width: 100%;
      }
    }
  }

  .email-settings {

    mat-list-item:first-child {
      border-top: solid;
      border-width: 1px;
    }

    label {
      margin-top: 3vh;
    }

    mat-list-item {
      background-color: white;
      width: $base_width;
      border: solid;
      border-top: none;
      border-width: 1px;
    }

    .table {
      border: solid 1px;
    }

    td {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    th,td, .table {
      width: $base_width;
      background-color: white;
    }

    th {
      border-top: none;
    }
  }
}