$button_width: 10em;
$base_width: 20.5em;

.add-email-dialog-title {
  margin-bottom: 1em;
}

.add-email-dialog-actions {
  button {
    margin-top: 1vh;
  }
}

.add-email-dialog-content {
  .input-group {
    margin-top: 0.5em;
  }
}

.settings {
  .general {
    display: flex;
    flex-direction: column;

    h1 {
      margin-top: 5%;
      margin-bottom: 0%;
    }

    .input-group,
    select {
      margin-bottom: 1vh;
    }

    .input-group {
      width: $base_width;
    }

    select {
      width: $base_width;
    }

    hr {
      width: 100%;
      margin-bottom: 3vh;
    }
  }

  .mat-raised-button {
    width: $button_width;
  }

  .account-settings {

    mat-card {
      display: flex;
      flex-direction: column;
      width: 15em;
      align-items: center;
      margin: 0 0 10px 10px;

      mat-card-actions {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }


    table {
      width: 50vw;
      background-color: white;

      th,
      td {
        padding: 10px 10px 10px 10px
      }

      td:last-child {
        width: 10px;
      }
    }

    provider-button {
      width: $button_width;

      div {
        margin-bottom: 1vh;
      }

      button {
        color: white !important;
      }

      div,
      button {
        width: 100%;
      }
    }
  }

  .email-settings {
    button {
      margin-bottom: 5vh;
    }

    label {
      margin-bottom: 0;
    }

    p {
      width: 30vw;
      min-width: $base_width;
    }

    mat-progress-spinner {
      width: 30px !important;
      height: 30px !important;
      margin-left: 10px;
    }

    svg {
      width: 100% !important;
      height: 100% !important;
    }
  }
}