@import 'definitions';

.footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    a {
        margin-left: 10px;
    }

    .logos {
        float: right;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/**
 * General toolbar options, later specialised for the editor
 * or the frontpage.
 */
#toolbar {
    height: $toolbar-height;
    display: flex;
    background-color: #f7f7f7;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0 0 .25rem .25rem;

    a {
        text-decoration: none;
        color: rgba(0,0,0,.7)
    }

    > * {
        align-self: center;
    }
        
    button {
        margin-right: 10px;
    }
}

@import 'front';
@import 'editor';
@import 'editor-page';
@import 'editor-page-tree';
@import 'editor-query';

@import 'blocks';
@import 'schema';
