app-toolbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;

    div.toolbar {
        padding: 5px;
        background-color: #3f51b5;
        display: flex;
        width: 100%;
    }
    
    /* Underlined links look silly with material design */
    a, a:hover {
        text-decoration: none;
    }

    /* Allows to align the following items on the right */
    .fill-space {
        flex: 1 1 auto;
    }
}

/* Underlined links look silly with material design */
a.mat-menu-item, a.mat-menu-item:hover {
    text-decoration: none;
}
