<div class="body-nav-container">
  <app-toolbar>
    <ng-container position="toggle">
      <button mat-icon-button (click)="navToggle()">
        <span class="fa fa-bars" aria-hidden="true"></span>
      </button>
    </ng-container>
  </app-toolbar>

  <side-nav-selector [items]="adminItems">
    <div class="container-fluid admin">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </side-nav-selector>
</div>
