<h2>
  <span *ngIf="(availableGrammars.inProgress | async)" class="fa fa-refresh fa-spin fa-fw"></span>
  Grammatiken
</h2>
<table class="table table-sm">
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>ID</th>
  </tr>
  <tr *ngFor="let grammar of availableGrammars.value | async">
    <td>
      <a [routerLink]="['grammar', grammar.id]">{{ grammar.name }}</a>
    </td>
    <td><code>{{ grammar.slug }}</code></td>
    <td><code>{{ grammar.id }}</code></td>
  </tr>
</table>

<h2>
  <span *ngIf="(availableBlockLanguages.inProgress | async)" class="fa fa-refresh fa-spin fa-fw"></span>
  Blocksprachen
</h2>
<button (click)="availableBlockLanguages.refresh()">Refresh</button>
<table class="table table-sm">
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>ID</th>
    <th>Grammatik</th>
    <th>Generator</th>
    <th>Aktionen</th>
  </tr>
  <!-- Each row represents a block language -->
  <tr *ngFor="let blockLanguage of availableBlockLanguages.value | async">
    <td>
      <a [routerLink]="['block-language', blockLanguage.id]">{{ blockLanguage.name }}</a>
    </td>
    <td><code>{{ blockLanguage.slug | defaultValue }}</code></td>
    <td><code>{{ blockLanguage.id }}</code></td>
    <td><link-grammar [grammarId]="blockLanguage.grammarId"></link-grammar></td>
    <td>
      <ng-container *ngIf="blockLanguage.generated; else manual;">
        ✔
      </ng-container>
      <ng-template #manual>
        ✗
      </ng-template>
    </td>
    <td>
      <button (click)="deleteBlockLanguage(blockLanguage.id)"
              type="button"
              class="btn btn-outline-danger btn-sm">
        <span class="fa fa-trash-o" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
<create-block-language></create-block-language>
