<form *ngIf="editedSubject">
  <h1>Block Sprache <q>{{ editedSubject.name }}</q></h1>

  <div class="form-group row">
    <div class="col-sm-2">
      <button (click)="onSave()"
              class="btn btn-primary btn-block">
        Speichern
      </button>
    </div>
    <div class="col-sm-2">
      <button (click)="onRegenerate()"
              class="btn btn-primary btn-block">
        Neu Generieren
      </button>
    </div>
  </div>

  <!-- Editable name of the blockLanguage -->
  <div class="form-group row">
    <label for="block-language-name"
           class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input id="block-language-name"
             class="form-control"
             name="name"
             [(ngModel)]="editedSubject.name">
    </div>
  </div>

  <!-- The grammar this block language uses -->
  <div class="form-group row">
    <label for="block-language-grammar-id"
           class="col-sm-2 col-form-label">Grammatik</label>
    <div class="col-sm-10">
      <select id="block-language-grammar-id"
              name="grammar_id"
              class="custom-select"
              required
              [(ngModel)]="editedSubject.grammarId">
        <option *ngFor="let grammar of availableGrammars | async"
                [value]="grammar.id">
          {{ grammar.name }}
        </option>
      </select>
      <a [routerLink]="['/admin/grammar/', editedSubject.grammarId]">Grammatik editieren</a>
    </div>
  </div>

  <!-- Showing model and pretty printed representation side by side -->
  <div class="row">
    <div class="col-xl-6">
      <!-- Pretty printed blockLanguage -->
      <div class="form-group row">

        <label for="block-language-pretty"
               class="col-sm-2 col-form-label">Pretty Printed</label>
        <div class="col-sm-10">
          <textarea id="block-language-pretty"
                    readonly
                    class="form-control full-height"
                    [value]="prettyPrintBlockLanguage(editedSubject)"></textarea>
        </div>
      </div>
    </div>
    <div class="col-xl-6">

      <!-- Editable sidebar entries -->
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="block-language-sidebar"
                 class="col-form-label">Seitenleisten</label>
          <button (click)="onSidebarDataUpdate()"
                  class="btn btn-warning btn-block">
            Apply JSON
          </button>
        </div>
        <div class="col-sm-10">
          <json-editor #sidebarsEditor
                       [data]="editedSubject.sidebars"
                       [options]="editorOptions"
                       class="half-height"></json-editor>
        </div>
      </div>

      <!-- Editable block entries -->
      <div class="form-group row">
        <label for="block-language-block"
               class="col-sm-2 col-form-label">Blöcke</label>
        <div class="col-sm-10">
          <textarea id="block-language-block"
                    class="form-control"
                    rows="20"
                    [textContent]="editedSubject.editorBlocks | json"
                    readonly>
          </textarea>
        </div>
      </div>
    </div>
  </div>
</form>
