<form *ngIf="grammar">
  <h2>Grammatik <q>{{ grammar.name }}</q></h2>

  <div class="form-group row">
    <div class="col-sm-2">
      <button (click)="onSave()"
              class="btn btn-primary btn-block">
        Speichern
      </button>
    </div>
  </div>
  
  <!-- Editable name of the grammar -->
  <div class="form-group row">
    <label for="grammar-name"
           class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input id="grammar-name"
             class="form-control"
             [value]="grammar.name"
             disabled>
    </div>
  </div>

  <!-- Related block languages -->
  <div class="form-group row">
    <div class="col-sm-2">Related Block Languages</div>
    <div class="col-sm-10">
      <ul class="list-inline">
        <li *ngFor="let related of relatedBlockLanguages?.value | async"
            class="list-inline-item">
          <a [routerLink]="['/admin/block-language', related.id]"
             class="badge badge-light">
            {{ related.name }}
          </a>
        </li> 
      </ul>
    </div>
  </div>

  <!-- Showing model and pretty printed representation side by side -->
  <div class="row">
    <!-- Editable types -->
    <div class="col-xl-6">
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="grammar-model"
                 class="col-form-label">Types</label>
        </div>
        <div class="col-sm-10">
          <div *ngIf="!typesSynced"
               class="alert alert-danger"
               role="alert">
            <code>JSON</code>-Struktur ist ungültig und kann daher nicht gespeichert werden.
          </div>
          <json-editor [(jsonValue)]="grammar.types"
                       class="full-height">
          </json-editor>
        </div>
      </div>
    </div>
    
    <!-- Pretty printed grammar (not editable) -->
    <div class="col-xl-6">
      <div class="form-group row">
        <label for="grammar-pretty"
               class="col-form-label col-sm-2">Pretty Printed</label>
        <div class="col-sm-10">
          <textarea id="grammar-pretty"
                    readonly
                    class="form-control full-height"
                    rows="20"
                    [textContent]="prettyPrintedGrammar"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
