<div id="news">
  <form>
    <div class="row">
      <div class="col-md-3">
        <label>Wähle eine Sprache</label>
        <select
          class="custom-select"
          name="language"
          required
          [(ngModel)]="selectedLanguage"
        >
          <option *ngFor="let item of languages" [value]="item.token">
            {{item.name}}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label>Wähle einen Editor</label>
        <select
          class="custom-select"
          name="editor"
          required
          [(ngModel)]="selectedEditor"
        >
          <option *ngFor="let item of editors" [value]="item.name">
            {{item.description}}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label>Suche:</label>
        <input
          class="form-control"
          name="search-for"
          (ngModelChange)="change()"
          [(ngModel)]="searchFor"
        />
      </div>

      <may-perform [payload]="performCreateData">
        <div class="col-md-3">
          <button (click)="createNews()" class="btn btn-primary">
            Erstellen
          </button>
        </div>
      </may-perform>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">Verfügbar in</th>
        <th scope="col">Freigegeben ab</th>
        <th scope="col">Erstellt am</th>
        <th scope="col">Geändert am</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of (searchList | async)"
        [routerLink]="['edit', item.id]"
        [queryParams]="{ mode: selectedEditor, language: selectedLanguage }"
      >
        <td scope="row">{{item.id}}</td>
        <td>{{item.title ? item.title[selectedLanguage] || '' : ''}}</td>
        <td>{{getLanguagesFlags(item.text)}}</td>
        <td>{{(item.publishedFrom | date: 'dd.MM.yyyy') || ''}}</td>
        <td>{{item.createdAt}}</td>
        <td>{{item.updatedAt}}</td>
      </tr>
    </tbody>
  </table>
</div>
