<div class="block select">
  <div class="row">
    <div class="col-xs-2"
         (click)="invertEdit()">
      <span class="keyword">SELECT</span>
    </div>
    <div class="col-xs-10">
      <div *ngIf="!editing">
        <span *ngFor="#column of select.columns; #last = last"
              class="column">
          {{ column.column }}&nbsp;<span class="keyword">AS</span>&nbsp;{{ column.asName }}<span *ngIf="!last">,</span>
        </span>
      </div>
      
      <div *ngIf="editing">
        <div *ngFor="#column of select.columns;"
             class="row">
          <div class="col-xs-5">
            <input  class="form-control" value="{{ column.column }}">
          </div>
          <div class="col-xs-1 keyword">
            AS
          </div>
          <div class="col-xs-5">
            <input class="form-control" value="{{ column.asName }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
