<h1>Tabellen von {{ project?.name }}</h1>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>PK</th>
        <th>Not Null</th>
        <th>Name</th>
        <th>Typ</th>
        <th>Standardwert</th>
      </tr>
    </thead>
    <tbody *ngFor="#table of project?.schema">
      <tr>
        <td colspan="6">Tabelle <code>{{ table.name }}</code></td>
      </tr>
      <tr *ngFor="#column of table.columns">
        <td>{{ column.index }}</td>
        <td>{{ column.primary }}</td>
        <td>{{ column.not_null }}</td>
        <td>{{ column.name }}</td>
        <td>{{ column.type }}</td>
        <td>{{ column.dflt_value }}</td>
      </tr>
    </tbody>
  </table>
</div>
