<table *ngIf="tables"
       class="table">
  <tbody *ngFor="let table of tables">
    <tr>
      <td colspan="5">
        <h3>Tabelle <code>{{ table.name }}</code></h3>
      </td>
      <td>
        <button *ngIf="allowCreate"
                (click)="onCreateSelect(table.name)"
                class="btn btn-primary">
          <span class="fa fa-search"></span>
          Neues SELECT
        </button>
        <button *ngIf="allowCreate"
                (click)="onCreateInsert(table.name)"
                class="btn btn-primary">
          <span class="fa fa-plus-circle"></span>
          Neues INSERT
        </button>
      </td>
    </tr>
    
    <tr>
      <th>#</th>
      <th>PK</th>
      <th>Not Null</th>
      <th>Name</th>
      <th>Typ</th>
      <th>Standardwert</th>
    </tr>

    <tr *ngFor="let column of table.columns">
      <td>{{ column.index }}</td>
      <td>{{ column.primary }}</td>
      <td>{{ column.not_null }}</td>
      <td>{{ column.name }}</td>
      <td>{{ column.type }}</td>
      <td>{{ column.dflt_value }}</td>
    </tr>
  </tbody>  
</table>
