<nav class="toolbar navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="/">esqulino</a>
  <ul class="nav navbar-nav">
    <li *ngFor="#item of toolbarService.items"
        class="nav-item">
      <button (click)="item.fire()"
              class="btn btn-primary">
        <span class="fa fa-fw fa-spinner fa-pulse"
              [hidden]="!item.isInProgress">
        </span>
        <span class="fa fa-fw fa-{{ item._icon }}"
              [hidden]="item.isInProgress">
        </span> {{ item._caption }}
      </button>
    </li>
  </ul>
</nav>
