<ng-template #dialog>
  <validate-input [(value)]="resetPasswordData.password">
    <input
      #inputRef
      type="password"
      class="form-control"
      placeholder="Password"
    />
  </validate-input>

  <validate-input [(value)]="resetPasswordData.confirmedPassword">
    <input
      #inputRef
      type="password"
      class="form-control"
      placeholder="Confirm password"
    />
  </validate-input>

  <button mat-raised-button color="primary" (click)="onResetButton()">
    Change password
  </button>
</ng-template>
