
<ng-template #dialog>
  <validate-input
    [type]="'password'"
    [controlName]="'password'"
    [placeholder]="'Password'"
    [(value)]="resetPasswordData.password">
  </validate-input>

  <validate-input
    [type]="'password'"
    [controlName]="'password'"
    [placeholder]="'Confirm Password'"
    [(value)]="resetPasswordData.confirmedPassword">
  </validate-input>

  <button
    mat-raised-button
    color="primary"
    (click)="onResetButton()">

    Change password
  </button>
</ng-template>
