<div class="page">
  <esqulino-server-preview *ngIf="page"
                           [project]="project"
                           [page]="page"
                           [isRendering]="doRenderPreview">
  </esqulino-server-preview>
  
  <esqulino-page-layout *ngIf="page"
                        [project]="project"
                        [page]="page">
  </esqulino-page-layout>

  <esqulino-page-data *ngIf="page"
                        [project]="project"
                        [page]="page">
  </esqulino-page-data>

  <div *ngIf="page && showJsonModel"
       class="alert alert-info">
    <h6>
      <span class="fa fa-bug"></span> JSON-Darstellung
    </h6>
    <pre>{{ page | json }}</pre>
  </div>
</div>
