<div class="card">
  <div class="card-block">
    <h4 class="card-title">Seitenlayout</h4>
    <p class="card-text">
      In diesem Editor kannst du das Layout deiner Seite mit Hilfe von Zeilen und Spalten festlegen.
    </p>
  </div>
  <div class="card-block">      
    <div class="container-fluid page-preview">
      <template ngFor let-row [ngForOf]="page?.rows" let-rowIndex="index">
        <div class="row">
          <div *ngFor="let col of row.columns"
               [ngClass]="col.columnClasses">
            <esqulino-widget-loader
                [widgets]="col.widgets">
            </esqulino-widget-loader>
          </div>
        </div>
        <div *ngIf="showBlueprintRow"
             (dragover)="onBlueprintRowDrag($event, rowIndex + 1)"
             (drop)="onBlueprintRowDrop($event, rowIndex + 1)"
             class="row blueprint">
          <div class="col-xs-12">
            <h4><span class="fa fa-plus"></span></h4>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
