<div *ngIf="isRendering">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">
        <button (click)="refreshHeight()"
           class="btn btn-primary pull-right">
          <span class="fa fa-bug"></span> Höhe anpassen
        </button>
        <a href="/view/{{project.id}}/{{page.id}}"
           target="_blank"
           style="margin-right: 5px;"
           class="btn btn-primary pull-right">
          <span class="fa fa-bug"></span> Neues Fenster
        </a>
        Vorschau
      </h4>
      <p class="card-text">
        So wird die Seite für einen Besucher <em>ungefähr</em> aussehen.
      </p>
    </div>
    <div *ngIf="renderPreview"
         class="card-block">      
      <iframe [srcdoc]="renderPreview"
              width="100%">
      </iframe>
    </div>
  </div>
</div>
