<sidebar-item-host [cardClasses]="additionalCardClasses"
                   [header]="'Daten'">
  <!-- Tell the user if the page has absolutly no data associated -->
  <p *ngIf="!hasAnyData"
     class="card-text">
    <strong>Bisher sind für diese Seiten keinerlei Daten verfügbar</strong>. Nutze die Datenbank, Seiten&shy;parametern oder Eingab&shy;elemente um mit deinen Benutzer zu interagieren.
  </p>
  
  <!-- Page URL data -->
  <div *ngIf="showPageRequestParameters"
       class="block-container block">
    <span class="caption">
      Seitenparameter
    </span>
    <ul class="fa-ul">
      <li *ngFor="let parameter of page.requestParameters;">
        <span class="fa fa-li fa-sign-out" aria-hidden="true"></span>
        <span (dragstart)="startParameterValueProviderDrag($event, parameter.fullName)"
              draggable="true"
              class="column indent">
          {{ parameter.fullName }}
        </span>
      </li>
    </ul>
  </div>

  <!-- Query data & parameters -->
  
  <!-- The query itself -->
  <div *ngFor="let used of referencedQueries;"
       class="block-container block">
    <span (dragstart)="startReferencedQueryDrag($event, used)"
          [title]="used.query.name"
          draggable="true"
          class="table">
      <query-icon [query]="used.query"
                  [detailSelect]="true"
                  [showName]="false"></query-icon>{{ used.name }}
    </span>
    
    <!-- Parameters for this query -->
    <ul *ngIf="used.query.hasParameters"
        class="fa-ul">
      <li *ngFor="let parameter of used.mapping;">
        <span class="fa fa-li {{parameter.providingIconClass}}" aria-hidden="true"></span>
        <span (dragover)="onParameterDrag($event)"
              (drop)="onParameterDrop($event, parameter)"
              class="parameter indent">
          {{ parameter.parameterName }}
        </span>
      </li>
    </ul>
    
    <!-- Columns of this query -->
    <ul *ngIf="used.hasColumns"
        class="fa-ul">
      <li *ngFor="let column of used.columns; trackBy: trackByColumnId;">
        <span class="fa fa-li fa-sign-out" aria-hidden="true"></span>
        <span (dragstart)="startColumnDrag($event, used, column)"
              [title]="column.fullName"
              class="column indent"
              draggable="true">
          {{ column.shortName }}
        </span>
      </li>
    </ul>
  </div>  
</sidebar-item-host>
