<sidebar-item-host>
  <div class="page-preview">
    <div (dragstart)="startRowDrag($event)"
         draggable="true"
         [class]="borderCssClass('layout')">
      <div class="column-preview">
        <span class="fa fa-fw fa-align-justify" aria-hidden="true"></span>Zeile
      </div>
    </div>

    <div (dragstart)="startColumnDrag($event)"
         draggable="true"
         [class]="borderCssClass('layout')">
      <div class="column-preview">
        <span class="fa fa-fw fa-columns" aria-hidden="true"></span>Spalte
      </div>
    </div>

    <div (dragstart)="startHeadingDrag($event)"
         draggable="true"
         [class]="borderCssClass('widget')">
      <div class="column-preview">
        <span class="fa fa-fw fa-header" aria-hidden="true"></span>Überschrift
      </div>
    </div>

    <div (dragstart)="startParagraphDrag($event)"
         draggable="true"
         [class]="borderCssClass('widget')">
      <div class="column-preview">
        <span class="fa fa-fw fa-paragraph" aria-hidden="true"></span>Absatz
      </div>
    </div>

    <div (dragstart)="startInputDrag($event)"
         draggable="true"
         [class]="borderCssClass('widget')">
      <div class="column-preview">
        <span class="fa fa-fw fa-keyboard-o" aria-hidden="true"></span>Eingabe
      </div>
    </div>

    <div (dragstart)="startButtonDrag($event)"
         draggable="true"
         [class]="borderCssClass('widget')">
      <div class="column-preview">
        <span class="fa fa-fw fa-square-o" aria-hidden="true"></span>Knopf
      </div>
    </div>

    <div (dragstart)="startLinkDrag($event)"
         draggable="true"
         [class]="borderCssClass('widget')">
      <div class="column-preview">
        <span class="fa fa-fw fa-arrow-right" aria-hidden="true"></span>Link
      </div>
    </div>

    <div (dragstart)="startQueryTableDrag($event)"
         draggable="true"
         [class]="borderCssClass('structural')">
      <div class="column-preview">
        <span class="fa fa-fw fa-table" aria-hidden="true"></span>Datentabelle
      </div>
    </div>

    <div (dragstart)="startEmbeddedHtmlDrag($event)"
         draggable="true"
         [class]="borderCssClass('structural')">
      <div class="column-preview">
        <span class="fa fa-fw fa-code" aria-hidden="true"></span>HTML
      </div>
    </div>    
  </div>
</sidebar-item-host>
