<div class="card-block">
  <div class="block-container center delete"
       (dragover)="onTrashDrag($event)"
       (drop)="onTrashDrop($event)"
       [hidden]="hideTrash">
    <span class="fa fa-trash fa-5x"></span>
  </div>

  <div class="page-preview">
    <div (dragstart)="startRowDrag($event)"
         draggable="true"
         class="row-preview">
      <div class="column-preview">
        Zeile
      </div>
    </div>

    <div (dragstart)="startRowDrag($event)"
         draggable="true"
         class="center">
      <div class="column-preview">
        Spalte
      </div>
    </div>
  </div>
</div>

<div class="card-block">
  <div class="block-container block">
    <div *ngFor="let ref of usedQueries; trackBy: queryTrackBy;"
         (dragstart)="startReferencedQueryDrag($event, ref)"
         draggable="true"
         class="table">
      {{ ref.name }} <small>({{ ref.query.name }})</small>
    </div>
  </div>
</div>
