<div class="card-block">
  <div class="block-container center delete"
       (dragover)="onTrashDrag($event)"
       (drop)="onTrashDrop($event)"
       [hidden]="hideTrash">
    <span class="fa fa-trash fa-5x"></span>
  </div>

  <div class="page-preview">
    <div (dragstart)="startRowDrag($event)"
         draggable="true"
         class="border-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-align-justify" aria-hidden="true"></span>Zeile
      </div>
    </div>

    <div (dragstart)="startRowDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-columns" aria-hidden="true"></span>Spalte
      </div>
    </div>

    <div (dragstart)="startHeadingDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-header" aria-hidden="true"></span>Überschrift
      </div>
    </div>

    <div (dragstart)="startParagraphDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-paragraph" aria-hidden="true"></span>Absatz
      </div>
    </div>

    <div (dragstart)="startQueryTableDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-table" aria-hidden="true"></span>Datentabelle
      </div>
    </div>

    <div (dragstart)="startInputDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-keyboard-o" aria-hidden="true"></span>Eingabe
      </div>
    </div>

    <div (dragstart)="startButtonDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-square-o" aria-hidden="true"></span>Knopf
      </div>
    </div>

    <div (dragstart)="startLinkDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-arrow-right" aria-hidden="true"></span>Link
      </div>
    </div>

    <div (dragstart)="startEmbeddedHtmlDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-code" aria-hidden="true"></span>HTML
      </div>
    </div>
    
  </div>
</div>

<!-- Page URL data -->
<div *ngIf="showPageRequestParameters"
     class="card-block">
  <div class="block-container block">
    <span class="caption">
      Benutzerdaten
    </span>
    <ul class="fa-ul">
      <li *ngFor="let parameter of page.requestParameters;">
        <span class="fa fa-li fa-sign-out" aria-hidden="true"></span>
        <span (dragstart)="startParameterValueProviderDrag($event, parameter.fullName)"
              draggable="true"
              class="column indent">
          {{ parameter.fullName }}
        </span>
      </li>
    </ul>
  </div>
</div>

<!-- Query data & parameters -->
<div class="card-block">
  <!-- The query itself -->
  <div *ngFor="let used of referencedQueries;"
       class="block-container block">
    <span (dragstart)="startReferencedQueryDrag($event, used)"
          [title]="used.query.name"
          draggable="true"
          class="table">
      <query-icon [query]="used.query"
                  [detailSelect]="true"
                  [showName]="false"></query-icon>{{ used.name }}
    </span>
    
    <!-- Parameters for this query -->
    <ul *ngIf="used.query.hasParameters"
        class="fa-ul">
      <li *ngFor="let parameter of used.mapping;">
        <span class="fa fa-li {{parameter.providingIconClass}}" aria-hidden="true"></span>
        <span (dragover)="onParameterDrag($event)"
              (drop)="onParameterDrop($event, parameter)"
              class="parameter indent">
          {{ parameter.parameterName }}
        </span>
      </li>
    </ul>
    
    <!-- Columns of this query -->
    <ul *ngIf="used.hasColumns"
        class="fa-ul">
      <li *ngFor="let column of used.columns; trackBy: trackByColumnId;">
        <span class="fa fa-li fa-sign-out" aria-hidden="true"></span>
        <span (dragstart)="startColumnDrag($event, used, column)"
              class="column indent"
              draggable="true">
          {{ column.fullName }}
        </span>
      </li>
    </ul>

  </div>
</div>
