<div class="card-block">
  <div class="block-container center delete"
       (dragover)="onTrashDrag($event)"
       (drop)="onTrashDrop($event)"
       [hidden]="hideTrash">
    <span class="fa fa-trash fa-5x"></span>
  </div>

  <div class="page-preview">
    <div (dragstart)="startRowDrag($event)"
         draggable="true"
         class="border-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-align-justify" aria-hidden="true"></span>Zeile
      </div>
    </div>

    <div (dragstart)="startRowDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-columns" aria-hidden="true"></span>Spalte
      </div>
    </div>

    <div (dragstart)="startHeadingDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-header" aria-hidden="true"></span>Überschrift
      </div>
    </div>

    <div (dragstart)="startParagraphDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-paragraph" aria-hidden="true"></span>Absatz
      </div>
    </div>

    <div (dragstart)="startQueryTableDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-table" aria-hidden="true"></span>Tabelle
      </div>
    </div>

    <div (dragstart)="startInputDrag($event)"
         draggable="true"
         class="widget-row-preview">
      <div class="column-preview">
        <span class="fa fa-fw fa-keyboard-o" aria-hidden="true"></span>Eingabe
      </div>
    </div>

  </div>
</div>

<div class="card-block">
  <div *ngFor="let used of referencedQueries;"
       class="block-container block">
    <div (dragstart)="startReferencedQueryDrag($event, used)"
         [title]="used.query.name"
         draggable="true"
         class="table">
      {{ used.name }}
    </div>
    <ul *ngIf="used.hasColumns">
      <li *ngFor="let column of used.columns; trackBy: trackByColumnId;">
        <span (dragstart)="startColumnDrag($event, used, column)"
              class="column indent"
              draggable="true">
          {{ column.fullName }}
        </span>
      </li>
    </ul>

  </div>
</div>
