<div (dragstart)="onDragStart($event)"
     class="tree-level block-container"
     draggable="true">
  <span [class.block]="isBlock"
        (dragover)="onDragOver($event, 0)"
        (drop)="onDrop($event, 0)">
    <span class="widget">{{ widget.type }}</span>
  </span>
  <span *ngIf="widget.text"
        class="text"
        [class.block]="isBlock">{{ widget.text }}</span>
  <esqulino-widget-node *ngFor="let widget of children"
                        [widget]="widget">
  </esqulino-widget-node>

  <span [class.block]="isBlock"
        (dragover)="onDragOver($event, afterLastChildIndex)"
        (drop)="onDrop($event, afterLastChildIndex)">
    <span *ngIf="needsClosingNode"
          class="widget-close">{{ widget.type }}</span>
  </span>

</div>
