<div class="card mb-3">
  <div class="card-header">
    <h4>Gruppen Übersicht</h4>
  </div>
  <div class="card-body">
    <table mat-table [dataSource]="toGrade$ | async" class="col-12">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Aktion</th>
        <td mat-cell *matCellDef="let assignment">
          <button
            data-spec="edit"
            type="button"
            class="btn btn-outline-primary btn-sm"
            [routerLink]="[
              '../../../course/grade/to-grade',
              assignment.submissionId
            ]"
          >
            bewerten
          </button>
          <button
            data-spec="edit"
            type="button"
            class="btn btn-outline-primary btn-sm"
          >
            bearbeiten
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="assignmentName">
        <th mat-header-cell *matHeaderCellDef>Aufgbaenname</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.assignmentName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef>Gruppenname</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.groupName | currentLanguage }}
        </td>
      </ng-container>

      <ng-container matColumnDef="assignmentEndDate">
        <th mat-header-cell *matHeaderCellDef>Abgabedatum</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.assignmentEndDate | date: "dd.MM.yyyy - hh:mm" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfSubmittedFiles">
        <th mat-header-cell *matHeaderCellDef>Abgegebene Files</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.numberOfSubmittedFiles }} /
          {{ assignment.numberOfRequiredFiles }}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfRatedParticipants">
        <th mat-header-cell *matHeaderCellDef>Bewertet</th>
        <td mat-cell *matCellDef="let assignment">
          {{ assignment.numberOfRatedParticipants }}/{{
            assignment.numberOfGroupMember
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedToGradeColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedToGradeColumns"></tr>
    </table>
  </div>
</div>
