<div (dragstart)="onDragStart($event)"
     class="tree-level block-container">
  <span [class.block]="isBlock"
        (click)="startEditing()"
        (dragover)="onDragOverNode($event, 'open')"
        (drop)="onDropNode($event, 'open')"
        draggable="true">
    <!-- Display additional parameters as they could be provided
         by more specialised implementations.
         Whitespace is not allowed in this div because it fucks up the
         spacing for the xml-node-brackets (<>) that are inserted via CSS.-->
    <div class="widget {{ borderCssClass }}"><span class="widget-type">{{ model.type }}</span>
      <ng-content select=".widget-header"></ng-content>
      <span class="widget-header">
        <widget-parameter *ngFor="let param of model.parameters">
          <span class="name">{{ param.name }}</span>
          <span class="value"><span contenteditable
                                    class="inline-editable-value"
                                    [(contenteditableModel)]="param.value"
                                    [allowBreak]="false"></span></span>
        </widget-parameter>
      </span>
    </div>
  </span>

  <!-- If this is a model that provides text, the text is shown. -->
  <p *ngIf="model.text"
     class="text"
     contenteditable
     [(contenteditableModel)]="model.text"
     [class.display-inline]="!isLongText"
     [class.block]="isLongText"
     [class.tree-level]="isLongText"></p>

  <ng-content></ng-content>

  <esqulino-node-widget-loader *ngFor="let child of children"
                               [model]="child">
  </esqulino-node-widget-loader>


  <span *ngIf="needsClosingNode"
        [class.block]="isBlock"
        (click)="startEditing()"
        (dragover)="onDragOverNode($event, 'close')"
        (drop)="onDropNode($event, 'close')"
        draggable="true">
    <span class="widget-close {{closingBorderCssClass}}"><span class="widget-type">{{ model.type }}</span></span>
  </span>

</div>
