<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New project: <%= @project_name %>(<%= @project_id %>)</h1>
    <a href="<%= @project_editor_url %>">Editor URL</a>
    <a href="<%= @project_visitor_url %>">Visitor URL</a>
  </body>
</html>
