{% case type %}
{% when "icon" %}
    {% addToSourceList %}
{% when "figure" %}
    {% imageFigure %}
{% else %}
    <div class="alert alert-danger" role="alert">
    Das Bild {{ src }} ist vom unbekannten Typ {{ type }}.
    </div>
{% endcase %}
