<ng-template cdkPortal #toolbarButtons>
  <button (click)="onSave()"
          mat-button>
    <span class="fa fa-floppy-o" aria-hidden="t"></span>
    Speichern
  </button>

  <button (click)="onDelete()"
          mat-button
          class="btn btn-outline-danger btn-sm">
    <span class="fa fa-trash-o" aria-hidden="true"></span>
    Löschen
  </button>

  <button (click)="onRegenerate()"
          [disabled]="!editedSubject?.localGeneratorInstructions"
          mat-button>
    <span class="fa fa-cogs" aria-hidden="true"></span>
    Blocksprache Regenerieren
  </button>
</ng-template>

<form *ngIf="editedSubject">
  <h2>Block Sprache <q>{{ editedSubject.name }}</q></h2>

  <!-- Editable name of the blockLanguage -->
  <div class="form-group row">
    <label for="block-language-name"
           class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input id="block-language-name"
             class="form-control"
             name="name"
             [(ngModel)]="editedSubject.name">
    </div>
  </div>

  <!-- The grammar this block language uses -->
  <div class="form-group row">
    <label for="block-language-grammar-id"
           class="col-sm-2 col-form-label">Grammatik</label>
    <div class="col-sm-10">
      <select id="block-language-grammar-id"
              name="grammar_id"
              class="custom-select"
              required
              [(ngModel)]="baseGrammarId">
        <option *ngFor="let grammar of availableGrammars | async"
                [value]="grammar.id">
          {{ grammar.name }}
        </option>
      </select>
      <a [routerLink]="['/admin/grammar/', editedSubject.grammarId]">Grammatik editieren</a>
    </div>
  </div>

  <!-- The CSS classes to apply -->
  <div class="form-group row">
    <label for="block-language-grammar-id"
           class="col-sm-2 col-form-label">Wurzel CSS Klassen</label>
    <div class="col-sm-10">
      <span *ngFor="let cssClass of editedSubject.rootCssClasses"
            (click)="onRemoveCssRootClass(cssClass)"
            class="badge badge-primary block-lang-css-root-class">
        {{ cssClass }}
      </span>
      <div>
        <input #cssClassName>
        <button (click)="onAddCssRootClass(cssClassName.value)"
                mat-button>
          <span class="fa fa-plus-circle" aria-hidden="true"></span>
          CSS Klasse hinzufügen
        </button>
      </div>
    </div>
  </div>

  <!-- Displaying all paramters -->
  <div class="row">
    <label class="col-sm-2 col-form-label">Parameter</label>
    <div class="col-sm-10">
      <edit-actual-parameters [blockLanguage]="editedSubject"></edit-actual-parameters>
    </div>
  </div>

  <!-- Displaying all traits -->
  <div class="row">
    <label class="col-sm-2 col-form-label">Merkmale</label>
    <div class="col-sm-10">
      <edit-trait-scopes [blockLanguage]="editedSubject"></edit-trait-scopes>
    </div>
  </div>

  <!-- Show up any errors that might be there -->
  <div class="row">
    <label class="col-sm-2 col-form-label">{{ generatorErrors.length }} Fehler</label>
    <div class="col-sm-10">
      <error-list [errors]="generatorErrors"></error-list>
    </div>
  </div>
  <!-- Showing model and pretty printed representation side by side -->
  <div class="row">
    <div class="col-xl-6">
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="block-language-sidebar"
                 class="col-form-label">Generator-Anweisungen</label>
        </div>
        <div class="col-sm-10">
          <json-editor [jsonValue]="editedSubject.localGeneratorInstructions"
                       (jsonValueChange)="onGeneratorDataUpdate($event)"
                       class="full-height">
          </json-editor>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Base Grammar">
          <!-- Pretty printed base grammar -->
          <textarea readonly
                    class="form-control full-height"
                    [value]="prettyPrintedGrammar | async"></textarea>
        </mat-tab>
        <mat-tab label="Generated Block Language">
          <!-- Pretty printed blockLanguage -->
          <textarea readonly
                    class="form-control full-height"
                    [value]="prettyPrintedBlockLanguage"></textarea>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</form>
