<div
  class="card mb-3"
  id="used-block-languages"
  *ngIf="course$ | async; let course "
>
  <h4 class="card-header">Gruppeneinstellung</h4>
  <div class="card-body">
    <form
      (ngSubmit)="onUpdateGroupSettings()"
      [formGroup]="updateGroupSettings"
    >
      <div class="input-group mb-3">
        <label class="form-control-label col-sm-2">
          Den Kurs öffentlich stellen
        </label>

        <input
          formControlName="public"
          class="form-check-input"
          type="checkbox"
          value=""
        />
        <small class="text-muted ms-1">
          Wenn die Gruppe nicht öffentlich ist, kann man sich auch nicht in
          einen Kurs einschreiben und muss manuell die Gruppen erstellen. Beim
          Deaktivieren, bleiben vorhandene Gruppen bestehen.
        </small>
      </div>
      <div>
        <div class="input-group">
          <div class="col-sm-2">Gruppentyp</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="groupType"
                formControlName="groupType"
                id="self-create-groups"
                (change)="onRadioButton($event.target.value)"
                value="self-create-groups"
              />
              <label class="form-check-label" for="self-create-groups">
                Gruppen selbst erstellen
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="groupType"
                id="auto-create-groups"
                (change)="onRadioButton($event.target.value)"
                formControlName="groupType"
                value="auto-create-groups"
              />
              <label class="form-check-label" for="auto-create-groups">
                Gruppen automatisch erstellen
              </label>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-group mb-3 mt-1">
          <div class="col-sm-2">
            <label>Teilnehmer wählen Gruppe aus</label>
          </div>
          <div class="col-sm-10">
            <input
              [attr.disabled]="updateGroupSettings.get('groupType').value == 'auto-create-groups'? true
              : null"
              formControlName="selfSelection"
              class="form-check-input"
              type="checkbox"
              value=""
            />
          </div>
        </div>
        <div class="input-group mb-3">
          <label class="form-control-label col-sm-2">Gruppen limitieren</label>
          <div class="col-sm-10">
            <input
              [attr.disabled]="updateGroupSettings.get('groupType').value == 'self-create-groups'? true
            : null "
              formControlName="limitNumberOfGroups"
              class="form-check-input"
              type="checkbox"
              value=""
            />
          </div>
        </div>
        <div class="input-group mb-3 row">
          <label class="form-control-label col-sm-2">
            Maximale Gruppenanzahl
          </label>
          <div class="col-sm-10">
            <input
              [attr.disabled]="!updateGroupSettings.get('limitNumberOfGroups').value? true
              : null"
              formControlName="maxNumberOfGroups"
              type="number"
              class="form-control"
              min="{{course.numberOfExistingGroups || 1 }}"
            />
            <small class="text-muted">
              Wenn bereits Gruppen vorhanden sind, kann der minimal Wert nur so
              klein sein, wie Gruppen bereits vorhanden sind.
            </small>
          </div>
        </div>
        <div class="input-group mb-3 row">
          <label class="form-control-label col-sm-2">
            Maximale Gruppengröße
          </label>
          <div class="col-sm-10">
            <input
              formControlName="maxNumberOfMembers"
              type="number"
              class="form-control"
              min="1"
            />
            <small class="text-muted">
              Anzahl der maximalen Mitglieder einer einzelnen Gruppe.
            </small>
          </div>
        </div>

        <div class="input-group mb-3">
          <label class="form-control-label col-sm-2">Einschreibungsstart</label>
          <input
            type="date"
            class="form-control"
            placeholder="Enddatum"
            name="startDate"
            formControlName="startDate"
          />
          <span class="input-group-text">Datum</span>
          <input
            formControlName="startTime"
            type="time"
            name="startTime"
            class="form-control"
          />
          <span class="input-group-text">Uhrzeit</span>

          <!-- <small class="text-muted">
            Wenn kein Eintrittsdatum vorhanden ist, können Teilnehmer sofort dem
            Kurs beitreten
          </small> -->
        </div>
        <div class="input-group mb-3">
          <label class="form-control-label col-sm-2">Einschreibungsende</label>

          <input
            formControlName="endDate"
            type="date"
            class="form-control"
            placeholder="Enddatum"
            name="endDate"
          />
          <span class="input-group-text">Datum</span>
          <input
            formControlName="endTime"
            type="time"
            name="endDateTime"
            class="form-control"
          />
          <span class="input-group-text">Uhrzeit</span>
          <!-- <small class="text-muted">
            Wenn kein Enddatum vorhanden ist, können Teilnehmer jederzeit dem
            Kurs beitreten.
          </small> -->
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary">Speichern</button>
      </div>
    </form>
  </div>
</div>
