<div class="card mb-3" id="used-block-languages">
  <h4 class="card-header">Projektmitglieder</h4>
  <div class="card-body">
    <span *ngIf="owner$ | async as owner">
      Eigentümer ist
      <b>{{ owner.displayName }}</b>
    </span>

    <div class="mb-3">
      <table mat-table [dataSource]="members$" matSort class="container-fluid">
        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{element.displayName}}</td>
        </ng-container>
        <ng-container matColumnDef="roleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rolle</th>
          <td mat-cell *matCellDef="let element">
            <may-perform [payload]="changeMemberRolePermission$ | async">
              <select
                class="form-select w-50"
                [(ngModel)]="element.changedRole"
                (change)="this.onChangeMemberRole(element, $event.target.value)"
              >
                <option value="admin">Admin</option>
                <option value="participant">Mitglied</option>
              </select>
              <span denied>{{element.roleName}}</span>
            </may-perform>
          </td>
        </ng-container>

        <ng-container matColumnDef="joinedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Eintrittsdatum
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.joinedAt; else notAccepted">
              {{tranformDate(element.joinedAt)}}
            </div>
            <ng-template #notAccepted>Noch nicht Akzeptiert</ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktion</th>
          <td mat-cell *matCellDef="let element">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onRemoveMember(element)"
            >
              Entfernen
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <may-perform [payload]="changeOwnerPermission$ | async">
      <form class="form-group row">
        <h4 class="col-sm-12">Wechsel Eigentümer</h4>
        <div class="col-sm-6">
          <app-search-user [(memberId)]="changeOwnerId"></app-search-user>
        </div>
        <button
          name="change-owner"
          type="submit"
          (click)="onChangeOwner()"
          class="btn btn-primary col-sm-2"
        >
          Wechsel Eigentümer
        </button>
      </form>
    </may-perform>

    <may-perform [payload]="addMemberPermission$ | async">
      <form class="form-group row">
        <h4 class="col-sm-12">Hinzufügen neuer Mitglieder</h4>
        <div class="col-sm-4">
          <app-search-user [(memberId)]="addMemberId"></app-search-user>
        </div>
        <div class="col-sm-2">
          <select
            [(ngModel)]="addMemberRole"
            name="add-member-role"
            class="form-select"
          >
            <!-- ToDo: Through the permissions recognize which options are possible. -->
            <option value="admin">Admin</option>
            <option value="participant">Mitglied</option>
          </select>
        </div>
        <button
          type="submit"
          class="btn btn-primary col-sm-2"
          (click)="onAddMember()"
        >
          Benutzer Hinzufügen
        </button>
      </form>
    </may-perform>
  </div>
</div>
