<p align="center">
  <truck-world-selector #worldSelector></truck-world-selector>
</p>

<p align="center" ng-if="world">
  <button [disabled]="blocked | async" (click)="goForward()">goForward</button>
  <button [disabled]="blocked | async" (click)="turnLeft()">turnLeft</button>
  <button [disabled]="blocked | async" (click)="turnRight()">turnRight</button>
  <button [disabled]="blocked | async" (click)="noTurn()">noTurn</button>
  <button [disabled]="blocked | async" (click)="load()">load</button>
  <button [disabled]="blocked | async" (click)="unload()">unload</button>
  <button [disabled]="blocked | async" (click)="wait()">wait</button>
  &nbsp;|&nbsp;
  <button [disabled]="blocked | async" (click)="runCode()">runCode</button>
  <button [disabled]="!(blocked | async)" (click)="terminateCode()">terminateCode</button>
  &nbsp;|&nbsp;
  <button [disabled]="blocked | async" (click)="undo()">undo</button>
  <button [disabled]="blocked | async" (click)="reset()">reset</button>
</p>
