<div class="row">
  <div class="col-sm-7 col-md-8 col-lg-9">
    <sql-query [query]="query"></sql-query>

    <div *ngIf="query"
         class="card card-outline-warning">
      <div class="card-header">
        <span class="fa fa-bug"></span> SQL-Darstellung
      </div>
      <div class="card-block">
        <pre>{{ query | sqlString }}</pre>
      </div>
    </div>

    <div *ngIf="query"
         class="card card-outline-warning">
      <div class="card-header">
        <span class="fa fa-bug"></span> JSON-Darstellung
      </div>
      <div class="card-block">
        <pre>{{ query | json }}</pre>
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-4 col-lg-3">
    <sql-sidebar [query]="query"></sql-sidebar>
  </div>
</div>
