<div class="sql">
  <div class="content">
    <sql-query [query]="query"></sql-query>

    <sql-result [result]="result"></sql-result>

    <sql-validator [query]="query"></sql-validator>

    <div *ngIf="query"
         class="alert alert-info">
      <h6>
        <span class="fa fa-bug"></span>
        SQL-Darstellung
      </h6>
      <pre>{{ query | sqlString }}</pre>
    </div>

    <div *ngIf="query && false">
      <span class="fa fa-bug"></span> JSON-Darstellung
      <pre>{{ query | json }}</pre>
    </div>
  </div>
  <sql-sidebar class="sidebar" [query]="query"></sql-sidebar>
  <div class="sidebar-hack">
    <!-- Dirty hack to ensure the main content is not too wide -->
  </div>
</div>
