<span (dragenter)="onAllowedDrag($event)"
      (dragover)="onAllowedDrag($event)"
      (dragleave)="onAllowedDragLeave($event)"
      [ngSwitch]="expr.templateIdentifier"
      draggable="true">
  <template ngSwitchWhen="missing">
    <span (drop)="onMissingDrop($event)"
          class="missing"><span class="fa fa-question-circle"></span></span>
  </template>
  <template ngSwitchWhen="constant">
    <span (drop)="onConstantDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }"
          class="constant">{{ expr }}</span>
  </template>
  <template ngSwitchWhen="column">
    <span (drop)="onColumnDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="column">{{ expr }}</span>
  </template>
  <template ngSwitchWhen="parameter">
    <span (drop)="onParameterDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="parameter">
      <span class="fa fa-user-plus"></span> {{ expr.key }}
    </span>
  </template>
  <template ngSwitchWhen="binary">
    <span (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="expression">
      <sql-expr [expr]="expr.lhs"
                [query]="query"
                [topLevel]="'false'">
      </sql-expr>
      <span class="operator">{{ expr.operator }}</span>
      <sql-expr [expr]="expr.rhs"
                [query]="query"
                [topLevel]="'false'">
      </sql-expr>
    </span>
  </template>
  <template ngSwitchDefault>
    Error: Unknown expression type identifier
  </template>
</span>
