<span [ngSwitch]="expr.templateIdentifier">
  <template ngSwitchWhen="missing">
    <span (dragenter)="onAllowedDrag($event)"
          (dragover)="onAllowedDrag($event)"
          (dragleave)="onAllowedDragLeave($event)"
          (drop)="onMissingDrop($event)"
          class="missing">
      <span class="fa fa-question-circle"></span>
    </span>
  </template>
  <template ngSwitchWhen="constant">
    <span *ngIf="!isEditing"
          (dragenter)="onAllowedDrag($event)"
          (dragover)="onAllowedDrag($event)"
          (dragleave)="onAllowedDragLeave($event)"
          (drop)="onConstantDrop($event)"
          (click)="isEditing = true"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }"
          class="constant">{{ expr }}</span>
    <span *ngIf="isEditing"
          class="constant">
      <input type="text"
             (blur)="onBlur()"
             [(ngModel)]="expr.value"
             [size]="expr.value.length + 1">
    </span>
  </template>
  <template ngSwitchWhen="column">
    {{ expr }}
  </template>
  <template ngSwitchWhen="binary">
    <span class="expression">
      <sql-expr [expr]="expr.lhs"
                [query]="query"
                [topLevel]="'false'">
      </sql-expr>
      <span class="operator">{{ expr.operator }}</span>
      <sql-expr [expr]="expr.rhs"
                [query]="query"
                [topLevel]="'false'">
      </sql-expr>
    </span>
  </template>
  <template ngSwitchDefault>
    Error: Unknown expression type identifier
  </template>
</span>
