<!-- Rendering of the actual WHERE component -->
<div *ngIf="query && query.where"
     class="line">
  <div class="component">WHERE</div>
  <div class="columns">
    <sql-expr [query]="query"
              [expr]="query.where.first">
    </sql-expr>
  </div>
</div>

<!-- AND / OR components following the WHERE component -->
<div *ngFor="let sub of query?.where?.subsequent"
     class="line">
  <div class="component indent">{{ sub.operator }}</div>
  <div class="columns">
    <sql-expr [query]="query"
              [expr]="sub.expr">
    </sql-expr>
  </div>
</div>

<!-- Blueprint for new WHERE component -->
<div class="block line"
     *ngIf="query && showBlueprintWhere">
  <div class="component">WHERE</div>
  <div class="columns">
    <span (dragover)="onBlueprintDrag($event)"
          (drop)="onBlueprintWhereDrop($event)"
          class="column blueprint">
      <span class="fa fa-plus"></span>
    </span>
  </div>
</div>

<!-- Blueprint for new AND component -->
<div class="block line"
     *ngIf="query && showBlueprintSubsequent">
  <div class="component indent">AND</div>
  <div class="columns">
    <span (dragover)="onBlueprintDrag($event)"
          (drop)="onBlueprintSubsequentDrop($event, 'AND')"
          class="column blueprint">
      <span class="fa fa-plus"></span>
    </span>
  </div>
</div>

<!-- Blueprint for new OR component -->
<div class="block line"
     *ngIf="query && showBlueprintSubsequent">
  <div class="component indent">OR</div>
  <div class="columns">
    <span (dragover)="onBlueprintDrag($event)"
          (drop)="onBlueprintSubsequentDrop($event, 'OR')"
          class="column blueprint">
      <span class="fa fa-plus"></span>
    </span>
  </div>
</div>
