<div class="sidebar">
  <div class="block-container center">
    <div (dragstart)="dragService.startConstantDrag($event)"
         class="constant"
         draggable="true">
      Konstante Zahl
    </div>
  </div>

  <div class="block-container center">
    <div (dragstart)="dragService.startCompoundDrag($event)"
         class="expression"
         draggable="true">
      <span class="constant"><span class="fa fa-question-circle"></span></span>
      <span class="operator"> == </span>
      <span class="constant"><span class="fa fa-question-circle"></span></span>
    </div>
  </div>

  
  <hr />

  <div class="block-container block">
    <template ngFor #table [ngForOf]="query?.schema" #last="last" >
      <div (dragstart)="dragService.startTableDrag($event)"
           class="table"
           draggable="true">
        <span class="fa fa-table fa-fw"></span>
        {{ table.name }}
      </div>
      <ul>
        <li *ngFor="#column of table.columns">
          <span (dragstart)="dragService.startColumnDrag($event, table.name, column.name)"
                class="column indent"
                draggable="true">
            {{ column.name }}
          </span>
        </li>
      </ul>
      <hr [hidden]="last">
    </template>
  </div>
</div>
