<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/vendor/css/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Seite 2</h1>
        <p>Hier ist ein Absatz, der was zur zweiten Seite erzählt. Unter diesem Absatz ist dann noch eine Tabelle zu sehen.</p>
      </div>
      <div class="col-md-12">
        {% include "query_table" table: query.kv_all %}
      </div>
      <div class="col-md-12">
        <p>In diesem Absatz werden am Ende die <a href="https://shopify.github.io/liquid/basics/introduction/">Liquid Ausdrücke</a> {% raw %}{{ query.kv_single.key }} -&gt; {{ query.kv_single.value }}{% endraw %} ausgewertet: {{ query.kv_single.key }} -&gt; {{ query.kv_single.value }}</p>
      </div>
    </div>
  </div>
</body>
</html>
