<div [class.query-preview]="queryInProgress">
  <h4 class="card-title">
    <i *ngIf="queryInProgress" class="fa fa-refresh fa-spin fa-fw"></i>
    Ergebnisvorschau
    <ng-container *ngIf="result">
      <span *ngIf="result.isPartial"
            class="float-right badge badge-warning">
        {{ result.rowCount }} von {{ result.totalCount }} Zeilen
      </span>
      <span *ngIf="!result.isPartial"
            class="float-right badge badge-success">
        {{ result.rowCount }} Zeilen
      </span>
    </ng-container>
  </h4>
  <table *ngIf="result"
         class="table">
    <thead>
      <tr>
        <th *ngFor="let column of result.columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of result.rows">
        <td *ngFor="let column of row">
          {{ column }}
        </td>
      </tr>
    </tbody>
  </table>

  <pre *ngIf="error"
       [innerText]="error | json"></pre>
</div>
