<div class="card card-body mb-3">
  <h4 class="card-title">Ausgangsabfrage</h4>
  <pre><code [innerText]="generatedCode$ | async"></code></pre>
</div>

<div class="card card-body mb-3">
  <h4 class="card-title">
    Aktueller Zwischenschritt
  </h4>
  <editor-block-host
    [codeResource]="codeResource$ | async"
    [node]="(currentTree$ | async).rootNode"
    [blockLanguage]="blockLanguage$ | async"
    [readOnly]="true"
  ></editor-block-host>
</div>

<query-stepwise-description
  [step]="currentStep$ | async"
></query-stepwise-description>

<query-stepwise-result
  [queryResult]="currentResult$ | async"
  [step]="currentStep$ | async"
  [prevResult]="prevResult$ | async"
></query-stepwise-result>
