<div class="card card-body mb-3">
  <h4 class="card-title">Kompilierung</h4>
  <pre><code [innerText]="(codeResource$ | async).generatedCode | async"></code></pre>
</div>

<div class="card card-body mb-3">
  <editor-block-host
    [codeResource]="codeResource$ | async"
    [node]="(currentTree$ | async).rootNode"
    [blockLanguage]="blockLanguage$ | async"
    [readOnly]="true"
  ></editor-block-host>
</div>
<!--
<ast-code-generator></ast-code-generator> 
<pre>{{ (currentDescription$ | async)| json }}</pre>
-->
<query-stepwise-description
  [step]="currentStep$ | async"
></query-stepwise-description>

<query-stepwise-result
  [queryResult]="currentResult$ | async"
  [step]="currentStep$ | async"
></query-stepwise-result>
