<div class="card">
  <div class="card-header">
    <h3>{{ data.requirementName }}</h3>
  </div>
  <form [formGroup]="changeAssignmentDescriptionForm" (ngSubmit)="saveUpdate()">
    <div class="card-body">
      <div class="form-group row mb-2">
        <label for="assignment-description" class="col-sm-2 form-control-label">
          Anforderungsbeschreibung
        </label>
        <div class="col-sm-10">
          <textarea
            formControlName="requirementDescription"
            class="form-control"
            name="descirption"
          ></textarea>
          <small class="text-muted">
            Beschreibe diese Anforderung spezifischer. Beschreibe was genau mit
            dieser Anfoderung gelöst werden soll. Sollte hier nichts eingetragen
            worden sein, wird für diese Anforderung die Aufgabenbeschreibung
            verwendet.
          </small>
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-danger me-1" type="button" mat-dialog-close>
          Abbrechen
        </button>
        <button class="btn btn-primary me-1" type="button" type="submit">
          Speichern
        </button>
      </div>
    </div>
  </form>
</div>
