<div class="card mb-3">
  <div class="card-header">
    <h4>Musterlösung</h4>
  </div>
  <div class="card-body">
    <div class="from-group row mb-3">
      <label class="col-sm-2 col-form-label">Blocksprache</label>
      <div class="col-sm-10">
        <select
          [disabled]=""
          name="block_language"
          class="form-select"
          [(ngModel)]="solutionBlockLanguageId"
        >
          <option value="undefined">-- Blocksprache wählen --</option>
          <option
            *ngFor="let block of availableBlockLanguages$ | async"
            [value]="block.id"
          >
            {{ block.name }}
          </option>
        </select>
        <small class="text-muted">
          Welche Blocksprache soll genutzt werden?
        </small>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" (click)="saveSolution()">
    Speichern
  </button>
</div>
