
<app-requires-javascript [showMessage]="false">
  <ng-container active>
    <button mat-icon-button [matMenuTriggerFor]="naturalLang" aria-label="Language Selection">
        {{ localeFlag }}
    </button>
    <mat-menu #naturalLang="matMenu">
      <button mat-menu-item (click)="changeLanguage('de')">
        <span>🇩🇪 Deutsch</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('en')">
        <span>🇬🇧 English</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-container inactive>
    <a [routerLink]="['language']">
        {{ localeFlag }}
    </a>
  </ng-container>
</app-requires-javascript>
