<app-requires-javascript>
  <ng-container active>
    <button mat-icon-button [matMenuTriggerFor]="naturalLang" aria-label="Language Selection">
      {{ localeFlag }}
    </button>
    <mat-menu #naturalLang="matMenu">
      <ng-container *ngFor="let localItem of locales">
        <button mat-menu-item (click)="changeLanguage(localItem.token)">
          <span>{{localItem.flag}} {{localItem.name}}</span>
        </button>
      </ng-container>
    </mat-menu>
  </ng-container>
  <ng-container inactive>
      <a *ngFor="let localeItem of locales"
         [href]='currentUrlForLanguage(localeItem.token)'>
        {{ localeItem.flag }}
      </a>
  </ng-container>
</app-requires-javascript>