<select class="custom-select" name="language" [(ngModel)]="language">
  <option *ngFor="let item of languages" [value]="item.token">
    {{ item.token | uppercase }}
  </option>
</select>

<button
  *ngIf="!isCurrentLanguageAvailable"
  (click)="addLanguage(language)"
  class="btn btn-block btn-primary add-language"
>
  {{ placeholder }} für "{{ language }}" hinzufügen
</button>

<!-- Possibly display the input field -->
<input
  *ngIf="control === 'input' && isCurrentLanguageAvailable"
  type="text"
  name="edited-input"
  class="form-control"
  [placeholder]="placeholder"
  [(ngModel)]="currentString"
/>

<!-- Possibly display the textarea -->
<textarea
  *ngIf="control === 'textarea' && isCurrentLanguageAvailable"
  class="form-control"
  name="edited-text"
  id="edit-text"
  rows="10"
  [placeholder]="placeholder"
  [(ngModel)]="currentString"
></textarea>

<!-- Allow deletion of current language -->
<button
  *ngIf="isCurrentLanguageAvailable"
  (click)="deleteLanguage()"
  class="btn btn-block btn-danger delete-language"
>
  Löschen
</button>
