<multilingual-input *ngIf="control == 'input'" [(editingString)]="firstString" [control]="'input'"></multilingual-input>
<multilingual-input *ngIf="control == 'input'" [(editingString)]="secondString" [language]="language" [control]="'input'"></multilingual-input>

<div class="row" *ngIf="control == 'textarea'">
  <div class="col-md-6">
    <multilingual-input [(editingString)]="firstString" [control]="'textarea'"></multilingual-input>
  </div>
  <div class="col-md-6">
    <multilingual-input [(editingString)]="secondString" [language]="language" [control]="'textarea'"></multilingual-input>
  </div>
</div>