<div id="multilingual-input" *ngIf="control == 'input'">
  <div class="row">
    <div class="col-md-2">
      <select class="custom-select"  name="language" [(ngModel)]="language">
        <option *ngFor="let item of languages" [value]="item.token">{{ item.token | uppercase }}</option>
      </select>
    </div>
    <div *ngIf="isNeedAnObject"
         class="col-md-2">
      <button (click)="addObject()"
              class="btn btn-block btn-primary">
        {{ placeholder }} für "{{ language }}" hinzufügen
      </button>
    </div>
    <div class="col-md-6">
      <input *ngIf="isCurrentLanguageAvailable"
             type="text" name="edited-input"
             [value]="currentString[language] || ''"
             class="form-control"
             [placeholder]="placeholder"
             [(ngModel)]="editingString[language]">
    </div>
    <div *ngIf="isCurrentLanguageAvailable"
         class="col-md-1">
      <button *ngIf="isCurrentLanguageAvailable"
              (click)="deleteLanguage()"
              class="btn btn-block btn-danger">
        Löschen
      </button>
    </div>
  </div>
</div>

<div id="multilingual-input" *ngIf="control == 'textarea'">
  <div class="row">
    <div class="col-md-3">
      <select class="custom-select"  name="language" [(ngModel)]="language">
        <option *ngFor="let item of languages" [value]="item.token">{{ item.token | uppercase }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <textarea *ngIf="isCurrentLanguageAvailable"
          class="form-control"
          name="edited-text"
          id="edit-text"
          [value]="currentString[language] || ''"
          rows="10" [placeholder]="placeholder"
          [(ngModel)]="editingString[language]">
        </textarea>
        <button *ngIf="isNeedAnObject" (click)="addObject()" type="button" class="btn btn-primary">Hinzufügen</button>
        <button *ngIf="isCurrentLanguageAvailable" (click)="deleteLanguage()" type="button" class="btn btn-primary">Löschen</button>
      </div>
    </div>
  </div>
</div>
