<button mat-menu-item [matMenuTriggerFor]="menu">
  <span class="fa fa-fw fa-tasks"></span>
  Tasks
</button>
<mat-menu id="test" #menu="matMenu">
  <div id="st-card">
    <p *ngIf="hasNoTasks() | async; else showList">
      There aren't any tasks yet!
    </p>
    <ng-template #showList>
      <md-content-card class="st-card-content">
        <ul>
          <li *ngFor="let task of allTasks$ | async">
            <div [ngSwitch]="task.type">
              <div *ngSwitchCase="'pending'" class="st-container st-pending">
                <p>{{task.description}}</p>
                <span>
                  <i class="fa fa-fw fa-xs fa-cog fa-spin" matListIcon></i>
                </span>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
              <div *ngSwitchCase="'success'" class="st-container">
                <p>{{task.description}}</p>
                <i class="fa fa-fw fa-xs fa-check" matListIcon></i>
              </div>
              <div *ngSwitchCase="'failure'" class="st-container">
                <p>{{task.description}}</p>
                <i class="fa fa-fw fa-xs fa-times" matListIcon></i>
              </div>
            </div>
          </li>
        </ul>
      </md-content-card>
    </ng-template>
  </div>
</mat-menu>
