<mat-toolbar color="primary">
  <!-- The menu toggle (if applicable) -->
  <ng-content select="[position=toggle]"></ng-content>

  <a mat-button
     [routerLink]="'/about'">
    <img src="/vendor/logos/blattwerkzeug-logo.svg"
         height="20px"
         title="BlattWerkzeug">
    <img src="/vendor/logos/blattwerkzeug-caption.svg"
         height="20px"
         title="BlattWerkzeug">
  </a>

  <!-- Static content at the beginning of this toolbar -->
  <ng-content select="[position=start]"></ng-content>

  <!-- Things the user might do here -->
  <ng-container *ngIf="itemsPortal$ | async as itemsPortal"
                [cdkPortalOutlet]="itemsPortal"></ng-container>

  <!-- Filling out the space in the middle -->
  <span class="fill-space"></span>

  <!-- Static contentent at the end of this toolbar -->
  <ng-content select="[position=end]"></ng-content>
  <natural-language-selector></natural-language-selector>
</mat-toolbar>