<sidebar-item-host>
  <!-- Query Selection -->
  <h5>Benutzte Abfrage</h5>
  <select [(ngModel)]="referencedQueryName"
          id="table-selected-query"
          class="form-control">
    <option *ngFor="let avail of availableQueries;"
            [value]="avail.name">
      {{avail.name}}
      <span *ngIf="avail.name != avail.query.name">({{ avail.query.name }})</span>
    </option>
  </select>

  <!-- Column Selection -->
  <h5>Mögliche Spalten</h5>
  <div class="block-container block">
    <div *ngFor="let column of availableColumns;"
         class="column"
         draggable="true">
      {{ column.shortName }}
    </div>
  </div>  
</sidebar-item-host>
