<!-- Outside capture to inform the drag-process about being "out of bounds" -->
<div class="ast" (mouseover)="onEditorDragEnter($event)">
  <!-- The actual editor is composed based on the instructions of the block
       language. These are loaded dynamically here. -->
  <div class="row">
    <div
      *ngFor="let editorComponent of (editorComponents | async)"
      [ngClass]="editorComponent.columnClasses"
    >
      <div class="card card-body mb-3">
        <ng-container
          *ngIf="editorComponent.portal | async as portal; else noPortal"
        >
          <ng-template [cdkPortalOutlet]="portal"></ng-template>
        </ng-container>
        <ng-template #noPortal>
          Loading ...
        </ng-template>
      </div>
    </div>
  </div>
</div>
