<ng-container [ngSwitch]="visual.blockType" [lifecycleLog]="visual.blockType">
  <!-- Show a constant value directly specified in the block description -->
  <span
    class="constant"
    *ngSwitchCase="'constant'"
    [ngClass]="visual.cssClasses"
    [blockBase]="visual"
    [textContent]="asBlockConstant(visual).text"
  ></span>
  <!-- Show a value that is derived from the property of a node -->
  <span
    *ngSwitchCase="'interpolated'"
    [ngClass]="visual.cssClasses"
    [blockBase]="visual"
  >
    {{ node.properties[asBlockInterpolated(visual).property] }}
  </span>

  <!-- Allowing the user to edit a value -->
  <editor-block-render-error
    *ngSwitchCase="'error'"
    [node]="node"
    [visual]="visual"
    [ngClass]="visual.cssClasses"
  ></editor-block-render-error>

  <!-- Allowing the user to edit a value -->
  <editor-block-render-input
    *ngSwitchCase="'input'"
    [node]="node"
    [visual]="visual"
  ></editor-block-render-input>
  <!-- Iterate over children of a node -->
  <editor-block-render-drop-target
    *ngSwitchCase="'dropTarget'"
    [node]="node"
    [dropLocation]="node.location"
    [visual]="visual"
    [ngClass]="visual.cssClasses"
  ></editor-block-render-drop-target>
  <!-- Iterate over children of a node -->
  <ng-container *ngSwitchCase="'iterator'">
    <ng-container
      *ngFor="let childNode of childNodes; let lastChild = last; let firstChild = first;"
    >
      <editor-block-render-drop-target
        [node]="childNode"
        [dropLocation]="childNode.location"
        [visual]="iteratorDropTargetVisual"
        [ngClass]="visual.cssClasses"
      ></editor-block-render-drop-target>

      <!-- Rendering the actual editor-blocks. This element is an immediate child of the
           flex-element above. It is therefore the only place where flex-children specific
           properties can be applied.-->
      <editor-block-render
        *ngFor="let childVisualBlock of iteratorGetEditorBlock(childNode).visual"
        [node]="childNode"
        [visual]="childVisualBlock"
      ></editor-block-render>

      <!-- Possibly render something in between the nodes. -->
      <ng-container *ngIf="!lastChild">
        <editor-block-render
          *ngFor="let sepBlock of iteratorSeparatorBlocks"
          [visual]="sepBlock"
          [node]="childNode"
        ></editor-block-render>
      </ng-container>
    </ng-container>

    <!-- Show a drop target to insert after the last block -->
    <editor-block-render-drop-target
      [dropLocation]="lastNodeLocation"
      [visual]="iteratorDropTargetVisual"
      [ngClass]="visual.cssClasses"
    ></editor-block-render-drop-target>
  </ng-container>
  <!-- Display a draggable block -->
  <ng-container *ngSwitchCase="'block'">
    <!-- Okay, these properties are a convoluted mess that should probably be cleared
         up sometime in the future. Lets see what we have:

         * node and visual are basicly passed through
         * TODO: The animations should be defined on the child  -->
    <editor-block-render-block
      #currentBlock
      [@background]="currentBlock.backgroundState | async"
      [blockBase]="visual"
      [node]="node"
      [visual]="visual"
      [ngClass]="visual.cssClasses"
      [class.being-replaced]="(currentBlock.isBeingReplaced | async)"
      draggable="true"
    ></editor-block-render-block>
  </ng-container>
  <!-- Render multiple visuals for the same node -->
  <editor-block-container
    *ngSwitchCase="'container'"
    [node]="node"
    [visual]="visual"
  ></editor-block-container>

  <!-- Something is broken, display an error message -->
  <div *ngSwitchDefault>
    Implementation Error: No matching component for block type "{{
    visual.blockType }}" available
  </div>
</ng-container>
