<ng-container *ngFor="let childNode of childNodes; let lastChild = last;">
  <!-- Rendering the actual editor-blocks. This element is an immediate child of the
       flex-element above. It is therefore the only place where flex-children specific
       properties can be applied.-->
  <ng-container *ngFor="let childVisualBlock of getEditorBlock(childNode).visual">
    <editor-block-render class="from-iterator"
                         [blockFlexChild]="childVisualBlock"
                         [codeResource]="codeResource"
                         [node]="childNode"
                         [visual]="childVisualBlock"></editor-block-render>
  </ng-container>

  <!-- Possibly render something in between the nodes. -->
  <ng-container *ngIf="!lastChild">
    <editor-block-render *ngFor="let sepBlock of separatorBlocks"
                         [blockFlexChild]="sepBlock"
                         [codeResource]="codeResource"
                         [visual]="sepBlock"
                         [node]="childNode"></editor-block-render>
  </ng-container>
</ng-container>
