<div class="ast"
     (mouseover)="onEditorDragEnter($event)">
  <div class="content">
    <!-- The actual editor is composed based on the instructions of the block
         language. -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-body mb-3">
          <code-resource-settings></code-resource-settings>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card card-body mb-3">
          <block-root></block-root>
        </div>
      </div>

      <div *ngFor="let editorComponent of (editorComponents | async)"
           class="col-lg-6">
        <div class="card card-body mb-3">
          <ng-template [cdkPortalOutlet]="editorComponent"></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
