<span
  *ngIf="isCurrentlyExecuted$ | async"
  class="fa fa-cog fa-spin fa-fw"
></span>

<!-- Render all components of this block -->
<editor-block-render
  *ngFor="let childVisualBlock of visual.children"
  [visual]="childVisualBlock"
  [node]="node"
></editor-block-render>

<ng-container *ngIf="showRelativeDropLocations | async">
  <div (mouseover)="onMouseOver($event, 'begin')" class="begin-drop"></div>

  <div (mouseover)="onMouseOver($event, 'end')" class="end-drop"></div>
</ng-container>
