<!-- Making the parent draggable so we can cancel
     all draggable events during editing.-->
<span
  *ngIf="currentlyEditing; else notEditing"
  (dragstart)="onDragStart($event)"
  [ngClass]="visual.cssClasses"
  [blockBase]="visual"
  draggable="true"
>
  <ng-container [ngSwitch]="editedType">
    <ng-container *ngSwitchDefault>
      <input
        [focus]="true"
        [(ngModel)]="editedValue"
        (keyup)="onInputKeyUp($event)"
        [size]="inputSize"
        type="text"
        draggable="false"
        #lineInput
      />
      <button #btnAccept (click)="acceptInput()" class="btn btn-sm btn-success">
        ✓
      </button>
      <button #btnCancel (click)="cancelInput()" class="btn btn-sm btn-warning">
        ✗
      </button>
    </ng-container>
  </ng-container>
</span>
<ng-template #notEditing>
  <span class="not-editing" [ngClass]="visual.cssClasses" [blockBase]="visual">
    <ng-container [ngSwitch]="editedType">
      <input
        *ngSwitchCase="'boolean'"
        [checked]="currentValue === 'true'"
        (change)="setEditedProperty($event.target.checked)"
        type="checkbox"
        draggable="false"
      />
      <ng-container *ngSwitchDefault>
        <span (click)="onActivateEditing($event)">
          <span *ngIf="hasValue; else noValue" class="display-value">
            {{ currentDisplayValue }}
          </span>
          <ng-template #noValue>
            <i>undefined</i>
          </ng-template>
        </span>
      </ng-container>
    </ng-container>
  </span>
</ng-template>
