<ng-container [ngSwitch]="visual.blockType">
  <!-- Show a constant value directly specified in the block description -->
  <span class="constant"
        *ngSwitchCase="'constant'"
        [ngClass]="visual.cssClasses"
        [blockBase]="visual">
    {{ asBlockConstant(visual).text }}
  </span>
  <!-- Show a value that is derived from the property of a node -->
  <span *ngSwitchCase="'interpolated'"
        [ngClass]="visual.cssClasses"
        [blockBase]="visual">
    {{ node.properties[asBlockInterpolated(visual).property] }}
  </span>

  <!-- Allowing the user to edit a value -->
  <ng-container *ngSwitchCase="'error'">
    <editor-block-render-error [codeResource]="codeResource"
                               [node]="node"
                               [visual]="visual"
                               [ngClass]="visual.cssClasses">
    </editor-block-render-error>
  </ng-container>

  <!-- Allowing the user to edit a value -->
  <ng-container *ngSwitchCase="'input'">
    <editor-block-render-input [codeResource]="codeResource"
                               [node]="node"
                               [visual]="visual"
                               [readOnly]="readOnly">
    </editor-block-render-input>
  </ng-container>
  <!-- Iterate over children of a node -->
  <ng-container *ngSwitchCase="'dropTarget'">
    <editor-block-render-drop-target [codeResource]="codeResource"
                                     [node]="node"
                                     [dropLocation]="node.location"
                                     [visual]="visual"
                                     [readOnly]="readOnly"
                                     [ngClass]="visual.cssClasses">
    </editor-block-render-drop-target>
  </ng-container>
  <!-- Iterate over children of a node -->
  <ng-container *ngSwitchCase="'iterator'">
    <ng-container *ngFor="let childNode of childNodes; let lastChild = last; let firstChild = first;">
      <editor-block-render-drop-target [codeResource]="codeResource"
                                       [node]="childNode"
                                       [dropLocation]="childNode.location"
                                       [visual]="iteratorDropTargetVisual"
                                       [readOnly]="readOnly"
                                       [ngClass]="visual.cssClasses">
      </editor-block-render-drop-target>

      <!-- Rendering the actual editor-blocks. This element is an immediate child of the
           flex-element above. It is therefore the only place where flex-children specific
           properties can be applied.-->
      <editor-block-render *ngFor="let childVisualBlock of iteratorGetEditorBlock(childNode).visual"
                           [blockLanguage]="blockLanguage"
                           [codeResource]="codeResource"
                           [node]="childNode"
                           [visual]="childVisualBlock"
                           [readOnly]="readOnly"></editor-block-render>

      <!-- Possibly render something in between the nodes. -->
      <ng-container *ngIf="!lastChild; else lastDrop;">
        <editor-block-render *ngFor="let sepBlock of iteratorSeparatorBlocks"
                             [blockLanguage]="blockLanguage"
                             [codeResource]="codeResource"
                             [visual]="sepBlock"
                             [node]="childNode"></editor-block-render>
      </ng-container>
    </ng-container>

    <!-- Show a drop target to insert after the last block -->
    <editor-block-render-drop-target [codeResource]="codeResource"
                                     [dropLocation]="lastNodeLocation"
                                     [visual]="iteratorDropTargetVisual"
                                     [readOnly]="readOnly"
                                     [ngClass]="visual.cssClasses">
    </editor-block-render-drop-target>
  </ng-container>
  <!-- Display a draggable block -->
  <ng-container *ngSwitchCase="'block'">
    <!-- Okay, these properties are a convoluted mess that should probably be cleared
         up sometime in the future. Lets see what we have:

         * codeResource, node, visual and readOnly are basicly passed through
         * TODO: The animations should be defined on the child
         * draggable and (dragStart) offload the drag detection to the browser
         * (mouseover) informs the global state about drag events -->
    <editor-block-render-block #currentBlock
                               [@background]="currentBlock.backgroundState | async"
                               [blockLanguage]="blockLanguage"
                               [blockLayout]="visual"
                               [blockBase]="visual"
                               [codeResource]="codeResource"
                               [node]="node"
                               [visual]="visual"
                               [readOnly]="readOnly"
                               [ngClass]="visual.cssClasses"
                               class="{{ visual.direction }}"
                               [class.read-only]="readOnly"
                               [class.being-replaced]="(currentBlock.isBeingReplaced | async)"
                               draggable="true"
                               (dragstart)="currentBlock.onStartDrag($event, block)"
                               (mouseover)="currentBlock.onMouseEnter($event, 'block')">
    </editor-block-render-block>
  </ng-container>
  <!-- Render multiple visuals for the same node -->
  <editor-block-container *ngSwitchCase="'container'"
                          [ngClass]="visual.cssClasses">
    <editor-block-render *ngFor="let childVisual of childVisuals;"
                         [blockLanguage]="blockLanguage"
                         [visual]="childVisual"
                         [codeResource]="codeResource"
                         [node]="node"
                         [readOnly]="readOnly"></editor-block-render>
  </editor-block-container>

  <!-- Something is broken, display an error message -->
  <div *ngSwitchDefault>
    Implementierungsfehler: Kein passender Blocktyp "{{ visual.blockType }}" verfügbar
  </div>
</ng-container>
<div *ngIf="breakAfter" class="break-after"></div>