<!-- Making the parent draggable so we can cancel
     all draggable events during editing.-->
<div *ngIf="currentlyEditing; else notEditing"
     (dragstart)="onDragStart($event)"
     [blockBase]="visual"
     draggable="true">
  <input [(ngModel)]="editedValue"
         (keyup)="onInputKeyUp($event)"
         [size]="inputSize"
         type="text"
         draggable="false"
         #lineInput>
  <button (click)="acceptInput()" class="btn btn-sm btn-success">✓</button>
  <button (click)="cancelInput()" class="btn btn-sm btn-warning">✗</button>
</div>
<ng-template #notEditing>
  <span [blockBase]="visual" (click)="onActivateEditing($event)">{{ currentValue }}</span>
</ng-template>
